@mixin responsive($break) {
    @if $break == small-screens {
        @media (min-width: $break-small) { 
            @content; 
        }
    }
    @else if $break == large-screens {
        @media (min-width: $break-large) { 
            @content; 
        }
    }
}

@mixin footer {
    width: $width-wide;
    text-align: center;
    margin: auto;
    color: white;
    
    .sns {
        width: $width-wide;
        height: 70px;
        background-color: #ffbe0f;
        display: flex;
        justify-content: center;
        background-color: #ffbe0f;
        width: $width-wide;
        height: 67px;
        @include responsive(large-screens) {
            height: 66px;
        }
        a {
            margin-top: 10px;
            margin-right: 42px;
        a:last-child {
            margin-right: 0;
        }
            img {
                width: 48px;
            }
        @include responsive(large-screens) {
            margin-right: 20px;
            }
        }
    }

    .footer-back {
        background: url(../images/footer_pattern.png);
        background-size: cover;
        background-color: #2f2411;
        @include responsive(large-screens) {
            background: url(../images/header_backpc.png);
            background-size: cover;
            background-color: #2f2411;
        }

        .footLogo {
            a {
                padding: 62px;
                img {
                    margin: 0 auto;
                }
            }
        }
    
        hr {
            width: 411px;
            height: 3px;
            background-color: #ffbe0f;
            margin: 60px auto;
        }
        .public {
            display: flex;
            justify-content: center;
            a {
                font-size: 20px;
                font-family: $font-main;
                margin-right: 42px;
                margin-bottom: 46px;
                &:hover {
                    color: #ffbe0f;
                }
            }
            a:last-child {
                margin-right: 0;
            }
        }
        .address {
            font-size: 20px;
        }
        .question {
            display: flex;
            justify-content: center;
            font-size: 18px;
            address {
                    font-size: 18px;
                    margin-right: 42px;
                    margin-bottom: 34px;
                }
            }
        .copyright {
            p {
                padding-bottom: 51px;
            }   
        }
    }
}