@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}

// ==== header ====
header {
    width: $width-wide;
    background: url(../images/header_back.png) no-repeat;
    background-size: cover;
    z-index: 1000;

    @include responsive(large-screens) {
        height: 340px;
    }

    .logo-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        .search-menu {
            display: flex;
            a {
                margin-right: 30px;
                img {
                    width: 36px;
                }
            }
            a:first-child {
                display: none;
            }
            a:nth-child(2) {
                display: none;
            }
            .menu-toggle-btn {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 10px;
                span {
                    width: 25px;
                    height: 3px;
                    background-color: black;
                }
            }
            .menu-toggle-btn.open {
                span:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }
                span:nth-child(2) {
                    opacity: 0;
                }
                span:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    @include responsive(large-screens) {
        .logo-icon {
            .search-menu {
                a:first-child {
                    display: block;
                }
                a:nth-child(2) {
                    display: block;
                }
                a:nth-child(3) {
                    display: none;
                }
                .menu-toggle-btn {
                    display: none;
                }
            }    
        }
    }
    .side-menu {
        background: url(../images/header-sidemenu.png) no-repeat;
        position: fixed;
        width: 60%; 
        height: 100%;
        top: 0;
        right: -60%; 
        background-color: white; 
        z-index: 1;
        transition: right 0.3s;
        .language-login {
            display: flex;
            margin-top: 164px;
            .language {
                display: flex;
                align-items: center;
                background-color: #2f2411;
                margin-top: 25px;
                margin-right: 19px;
                margin-bottom: 61px;
                margin-left: 10%;
                border-radius: 10px;
                padding: 5px 10px;
                a {
                    color: white;
                    font-size: 22px;
                    font-family: $font-pre-regular;
                    img {
                        padding-left: 13px;
                    }
                }
            }
            .login {
                display: flex;
                align-items: center;
                background-color: #2f2411;
                border-radius: 10px;
                margin-top: 25px;
                margin-bottom: 61px;
                margin-right: 10%;
                padding: 5px 10px;
                a {
                    color: white;
                    font-size: 22px;
                    font-family: $font-pre-regular;
                    img {
                        padding-left: 13px;
                    }
                }
            }
        }
        .side-nav {
            padding: 20px;
            z-index: 1;
            .gnb {
                li {
                    a {
                        display: flex;
                        align-items: baseline;
                        color: #2f2411;
                        padding: 10px;
                        text-decoration: none;
                        font-size: 28px;
                        font-family: $font-regular;
                        &:hover {
                            color: #ffbe0f;
                        }
                        img {
                            margin-right: 10px;
                        }
                    }
                    ul {
                        li {
                            a {
                                font-size:26px;
                                color: #7e7e7e;
                                font-family: $font-pre-regular;
                                &:hover {
                                    color: #ffbe0f;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .submenu2 {
                        display: flex;
                    }
                }
            }
        }
    }
    .menu_box {
        display: none;
    }
    @include responsive(large-screens) {
        .side-menu {
            display: none;
        }
        .menu_box {
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .mainmenu {
                width: 700px;
                // background-color: green;
                .gnb {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 42px;
                    li {
                        position: relative;
                        .submenu {
                            margin-top: 27px;
                            li {
                                a {
                                    font-family: $font-pre-regular;
                                    text-decoration: none;
                                    font-size: 18px;
                                    color: #7e7e7e;
                                    &:hover {
                                        color: #ffbe0f;
                                    }
                                }   
                            }
                        }
                    }
                        a {
                            color: #171717;
                            font-size: 20px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            text-decoration: underline;
                            font-family: $font-regular;
                            &:hover {
                                color: #ffbe0f;
                            }
                        }
                    }
                }
                form {
                    .search-box {
                        position: relative;
                        display: flex;
                        input {
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            color: black;
                        }
                        .search{
                            position: absolute;
                            top: -18px;
                            left: 135px;
                            img {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }


// ==== footer ====
footer {
    width: $width-wide;
    text-align: center;
    margin: auto;
    color: white;
    
    .sns {
        width: $width-wide;
        height: 70px;
        background-color: #ffbe0f;
        display: flex;
        justify-content: center;
        background-color: #ffbe0f;
        width: $width-wide;
        height: 67px;
        @include responsive(large-screens) {
            height: 66px;
        }
        a {
            margin-top: 10px;
            margin-right: 42px;
        a:last-child {
            margin-right: 0;
        }
            img {
                width: 48px;
            }
        @include responsive(large-screens) {
            margin-right: 20px;
            }
        }
    }

    .footer-back {
        background: url(../images/footer-pattern-bg.png);

        
        @include responsive(large-screens) {
            background: url(../images/header_backpc.png);
            background-size: cover;
            background-color: #2f2411;
        }

        .footLogo {
            a {
                padding: 62px;
                img {
                    margin: 0 auto;
                }
            }
        }
        form {
            text-align: center;
            label {
                select {
                    border: 0;
                    color: white;
                    font-family: $font-pre-regular;
                    font-size: 26px;
                    background: transparent;
                    width: 214px;
                    @include responsive(large-screens) {
                        font-size: 21px;
                    }
                }
            }
        }
    }
 
    
        hr {
            width: 411px;
            height: 3px;
            background-color: #ffbe0f;
            margin: 60px auto;
        }
        .public {
            display: flex;
            justify-content: center;
            a {
                font-size: 26px;
                font-family: $font-regular;
                margin-right: 42px;
                margin-bottom: 46px;
                color: white;
                &:hover {
                    color: #ffbe0f;
                }
                @include responsive(large-screens) {
                    font-size: 20px;
                }
            }
            a:last-child {
                margin-right: 0;
            }
        }
        .address {
            font-size: 20px;
            font-family: $font-light;
            @include responsive(large-screens) {
                font-size: 18px;
            }
        }
        .question {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            address {
                    font-size: 20px;
                    margin-right: 42px;
                    margin-bottom: 34px;
                    font-family: $font-extra;
                    text-align: center;
                    @include responsive(large-screens) {
                        font-size: 18px;
                    }
                }
            }
        .copyright {
            p {
                padding-bottom: 51px;
                font-size: 18px;
                font-family: $font-extra;
                @include responsive(large-screens) {
                    font-size: 16px;
                }
            }   
        }
}

