$main-title: #2f2411;
$color-a: #fff;
$color-hover: #ffbe0f;

$font-bold: 'KimjungchulMyungjo-Bold';
$font-regular: 'KimjungchulMyungjo-Regular';
$font-light: 'KimjungchulMyungjo-Light';
$font-thin: 'Pretendard-Thin';
$font-extra: 'Pretendard-ExtraLight';
$font-pre-regular: 'Pretendard-Regular';
$font-medium: 'Pretendard-Medium';
$font-semibold: 'Pretendard-SemiBold';
$font-pre-bold: 'Pretendard-Bold';

$background-beige: #e1cfc1;
$background-lightbeige: #f8efe0;

$width-wide: 100%;
$width-half: 50%;

$break-small: 320px;
$break-large: 1024px;