.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
}

#history {
  padding-bottom: 50px;
}
#history .history-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
#history .history-title h2 {
  font-size: 20px;
  font-family: "Pretendard-Medium";
  border-bottom: 1px solid black;
  width: 22%;
}
@media (min-width: 1024px) {
  #history .history-title h2 {
    font-size: 48px;
    width: 18%;
  }
}
#history .history-title .go {
  display: flex;
}
#history .history-title .go a {
  font-size: 16px;
  font-family: "Pretendard-Light";
  padding-left: 37px;
  color: #2b2b2b;
}
#history .history-title .go a:hover {
  font-family: "Pretendard-Medium";
}
@media (min-width: 1024px) {
  #history .history-title .go a {
    font-size: 20px;
  }
}
#history .history-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b c" "d f f" "e f f" "g g h";
  gap: 12px;
}
@media (min-width: 1024px) {
  #history .history-img {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a b b c" "d b b e" "f g g h" "i g g j";
  }
}
#history .history-img img:nth-child(1) {
  grid-area: a;
}
#history .history-img img:nth-child(2) {
  grid-area: b;
}
#history .history-img img:nth-child(3) {
  grid-area: c;
}
#history .history-img img:nth-child(4) {
  grid-area: d;
}
#history .history-img img:nth-child(5) {
  grid-area: e;
}
#history .history-img img:nth-child(6) {
  grid-area: f;
}
#history .history-img img:nth-child(7) {
  grid-area: g;
}
#history .history-img img:nth-child(8) {
  grid-area: h;
}
#history .history-img img:nth-child(9) {
  display: none;
}
#history .history-img img:nth-child(10) {
  display: none;
}
@media (min-width: 1024px) {
  #history .history-img img:nth-child(9) {
    display: block;
    grid-area: i;
  }
  #history .history-img img:nth-child(10) {
    display: block;
    grid-area: j;
  }
}
#history .history-img img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  #history .history-img {
    grid-template-columns: repeat(4, 1fr);
    grid-area: "a b b c" "d b b e" "f g g h" "i g g j";
  }
}

#review {
  background-color: #f8efe0;
  padding: 50px 0;
}
#review h3 {
  font-size: 16px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
  width: 19%;
  margin-bottom: 53px;
  width: 22%;
}
@media (min-width: 1024px) {
  #review h3 {
    font-size: 24px;
    width: 100px;
  }
}
#review .review1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (min-width: 1024px) {
  #review .review1 {
    width: 80%;
  }
}
#review .review1 .review-txt1 {
  background-color: #2f2411;
  width: 90%;
  margin-left: 24px;
  padding: 30px;
  border-radius: 50px 50px 50px 0;
}
@media (min-width: 1024px) {
  #review .review1 .review-txt1 {
    width: 100%;
  }
}
#review .review1 .review-txt1 .re-txt {
  text-align: justify;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
  padding-bottom: 50px;
}
@media (min-width: 1024px) {
  #review .review1 .review-txt1 .re-txt {
    font-size: 28px;
  }
}
#review .review1 .review-txt1 .re-title {
  text-align: justify;
  font-size: 16px;
  font-family: "Pretendard-Regular";
  color: white;
}
@media (min-width: 1024px) {
  #review .review1 .review-txt1 .re-title {
    font-size: 22px;
  }
}
#review .review1 .review-txt1 .time-plus {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#review .review1 .review-txt1 .time {
  margin-right: auto;
  font-size: 12px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  #review .review1 .review-txt1 .time {
    font-size: 20px;
  }
}
#review .review1 .review-txt1 .more {
  width: 15px;
  height: 2px;
  border: 1px solid #b1aa9e;
  background-color: #b1aa9e;
}
#review .review1 .review-txt1 a {
  text-align: justify;
  margin-left: auto;
  font-size: 12px;
  font-family: "Pretendard-Medium";
  color: white;
}
@media (min-width: 1024px) {
  #review .review1 .review-txt1 a {
    font-size: 20px;
  }
}
#review .review2 {
  position: relative;
  margin-top: 114px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (min-width: 1024px) {
  #review .review2 {
    width: 80%;
    float: right;
    margin-bottom: 114px;
  }
}
#review .review2 .review-txt2 {
  position: relative;
  background-color: #57482f;
  width: 90%;
  margin-right: 24px;
  padding: 30px;
  border-radius: 50px 50px 0 50px;
}
#review .review2 .review-txt2 .re-txt {
  text-align: justify;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
  padding-bottom: 50px;
}
@media (min-width: 1024px) {
  #review .review2 .review-txt2 .re-txt {
    font-size: 28px;
  }
}
#review .review2 .review-txt2 .re-title {
  text-align: justify;
  font-size: 16px;
  font-family: "Pretendard-Regular";
  color: white;
}
@media (min-width: 1024px) {
  #review .review2 .review-txt2 .re-title {
    font-size: 22px;
  }
}
#review .review2 .review-txt2 .time-plus {
  display: flex;
  align-items: center;
  color: white;
}
#review .review2 .review-txt2 .time-plus .time {
  margin-right: auto;
  font-size: 12px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  #review .review2 .review-txt2 .time-plus .time {
    font-size: 20px;
  }
}
#review .review2 .review-txt2 .time-plus .more {
  width: 15px;
  height: 2px;
  border: 1px solid #b1aa9e;
  background-color: #b1aa9e;
}
#review .review2 .review-txt2 .time-plus a {
  margin-left: auto;
  font-size: 12px;
  font-family: "Pretendard-Medium";
  color: white;
}
@media (min-width: 1024px) {
  #review .review2 .review-txt2 .time-plus a {
    font-size: 20px;
  }
}
#review .review3 {
  position: relative;
  margin-top: 114px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (min-width: 1024px) {
  #review .review3 {
    width: 80%;
  }
}
#review .review3 .review-txt3 {
  background-color: #2f2411;
  width: 90%;
  margin-left: 24px;
  padding: 30px;
  border-radius: 50px 50px 50px 0;
}
#review .review3 .review-txt3 .re-txt {
  text-align: justify;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
  padding-bottom: 50px;
}
@media (min-width: 1024px) {
  #review .review3 .review-txt3 .re-txt {
    font-size: 28px;
  }
}
#review .review3 .review-txt3 .re-title {
  font-size: 16px;
  font-family: "Pretendard-Regular";
  color: white;
}
@media (min-width: 1024px) {
  #review .review3 .review-txt3 .re-title {
    font-size: 22px;
  }
}
#review .review3 .review-txt3 .time-plus {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#review .review3 .review-txt3 .time-plus .time {
  margin-right: auto;
  font-size: 12px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  #review .review3 .review-txt3 .time-plus .time {
    font-size: 20px;
  }
}
#review .review3 .review-txt3 .time-plus .more {
  width: 15px;
  height: 2px;
  border: 1px solid #b1aa9e;
  background-color: #b1aa9e;
}
#review .review3 .review-txt3 .time-plus a {
  margin-left: auto;
  font-size: 12px;
  font-family: "Pretendard-Medium";
  color: white;
}
@media (min-width: 1024px) {
  #review .review3 .review-txt3 .time-plus a {
    font-size: 20px;
  }
}

#video h3 {
  font-size: 16px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
  width: 20%;
  margin-bottom: 53px;
}
@media (min-width: 1024px) {
  #video h3 {
    width: 100px;
    font-size: 24px;
  }
}
#video .main-video {
  border-radius: 10px;
}
#video .main-video iframe {
  width: 100%;
  border-radius: 20px;
  height: 500px;
}
#video .main-video p {
  margin: 17px 0;
  font-size: 16px;
  font-family: "KimjungchulGothic-regular";
}
@media (min-width: 1024px) {
  #video .main-video p {
    font-size: 36px;
  }
}
#video .sub-video {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#video .sub-video .sub-video1, #video .sub-video .sub-video2, #video .sub-video .sub-video3 {
  width: 100%;
  margin-right: 12px;
}
#video .sub-video .sub-video1 iframe, #video .sub-video .sub-video2 iframe, #video .sub-video .sub-video3 iframe {
  width: 100%;
  border-radius: 10px;
}
#video .sub-video .sub-video3 {
  margin-right: 0;
}
#video .sub-video p {
  margin: 13px 0;
  font-size: 14px;
  font-family: "KimjungchulGothic-regular";
}
@media (min-width: 1024px) {
  #video .sub-video p {
    font-size: 24px;
    margin-bottom: 80px;
  }
}/*# sourceMappingURL=gungdoong_gallery.css.map */