@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../header_footer/scss/header_footer.scss";

.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}




.noticepg {
    h2 {
        font-size: 24px;
        font-family: $font-medium;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 2px;

        @include responsive(large-screens) {
            font-size: 48px;
        }

    }

    .noticepg_box {
        margin-top: 50px;
        border: 1px solid black;
        
        h2 {
            font-size: 24px;
            font-family: $font-medium;
            padding: 25px 30px;
            text-decoration: none;

            @include responsive(large-screens) {
                font-size: 48px;
                font-family: $font-medium;
                padding-left: 55px;
            }
        }

        .sub_box {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 52px;
            background-color: #dedede;

            border-top: 2px solid black;

            p {
                font-size: 11px;
                font-family: $font-medium;
                padding: 4% 26px;

                &:last-child {
                    display: none;
                }
            }

            @include responsive(large-screens) {
                position: relative;
                p {
                    position: absolute;
                    top: 0; left: 0;
                    padding: 0.5% 66px;
                    font-size: 18px;
                    &:nth-child(2) {
                        left: 382px;
                    }
                    &:last-child {
                        position: absolute;
                        display: block;
                        left: 1100px;
                    }
                }
            }
        }

        .noticepg_info {

            margin: 52px auto 0;
            width: 90%;

            @include responsive(large-screens) {
                margin: 82px auto 0;
            }

            h3 {
                font-size: 24px;
                font-family: $font-medium;

                @include responsive(large-screens) {
                font-size: 30px;
                font-family: $font-medium;
                }
            }

            .info1 {
                margin-top: 30px;
                font-size: 20px;
                font-family: $font-medium;
                line-height: 1.5;

                @include responsive(large-screens) {
                    margin-top: 124px;
                    margin-bottom: 50px;
                    font-size: 24px;
                }
            }
            .info2 {
                margin: 20px 0;
                font-size: 20px;
                font-family: $font-medium;
                line-height: 1.5;
                @include responsive(large-screens) {
                    margin: 50px 0;
                    font-size: 24px;
                }
            }
            .info3 {
                margin: 20px 20px;
                font-size: 18px;
                font-family: $font-medium;
                line-height: 1.5;
                @include responsive(large-screens) {
                    margin: 20px 0;
                    font-size: 24px;
                }
            }

            .img1 {
                margin-top: 30px;
                width: 100%;
                height: auto;
                @include responsive(large-screens) {
                    margin-top: 60px;
                    margin-bottom: 60px;
                }
            }
            .img2 {
                margin: 10px 0 22px 0;
                width: 50%;
                height: auto;
            }
        }
    }

    .pre_notice {
        position: relative;
        width: 100%;
        height: 80px;
        background-color: #f0f0f0;
        margin: 50px auto 17px;
        border-radius: 15px;
        overflow: hidden;

        img {
            position: absolute;
            left: 20px; top: 15px;
            width: 50px;
            height: 50px;
            rotate: 90deg;
        }
        p {
            position: absolute;
            top: 20%; left: 110px;
            font-size: 1em;
            font-family: $font-medium;
            width: 150px;
            line-height: 1.5;
        }

        date {
            display: none;
        }

        @include responsive(large-screens) {
            margin: 60px auto 33px;
            height: 107px;

            img {
                left: 50px; top: 30px;
            }
            p {
                width: 100%;
                top: 40px; left: 128px;
                font-size: 18px;
            }
            date {
                display: block;
                font-size: 18px;
                font-family: $font-medium;
                text-align: right;
                line-height: 107px;
                padding-right: 40px;
            }

        }
    }

    .next_notice {
        position: relative;
        width: 100%;
        height: 80px;
        background-color: #f0f0f0;
        margin: 0 auto 60px;
        border-radius: 15px;

        img {
            position: absolute;
            left: 20px; top: 15px;
            width: 50px;
            height: 50px;
            rotate: -90deg;
        }

        p {
            position: absolute;
            top: 20%; left: 110px;
            font-size: 1em;
            font-family: $font-medium;
            line-height: 1.2;
        }

        date {
            display: none;
        }

        @include responsive(large-screens) {
            margin: 0 auto 80px;
            height: 107px;
            img {
                left: 50px; top: 30px;
            }
            p {
                top: 40px; left: 128px;
                font-size: 18px;
            }
            date {
                display: block;
                font-size: 18px;
                font-family: $font-medium;
                text-align: right;
                line-height: 107px;
                padding-right: 40px;
            }

        }
    }

    .list {
        width: 114px; height: 52px;
        margin: 0 auto 60px;
        background-color: #2f2411;
        text-align: center;
        line-height: 52px;
        
        border-radius: 10px;
        
        a {
            font-size: 24px;
            font-family: $font-medium;
            color: white;
        }

        @include responsive(large-screens) {
            margin: 0 auto 170px;
        }
    }
}