// @import "./style.scss";
// @import "./reset.scss";
// @import "./mixin.scss";
// @import "../../scss/mixin.scss";
// @import "../../scss/style.scss";
// @import "../../scss/header.scss";
// @import "../../scss/footer.scss";

// .container {
//     width: $width-wide;
//     max-width: 1416px;
//     margin: 32px auto;
//     padding: 0 32px;
// }

// // ==== title ====
// section.title {
//     display: flex;
//     justify-content: space-between;

//     margin-bottom: 32px;

//     h2 {
//         margin-right: 10px;
//         font-size: 24px;
//         border-bottom: 1px solid #111;
//     }

//     .filter {
//         display: flex;
//         align-items: center;

//         p {
//             font-size: 14px;
//             margin-right: 12px;
//         }

//         p:hover {
//             cursor: pointer;
//             color: $basic-yellow;
//         }
//     }  // filter
// }  // title

// // ==== booking-list ====
// section.booking-list {
//     .desc {
//         // margin-bottom: 40px;
//         font: $font-thin;
//         color: $basic-darkgray;
//     }

//     @include responsive(large-screens) {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;

//         p {
//             width: 100%;
//         }
//         .booking01, .booking02 {
//             width: 49%;
//         }
        
//     }
// }  // booking-list

// section.booking-list > div {
//     display: flex;
//     justify-content: space-between;
//     position: relative;
//     margin-bottom: 24px;
//     padding: 32px;
//     border: 1px solid $basic-brown;
// }

// section.booking-list > .booking01:hover,
// section.booking-list > .booking02:hover {
//     @include responsive(large-screens) {
//         color: $color-white;
//         background-color: $basic-brown;
        
//         .line {
//             background-color: $color-white;
//         }

//         .date-place-count {
//             display: inline-block;
//         }
//         .date, .place, .count .bold {
//             display: inline-block;
//             font-size: 14px;
//         }

//         img {
//             display: none;
//         }

//         .more-btn {
//             display: block;
//             position: absolute;
//             bottom: 32px; right: 32px;
//             .square {
//                 width: 90px; height: 60px;
//                 position: relative;
//                 padding: 12px 24px;
//                 border: 1px solid $color-white;
//                 p {
//                     position: absolute;
//                     left: -3px;

//                     padding: -5px 0;
//                     font-size: 13px;
//                     line-height: 35px;
//                     background-color: $basic-brown;
//                 }
//                 img {  // 위치 찾기
//                     position: absolute;
//                     right: 0;
//                     width: 12px; height: 12px;
//                 }
//             }  // square
//         }  // more-btn
//     }
// }
// // section.booking-list > div:hover {
// //     color: $basic-gray;
// //     background-color: $basic-brown;
// // }
// section.booking-list > .booking01 > img,
// section.booking-list > .booking02 > img {
//     width: 33%;
// }

// section.booking-list .num-name {
//     display: flex;
// }
// section.booking-list .line {
//     width: 5px; height: 112px;
//     margin-right: 16px;
//     background-color: $basic-brown;
// }
// section.booking-list .booking-name {
//     font-size: 30px;
// }
// section.booking-list .more-btn {
//     display: none;

//     // @include responsive(large-screens) {
//     //     display: block;
//     //     position: absolute;
//     //     bottom: 32px; right: 32px;
//     // }
// }
// section.booking-list .more-btn img {
//     width: 24px;
// }

// section.booking-list .date-place-count {
//     display: flex;
//     position: absolute;
//     bottom: 32px;

//     // @include responsive(large-screens) {
//     //     display: inline-block;

//     //     p{
//     //         font-size: 14px;
//     //     }
//     // }
// }
// section.booking-list .date-place-count > p.place,
// section.booking-list .date-place-count > p > span {
//     display: none;

//     // @include responsive(large-screens) {
//     //     display: inline-block;
//     //     font-size: 14px;
//     // }
// }
// section.booking-list .date-place-count > .date {
//     width: 60%;
//     margin-right: 24px;
// }

// section.booking-list > .page-num {
//     display: none;

//     @include responsive(large-screens) {
//         display: flex;
//         margin: 0 auto;
//         border: 0;

//         a {
//             margin: 0 72px;
//         }
//     }
// }

// section.booking-list > button.more {
//     width: 100%;
//     margin: 20px auto 96px;
//     border: 0;
//     background-color: transparent;

//     @include responsive(large-screens) {
//         display: none;
//     }
// }

// section.recommend-lists {
//     padding-top: 40px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }
// section.recommend-lists > div {
//     position: relative;
//     width: 48%;
//     margin-bottom: 32px;
//     border-radius: 8px;
//     background-color: aqua;
//     // background: url(../images/gb-pg1.jpg) cover no-repeat;

//     @include responsive(large-screens) {
//         width: 24%;
//     }
// }
// section.recommend-lists > div > img {
//     width: 100%;
//     border-radius: 8px;
// }

// section.recommend-lists > div > .desc {
//     position: absolute;
//     bottom: 0;
//     width: 100%; height: 30%;
//     border-radius: 0 0 8px 8px;
//     color: #fff;
//     background-color: #00000080;
// }

// section.recommend-lists > div > .desc > .title {
//     margin-top: 12px;
//     text-align: center;
// }

// section.recommend-lists > div > .desc > .booking {
//     display: none;
// }

// section.recommend-lists > div > .desc > .period {
//     position: absolute;
//     bottom: 16px; left: 24px;
//     font-size: 14px;
// }

// section.recommend-lists > div > .desc > .place {
//     position: absolute;
//     bottom: 16px; right: 24px;
//     font-size: 14px;
// }