@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../header_footer/scss/header_footer.scss";

.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}

// **mobile finish

// ==== title ====
section.title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;

    h2 {
        margin-right: 10px;
        font-size: 20px;
        border-bottom: 1px solid #111;

        @include responsive(large-screens) {
            font-size: 48px;
        }
    }
    .filter {
        display: flex;
        align-items: center;

        p {
            margin-right: 12px;
            font-size: 14px;

            @include responsive(large-screens) {
                font-size: 20px;
            }
        }

        p:hover {
            cursor: pointer;
            color: $color-hover;
        }
    }  // filter
}  // section.title


// ==== booking-list ====
section.booking-list {
    .desc {
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 1.3;
        color: $basic-darkgray;

        @include responsive(large-screens) {
            font-size: 20px;
        }
    }

    @include responsive(large-screens) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            width: 100%;
        }
        .booking01, .booking02 {
            width: 49%;
        }
        
    }
}

section.booking-list > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 24px;
    padding: 24px;
    border: 1px solid $basic-brown;
    
    .num-name {
        display: flex;
        
        .line {
            width: 5px; height: 72px;
            margin-right: 16px;
            background-color: $basic-brown;
        }
        .booking-num {
            font-size: 12px;

            @include responsive(large-screens) {
                font-size: 16px;
            }
        }
        .booking-name {
            font-size: 18px;
            line-height: 1.2;

            @include responsive(large-screens) {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }  // .num-name

    .date-place-count {
        width: 50%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 24px;

        p > span {
            display: none;

            @include responsive(large-screens) {
                display: inline-block;
                font-size: 14px;
            }
        }

        .date {
            width: 70%;
            margin-right: 24px;
            font-size: 10px;

            @include responsive(large-screens) {
                width: 90%;
                font-size: 14px;
            }
        }

        .place {
            display: none;

            @include responsive(large-screens) {
                display: inline-block;
                font-size: 14px;
            }
        }

        .count {
            font-size: 10px;

            @include responsive(large-screens) {
                font-size: 14px;
            }
        }
    
        @include responsive(large-screens) {
            display: inline-block;

            .bold {
                margin-right: 8px;
                font-weight: bold;
            }
        }
    }  // date-place-count

    img {
        width: 33%;
    }

    .more-btn {
        display: none;
    
    }  // .more-btn    
}

section.booking-list > .booking01:hover,
    section.booking-list > .booking02:hover {

    @include responsive(large-screens) {
        color: $color-white;
        background-color: $basic-brown;
        
        .line {
            background-color: $color-white;
        }

        .date-place-count {
            display: inline-block;
        }
        .date, .place, .count .bold {
            display: inline-block;
            font-size: 14px;
        }

        img {
            // display: none;
            opacity: 0;
        }

        .more-btn {
            display: block;
            position: absolute;
            bottom: 32px; right: 32px;
            cursor: pointer;

            .square {
                width: 90px; height: 60px;
                position: relative;
                padding: 12px 24px;
                border: 1px solid $color-white;

                p {
                    position: absolute;
                    left: -3px;

                    padding: -5px 0;
                    font-size: 13px;
                    line-height: 35px;
                    color: $color-white;
                    background-color: $basic-brown;
                }

                img {  // 위치 찾기
                    // display: block;
                    opacity: 1;
                    position: absolute;
                    right: 12px; top: 16px;
                    width: 28px; height: 28px;
                }
            }  // square
        }  // more-btn
    }
}  //section.booking-list > div:hover

// section.booking-list > div:hover {
//     color: $basic-gray;
//     background-color: $basic-brown;
// }

section.booking-list > .page-num {
    display: none;

    @include responsive(large-screens) {
        display: flex;
        margin: 160px auto 56px;
        border: 0;

        a {
            margin: 0 72px;
        }
    }
}  // page-num

section.booking-list > button.more {
    width: 100%;
    margin: 20px auto 96px;
    border: 0;
    background-color: transparent;

    @include responsive(large-screens) {
        display: none;
    }
}

// ==== recommend-lists ====

h4.title {
    margin-bottom: 24px;
    font-size: 16px;
}

section.recommend-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
        position: relative;
        width: 48%;
        margin-bottom: 32px;
        border-radius: 8px;
        background-color: aqua;
        // background: url(../images/gb-pg1.jpg) cover no-repeat;
    
        @include responsive(large-screens) {
            width: 24%;
        }

        img {
            width: 100%;
            // opacity: 0.3;
            border-radius: 8px;
        }

        .desc {
            position: absolute;
            bottom: -32px;
            width: 100%; height: 45%;
            border-radius: 0 0 8px 8px;
            color: #fff;
            background-color: #00000080;

            @include responsive(large-screens) {
                height: 38%;
            }

            .title {
                margin-top: 4px;
                font-size: 14px;
                letter-spacing: -1px;
                text-align: center;

                @include responsive(large-screens) {
                    font-size: 18px;
                }
            }

            .booking {
                display: none;
            }

            .period {
                position: absolute;
                bottom: 8px; left: 12px;
                font-size: 10px;

                @include responsive(large-screens) {
                    font-size: 14px;
                }
            }

            .place {
                position: absolute;
                bottom: 8px; right: 12px;
                font-size: 10px;

                @include responsive(large-screens) {
                    font-size: 14px;
                }
            }
        }  // .desc
    }
}  // recommend-lists 