@charset "UTF-8";

	/* @font-face {
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 300;
		src:
		local('Noto Sans KR'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Light.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Light.woff') format('woff'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Light.otf') format('opentype');
	}  
		
	@font-face {
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 400;
		src: 
		local('Noto Sans KR'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Regular.woff2') format('woff2'),	
		url('/_static/kcdfleader/fonts/NotoSansKR-Regular.woff') format('woff'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Regular.otf') format('opentype');
	} 
		
	@font-face {
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 500;
		src:
		local('Noto Sans KR'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Medium.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Medium.woff') format('woff'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Medium.otf') format('opentype');
	}	
	
	@font-face {
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 600;
		src:
		local('Noto Sans KR'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Bold.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Bold.woff') format('woff'),
		url('/_static/kcdfleader/fonts/NotoSansKR-Bold.otf') format('opentype');
	}  */

	/* @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;
		src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
	} 
		
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;
		
		src: 
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),	
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
	}
		
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;
		src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
	}
	
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 600;
		src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
	}
	 */


	/*arita*/
	@font-face {
		font-family: 'ariburi';
		font-style: normal;
		font-weight: normal;
		src:
		local('※'),
		url('/_static/kcdfleader/fonts/AritaBuriM.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/AritaBuriM.woff') format('woff'),
		url('/_static/kcdfleader/fonts/AritaBuriM.ttf') format('truetype');
	} 

	@font-face {
		font-family:'ariburisb';
		font-style: normal;
		font-weight: normal;
		src: 
		local(※),
		url('/_static/kcdfleader/fonts/Arita-buri-SemiBold.woff') format('woff'),
		url('/_static/kcdfleader/fonts/Arita-buri-SemiBold.ttf') format('truetype');
	} 
	
	@font-face {
		font-family:'ariburiB';
		font-style: normal;
		font-weight: normal;
		src: 
		local(※),
		url('/_static/kcdfleader/fonts/AritaBuriB.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/AritaBuriB.woff') format('woff'),
		url('/_static/kcdfleader/fonts/AritaBuriB.ttf') format('truetype');
	} 

	
	/*HSBomBaram*/
	@font-face {
		font-family: 'HSBomBaram';
		font-style: normal;
		font-weight: 400;
		src:
		local('HSBomBaram'),
		url('/_static/kcdfleader/fonts/HSBomBaram20.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/HSBomBaram20.woff') format('woff'),
		url('/_static/kcdfleader/fonts/HSBomBaram20.ttf') format('truetype');
	} 
	
	/**/
	@font-face {
		font-family: 'LotteMartH';
		font-style: normal;
		font-weight: 300;
		src:
		local('LotteMartH'),
		url('/_static/kcdfleader/fonts/LotteMartHLight.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/LotteMartHLight.woff') format('woff'),
		url('/_static/kcdfleader/fonts/LotteMartHappyLight.ttf') format('truetype');
	}
	@font-face {
		font-family: 'LotteMartH';
		font-style: normal;
		font-weight: 400;
		src:
		local('LotteMartH'),
		url('/_static/kcdfleader/fonts/LotteMartHappyMedium.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/LotteMartHappyMedium.woff') format('woff'),
		url('/_static/kcdfleader/fonts/LotteMartHappyMedium.ttf') format('truetype');
	} 
	@font-face {
		font-family: 'LotteMartH';
		font-style: normal;
		font-weight: 500;
		src:
		local('LotteMartH'),
		url('/_static/kcdfleader/fonts/LotteMartHappyBold.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/LotteMartHappyBold.woff') format('woff'),
		url('/_static/kcdfleader/fonts/LotteMartHappyBold.ttf') format('truetype');
	} 

	/**/
	@font-face {
		font-family: 'SCoreDream';
		font-style: normal;
		font-weight: 300;
		src:
		local('SCoreDream'),
		url('/_static/kcdfleader/fonts/SCoreDream2ExtraLight.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/SCoreDream2ExtraLight.woff') format('woff'),
		url('/_static/kcdfleader/fonts/SCDream2.ttf') format('opentype');
	} 

	@font-face {
		font-family: 'SeoulNamsan';
		font-style: normal;
		font-weight: 300;
		src:
		local('SeoulNamsan'),
		url('/_static/kcdfleader/fonts/SeoulNamsanL.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/SeoulNamsanL.woff') format('woff'),
		url('/_static/kcdfleader/fonts/SeoulNamsanL_0.ttf') format('truetype');
	} 

	@font-face {
		font-family: 'TmonMonsori';
		font-style: normal;
		font-weight: 500;
		src:
		local('SeoulNamsan'),
		url('/_static/kcdfleader/fonts/TmonMonsoriBlack.woff2') format('woff2'),
		url('/_static/kcdfleader/fonts/TmonMonsoriBlack.woff') format('woff'),
		url('/_static/kcdfleader/fonts/TMONBlack.ttf') format('truetype');
	} 
