@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}
ul, ol, li { list-style: none; }

// ==== title ====
section.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 48px 0;
}
section.title > .filter {
    display: flex;
}
section.title > .filter > img {
    width: 24px; height: 24px;
    margin-left: 12px;
}

section.popular > .section-name {
    margin-bottom: 40px;
}

section.popular > .poster {
    position: relative;
}

section.popular > .poster > .selected {
    width: 70%;
    margin: 0 auto;
}
section.popular > .poster img{
    width: 100%;
}

section.popular > .poster > .program5,
section.popular > .poster > .selected + li {  // 이전, 다음 선택자
    position: absolute;
    top:5%;
    // transform: translateY(-50%);
    width: 55%;
    opacity: 0.3;
}
section.popular > .poster > .selected + li {
    right: -50%;
}
section.popular > .poster > .program5 {
    left: -50%;
}

section.popular > .poster > .program3,
section.popular > .poster > .program4 {
    display: none;
}


section.popular > .poster > .selected > .program-desc {
    margin: 32px -72px;
    border-radius: 16px;
    background-color: #eaeaea;
}
section.popular > .poster > .selected > .program-desc > .title {
    padding: 40px 0 24px 40px;
    font-weight: bold;
    display: flex;
}
section.popular > .poster > .selected > .program-desc > .title > .tag > span {
    margin-left: 4px;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: normal;
    background-color: aqua;
}

section.popular > .poster > .selected > .program-desc > .place-period {
    padding: 0 0 56px 40px;
    display: flex;

    color: #333333;
}
section.popular > .poster > .selected > .program-desc > .place-period > p {
    margin-right: 24px;
    font-size: 13px;
    color: $basic-gray;
}
section.popular > .poster > .selected > .program-desc > .detail {
    padding: 0 48px 40px;
    // font: ;
}

section.popular > .poster > .selected > .program-desc > .button {
    padding: 0 96px 32px;
    display: flex;
    justify-content: space-between;
}
section.popular > .poster > .selected > .program-desc > .button > button {
    width: 120px;
    padding: 8px;
    border-radius: 8px;
    // font: ;
    color: white;
    background-color: $basic-brown;
}

section.keyword > .hashtag {
    margin: 40px auto;
    height: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 100%;
}
section.keyword > .hashtag > div {
    padding: 8px;
    font-size: 12px;
    cursor: pointer;;
    text-align: center;
    border: 1px solid $basic-gray;
    border-radius:24px;
    background-color: $color-white;
}

section.keyword > .hashtag > .selected {
    color: $color-hover;
    background-color: $basic-brown;
}

section.keyword > .program {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section.keyword > .program > div {
    position: relative;
    width: 48%;
    margin-bottom: 32px;
    border-radius: 8px;
    background-color: aqua;
    // background: url(../images/gb-pg1.jpg) cover no-repeat;
}
section.keyword > .program > div > img {
    width: 100%;
    border-radius: 8px;
}


section.keyword > .program > div > .desc {
    position: absolute;
    bottom: 0;
    width: 100%; height: 30%;
    border-radius: 0 0 8px 8px;
    color: #fff;
    background-color: #00000080;
}

section.keyword > .program > div > .desc > .title {
    margin-top: 12px;
    text-align: center;
}

section.keyword > .program > div > .desc > .booking {
    display: none;
}

section.keyword > .program > div > .desc > .period {
    position: absolute;
    bottom: 16px; left: 24px;
    font-size: 14px;
}

section.keyword > .program > div > .desc > .place {
    position: absolute;
    bottom: 16px; right: 24px;
    font-size: 14px;
}

section.place > .place-button {
    margin: 40px auto;
    height: 172px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    width: 100%;
    // background-color: aqua;
}

section.place > .place-button > .btn-big {
    border-radius: 8px;
    text-align: center;
    line-height: 80px;
    background-color: $background-lightgray;
}