.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  padding: 0 32px;
}

section.title {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
section.title h2 {
  width: 23%;
  font-size: 22px;
  border-bottom: 1px solid #2f2411;
}
section.title .lnb {
  display: flex;
}
section.title .lnb a {
  padding-bottom: 4px;
  font-size: 14px;
  margin-left: 6px;
}
@media (min-width: 1024px) {
  section.title .lnb a {
    margin-left: 16px;
    font-size: 16px;
  }
}
section.title .lnb a:hover {
  color: #ffbe0f;
}
section.title h2 > .english {
  display: none;
}
@media (min-width: 1024px) {
  section.title h2 > .english {
    display: inline;
    color: #eaeaea;
    font-weight: lighter;
  }
}

section.image > img {
  width: 100%;
  margin-bottom: 32px;
}

section.time {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 56px;
}
section.time .title {
  position: relative;
  width: 25%;
  font-size: 16px;
  font-weight: bold;
}
section.time .title .underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 65px;
  height: 2px;
  background-color: #2f2411;
}
section.time .conbox {
  width: 70%;
}
section.time .conbox .select-month {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
section.time .conbox .select-month div {
  padding: 4px 12px;
  margin: 0 8px 4px 0;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 14px;
}
section.time .conbox .select-month .selected {
  color: #ffbe0f;
  background-color: #2f2411;
}
section.time .conbox .time {
  font-size: 20px;
  font-weight: bold;
}
section.time .conbox .last-enter {
  font-size: 20px;
}
section.time .conbox .info {
  font-size: 16px;
  line-height: 1.2;
}
section.time .conbox .info .light {
  color: #cccccc;
  font-size: 14px;
}

section.programs {
  background-color: #f8efe0;
  padding: 16px 0;
}

.title-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.title-icon .title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
.title-icon .title .underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 65px;
  height: 2px;
  background-color: #2f2411;
}
.title-icon .icon {
  display: flex;
}
.title-icon .icon img {
  width: 24px;
  margin-left: 16px;
}

.program-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.program-list .program01 {
  position: relative;
  width: 48%;
  margin-bottom: 56px;
}
.program-list .program01 .conbox {
  position: relative;
  margin-bottom: 24px;
  border-radius: 8px;
}
.program-list .program01 .conbox img {
  width: 100%;
  border-radius: 8px;
}
.program-list .program01 .conbox .desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5647058824);
}
.program-list .program01 .conbox .desc .title {
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: -1px;
  text-align: center;
}
.program-list .program01 .conbox .desc .period, .program-list .program01 .conbox .desc .time {
  display: inline-block;
  letter-spacing: -1px;
  font-size: 11px;
  margin-left: 8px;
}
.program-list .program01 .conbox .desc .hashtag {
  display: none;
  margin-left: 12px;
  padding: 8px 0;
}
@media (min-width: 1024px) {
  .program-list .program01 .conbox .desc .hashtag {
    display: inline-block;
  }
  .program-list .program01 .conbox .desc .hashtag span {
    margin-right: 8px;
    padding: 4px 6px;
    border-radius: 8px;
    color: #333333;
    background-color: #ffbe0f;
  }
}
.program-list .program01 button.disable {
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
  width: 50%;
  max-width: 208px;
  padding: 8px 0;
  border: 0;
  border-radius: 24px;
  font-size: 12px;
  background-color: #eaeaea;
}
.program-list .program01 button.able {
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
  width: 50%;
  max-width: 208px;
  padding: 8px 0;
  border: 0;
  border-radius: 24px;
  font-size: 12px;
  cursor: pointer;
  color: #2f2411;
  background-color: #ffbe0f;
}
@media (min-width: 1024px) {
  .program-list {
    justify-content: start;
    flex-wrap: nowrap;
  }
  .program-list .program01 {
    margin-right: 24px;
    width: 24%;
  }
}

section.detail {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 40px;
}
section.detail .title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
section.detail .title .underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 65px;
  height: 2px;
  background-color: #2f2411;
}
section.detail p.detail {
  width: 70%;
  font-size: 14px;
}
@media (min-width: 1024px) {
  section.detail p.detail {
    font-size: 16px;
  }
}

section.address {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 56px;
}
section.address .title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
section.address .title span {
  letter-spacing: 30px;
}
section.address .title .underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 65px;
  height: 2px;
  background-color: #2f2411;
}
section.address p.address {
  width: 70%;
  font-size: 20px;
  font-weight: bold;
}

section.additional {
  display: flex;
  justify-content: space-between;
}
section.additional div.selected {
  color: #fff;
  background-color: #2f2411;
}
section.additional div.transp {
  width: 100%;
  padding: 24px;
}
section.additional div.transp .add-menu {
  display: flex;
  margin-bottom: 40px;
}
section.additional div.transp .add-menu div {
  margin: 13px 16px 0 0;
  padding-top: 8px;
}
section.additional div.transp .add-menu .selected {
  font-weight: bold;
  border-top: 2px solid #fff;
}
section.additional div.transp .add-menu .title-price, section.additional div.transp .add-menu .title-parking {
  border-top: 2px solid #2f2411;
}
section.additional div.transp .conbox .subway, section.additional div.transp .conbox .bus {
  display: flex;
  margin-bottom: 12px;
}
section.additional div.transp .conbox .subway .title, section.additional div.transp .conbox .bus .title {
  width: 20%;
  margin-right: 16px;
  font-size: 14px;
}
section.additional div.transp .conbox .subway .details, section.additional div.transp .conbox .bus .details {
  width: 75%;
}
section.additional div.transp .conbox .subway .details p, section.additional div.transp .conbox .bus .details p {
  font-size: 14px;
  line-height: 1.3;
}
section.additional div.transp .conbox .subway .station, section.additional div.transp .conbox .bus .station {
  margin-right: 8px;
  color: #ffbe0f;
}
@media (min-width: 1024px) {
  section.additional div.transp {
    width: 49%;
  }
  section.additional div.transp .title-price, section.additional div.transp .title-parking {
    display: none;
  }
  section.additional div.transp p {
    font-size: 16px;
  }
}
section.additional div.price, section.additional div.parking {
  display: none;
}
@media (min-width: 1024px) {
  section.additional div.price, section.additional div.parking {
    display: block;
    width: 23%;
    border: 1px solid #eaeaea;
  }
}/*# sourceMappingURL=place_detail.css.map */