@charset "UTF-8";
.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  z-index: 2;
}

header {
  width: 100%;
  height: 887px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
@media (min-width: 1024px) {
  header {
    height: 1079px;
  }
}
header .video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
header .video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .logo-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-icon .search-menu {
  display: flex;
}
header .logo-icon .search-menu a {
  margin-right: 30px;
}
header .logo-icon .search-menu a img {
  width: 36px;
}
header .logo-icon .search-menu a:first-child {
  display: none;
}
header .logo-icon .search-menu a:nth-child(2) {
  display: none;
}
header .logo-icon .search-menu .menu-toggle-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
header .logo-icon .search-menu .menu-toggle-btn span {
  width: 25px;
  height: 3px;
  background-color: white;
}
@media (min-width: 1024px) {
  header .logo-icon .search-menu a:first-child {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(2) {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(3) {
    display: none;
  }
  header .logo-icon .search-menu .menu-toggle-btn {
    display: none;
  }
}
header .menu_box {
  display: none;
}
@media (min-width: 1024px) {
  header .menu_box {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header .menu_box .mainmenu {
    width: 700px;
  }
  header .menu_box .mainmenu .gnb {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  header .menu_box .mainmenu .gnb li {
    position: relative;
  }
  header .menu_box .mainmenu .gnb li .submenu {
    margin-top: 27px;
  }
  header .menu_box .mainmenu .gnb li .submenu li a {
    font-family: "Pretendard-Regular";
    text-decoration: none;
    font-size: 18px;
    color: #7e7e7e;
  }
  header .menu_box .mainmenu .gnb li .submenu li a:hover {
    color: #ffbe0f;
  }
  header .menu_box .mainmenu .gnb a {
    color: white;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
    font-family: "KimjungchulMyungjo-Regular";
  }
  header .menu_box .mainmenu .gnb a:hover {
    color: #ffbe0f;
  }
  header .menu_box form .search-box {
    position: relative;
    display: flex;
  }
  header .menu_box form .search-box input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    background: transparent;
  }
  header .menu_box form .search-box .search {
    position: absolute;
    top: -18px;
    left: 135px;
  }
  header .menu_box form .search-box .search img {
    width: 30px;
  }
}

main {
  width: 100%;
}
main #intro h2 {
  padding-top: 10%;
  padding-bottom: 1%;
  color: #2f2411;
  font-size: 16px;
  font-family: "Pretendard-Bold";
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  main #intro h2 {
    font-size: 0;
  }
}
main .intro-imgbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 12px;
}
@media (min-width: 1024px) {
  main .intro-imgbox {
    grid-template-columns: repeat(4, 1fr);
  }
}
main .intro-imgbox a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
}
main .intro-imgbox a img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}
main .intro-imgbox a .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
@media (min-width: 1024px) {
  main .intro-imgbox a .overlay {
    display: none;
  }
}
main .intro-imgbox a .overlay .palace2024 {
  margin-top: 17%;
  font-size: 16px;
  font-family: "Pretendard-Regular";
}
main .intro-imgbox a .overlay h3 {
  font-size: 16px;
  font-family: "Pretendard-Bold";
  margin-top: 1%;
}
main .intro-imgbox a .overlay .date-box {
  width: 100%;
  margin-top: 10%;
}
main .intro-imgbox a .overlay .date-box p {
  font-size: 12px;
  font-family: "Pretendard-Medium";
}
main .intro-imgbox a .overlay2 {
  display: none;
}
@media (min-width: 1024px) {
  main .intro-imgbox a .overlay2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    border-radius: 0 0 10px 10px;
    background-color: #2f2411;
    display: flex;
    position: absolute;
    bottom: 1px;
    opacity: 70%;
    color: white;
    padding: 10px;
    z-index: 2;
    transition: opacity 0.3s;
  }
  main .intro-imgbox a .overlay2 .palace2024 {
    font-size: 18px;
    font-family: "Pretendard-Regular";
  }
  main .intro-imgbox a .overlay2 h3 {
    display: none;
  }
  main .intro-imgbox a .overlay2 .date-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  main .intro-imgbox a .overlay2 .date-box .date {
    font-size: 16px;
    font-family: "Pretendard-Medium";
  }
  main .intro-imgbox a .overlay2 .date-box .location {
    font-size: 16px;
    font-family: "Pretendard-Medium";
  }
}
@media (min-width: 1024px) {
  main .intro-imgbox a .overlay {
    display: none;
  }
  main .intro-imgbox a h3 {
    font-size: 30px;
    font-family: "Pretendard-Bold";
    font-weight: bold;
    margin: 10px 0;
    color: #ffbe0f;
  }
}
main .intro-imgbox a:hover .overlay2 {
  transform: translateY(0);
  height: 100%;
  border-radius: 10px;
}
main .intro-imgbox a:hover .overlay2 h3 {
  display: block;
}

#palace {
  margin-top: 117px;
  position: relative;
}
@media (min-width: 1024px) {
  #palace {
    background-color: #f8efe0;
  }
}
#palace .mo-palace-box1 .mo-palace, #palace .mo-palace-box2 .mo-palace, #palace .mo-palace-box3 .mo-palace, #palace .mo-palace-box4 .mo-palace, #palace .mo-palace-box5 .mo-palace, #palace .mo-palace-box6 .mo-palace {
  width: 88%;
}
@media (min-width: 1024px) {
  #palace .mo-palace-box1 .mo-palace, #palace .mo-palace-box2 .mo-palace, #palace .mo-palace-box3 .mo-palace, #palace .mo-palace-box4 .mo-palace, #palace .mo-palace-box5 .mo-palace, #palace .mo-palace-box6 .mo-palace {
    display: none;
  }
}
#palace .palace-img-box .palace {
  display: none;
}
@media (min-width: 1024px) {
  #palace .palace-img-box .palace {
    display: block;
  }
}
#palace .palace-txt1 {
  position: absolute;
  top: 10%;
  left: 0;
  width: 80%;
  padding-bottom: 5%;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  opacity: 65%;
  /* img {
    display: none;
    @include responsive(large-screens) {
      display: block;
  }
  } */
}
@media (min-width: 1024px) {
  #palace .palace-txt1 {
    background: transparent;
    left: 52%;
  }
}
#palace .palace-txt1 .txt {
  width: 100%;
}
#palace .palace-txt1 .txt h2 {
  width: 100%;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  padding-top: 7%;
  padding-left: 16px;
}
@media (min-width: 1024px) {
  #palace .palace-txt1 .txt h2 {
    font-size: 24px;
    padding-top: 3%;
  }
}
#palace .palace-txt1 .txt p {
  width: 100%;
  padding-left: 16px;
}
#palace .palace-txt1 .txt p .txt1 {
  width: 100%;
  font-size: 20px;
  font-family: "Pretendard-Thin";
}
@media (min-width: 1024px) {
  #palace .palace-txt1 .txt p .txt1 {
    font-size: 38px;
  }
}
#palace .palace-txt1 .txt p .txt2 {
  width: 100%;
  font-size: 20px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  #palace .palace-txt1 .txt p .txt2 {
    font-size: 38px;
  }
}
#palace .palace-txt1 .txt p .txt3 {
  width: 100%;
  font-size: 20px;
  font-family: "Pretendard-SemiBold";
}
@media (min-width: 1024px) {
  #palace .palace-txt1 .txt p .txt3 {
    font-size: 38px;
  }
}
#palace .palace-txt2 {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 10%;
  width: 90%;
  height: auto;
  background-color: #2f2411;
  opacity: 80%;
  color: #fff;
}
@media (min-width: 1024px) {
  #palace .palace-txt2 {
    opacity: 100%;
    top: 60%;
    left: 52%;
    width: 45%;
  }
}
#palace .palace-txt2 .palace_title h2 {
  display: flex;
  text-align: justify;
  align-items: top;
  font-family: "KimjungchulMyungjo-Bold";
  font-size: 24px;
}
@media (min-width: 1024px) {
  #palace .palace-txt2 .palace_title h2 {
    font-size: 48px;
  }
}
#palace .palace-txt2 .palace_title h2 img {
  padding-top: 2px;
  width: 28px;
  margin-bottom: 8%;
  margin-right: 15px;
}
@media (min-width: 1024px) {
  #palace .palace-txt2 .palace_title h2 img {
    padding-top: 18px;
  }
}
#palace .palace-txt2 p {
  font-family: "KimjungchulMyungjo-Regular";
  text-align: justify;
  font-size: 14px;
}
@media (min-width: 1024px) {
  #palace .palace-txt2 p {
    font-size: 18px;
  }
}
#palace .palace-txt2 .text2 {
  padding-top: 6%;
}

#banner {
  width: 100%;
  margin-top: 229px;
  overflow: hidden;
}
#banner .baner-slide-mo {
  width: 300%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#banner .baner-slide-mo .baner-slide-mo1, #banner .baner-slide-mo .baner-slide-mo2, #banner .baner-slide-mo .baner-slide-mo3 {
  width: 300%;
}
#banner .baner-slide-mo .baner-slide-mo1 img, #banner .baner-slide-mo .baner-slide-mo2 img, #banner .baner-slide-mo .baner-slide-mo3 img {
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  #banner .baner-slide-mo .baner-slide-mo1, #banner .baner-slide-mo .baner-slide-mo2, #banner .baner-slide-mo .baner-slide-mo3 {
    display: none;
  }
}
@media (min-width: 1024px) {
  #banner .banner-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}
#banner .banner-box .baner-slide1, #banner .banner-box .baner-slide2, #banner .banner-box .baner-slide3 {
  display: none;
}
@media (min-width: 1024px) {
  #banner .banner-box .baner-slide1, #banner .banner-box .baner-slide2, #banner .banner-box .baner-slide3 {
    display: block;
    flex: 1;
    min-width: 80%;
    position: relative;
  }
  #banner .banner-box .baner-slide1 img, #banner .banner-box .baner-slide2 img, #banner .banner-box .baner-slide3 img {
    width: 100%;
    height: 500px;
    display: block;
  }
  #banner .banner-box .baner-slide1 .baner-slide1, #banner .banner-box .baner-slide1 .baner-slide3, #banner .banner-box .baner-slide2 .baner-slide1, #banner .banner-box .baner-slide2 .baner-slide3, #banner .banner-box .baner-slide3 .baner-slide1, #banner .banner-box .baner-slide3 .baner-slide3 {
    opacity: 60%;
    transform: scale(0.9);
    z-index: 1;
  }
  #banner .banner-box .baner-slide1 .baner-slide2, #banner .banner-box .baner-slide2 .baner-slide2, #banner .banner-box .baner-slide3 .baner-slide2 {
    z-index: 2;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  #banner .banner-box .baner-slide1 .baner-slide2, #banner .banner-box .baner-slide2 .baner-slide2, #banner .banner-box .baner-slide3 .baner-slide2 {
    height: 500px;
  }
}
@media (min-width: 1024px) {
  #banner .banner-box .baner-slide1 .banner-box, #banner .banner-box .baner-slide2 .banner-box, #banner .banner-box .baner-slide3 .banner-box {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
}

#notice {
  margin: 110px 0;
}
@media (min-width: 1024px) {
  #notice {
    width: 79%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
#notice h2 {
  color: #2f2411;
  text-align: justify;
  font-size: 16px;
  font-family: "Pretendard-Bold";
}
@media (min-width: 1024px) {
  #notice h2 {
    display: none;
  }
}
#notice .notice-flex-box {
  position: relative;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 1024px) {
  #notice .notice-flex-box {
    overflow: visible;
    position: none;
  }
  #notice .notice-flex-box .slide-img1 {
    display: none;
  }
}
#notice .notice-flex-box .slide-img1, #notice .notice-flex-box .slide-img2 {
  width: 8%;
  position: absolute;
  opacity: 60%;
}
@media (min-width: 1024px) {
  #notice .notice-flex-box .slide-img1, #notice .notice-flex-box .slide-img2 {
    flex: none;
    display: none;
  }
}
#notice .notice-flex-box .slide-img1 a, #notice .notice-flex-box .slide-img2 a {
  display: block;
  width: 100%;
  height: 100%;
}
#notice .notice-flex-box .slide-img1 a img, #notice .notice-flex-box .slide-img2 a img {
  width: 100%;
  height: auto;
}
#notice .notice-flex-box .slide-img1 {
  top: 40%;
  left: 7%;
}
@media (min-width: 1024px) {
  #notice .notice-flex-box .slide-img1 {
    display: none;
  }
}
#notice .notice-flex-box .slide-img2 {
  top: 40%;
  left: 85%;
}
@media (min-width: 1024px) {
  #notice .notice-flex-box .slide-img2 {
    display: none;
  }
}
#notice .notice_box, #notice .notice_box2, #notice .notice_box3 {
  flex: 1;
  min-width: 60%;
  position: relative;
  border: 1px solid black;
  padding: 10px;
  padding-right: 15px;
  padding-top: 18px;
  margin: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-image 0.3s, background-size 0.3s, background-position 0.3s;
}
@media (min-width: 1024px) {
  #notice .notice_box, #notice .notice_box2, #notice .notice_box3 {
    flex: none;
    min-width: 20%;
    position: none;
    width: 33%;
  }
}
#notice .notice_box a .notice-txt, #notice .notice_box2 a .notice-txt, #notice .notice_box3 a .notice-txt {
  position: relative;
}
#notice .notice_box a .notice-txt .border-box, #notice .notice_box2 a .notice-txt .border-box, #notice .notice_box3 a .notice-txt .border-box {
  width: 80%;
  height: auto;
  border-left: 5px solid #2f2411;
  padding-left: 12px;
  margin-top: 24px;
  margin-left: 12px;
}
@media (min-width: 1024px) {
  #notice .notice_box a .notice-txt .border-box:hover, #notice .notice_box2 a .notice-txt .border-box:hover, #notice .notice_box3 a .notice-txt .border-box:hover {
    border-left: 5px solid white;
  }
}
#notice .notice_box a .notice-txt .border-box span, #notice .notice_box2 a .notice-txt .border-box span, #notice .notice_box3 a .notice-txt .border-box span {
  display: block;
  font-size: 12px;
  color: #aaaaaa;
  padding-bottom: 5px;
  font-family: "Pretendard-Regular";
}
@media (min-width: 1024px) {
  #notice .notice_box a .notice-txt .border-box span, #notice .notice_box2 a .notice-txt .border-box span, #notice .notice_box3 a .notice-txt .border-box span {
    font-size: 14px;
  }
}
#notice .notice_box a .notice-txt .border-box h3, #notice .notice_box2 a .notice-txt .border-box h3, #notice .notice_box3 a .notice-txt .border-box h3 {
  text-align: justify;
  font-size: 16px;
  color: black;
  padding-bottom: 10px;
  font-family: "KimjungchulMyungjo-Bold";
}
@media (min-width: 1024px) {
  #notice .notice_box a .notice-txt .border-box h3, #notice .notice_box2 a .notice-txt .border-box h3, #notice .notice_box3 a .notice-txt .border-box h3 {
    font-size: 24px;
  }
  #notice .notice_box a .notice-txt .border-box h3:hover, #notice .notice_box2 a .notice-txt .border-box h3:hover, #notice .notice_box3 a .notice-txt .border-box h3:hover {
    color: white;
  }
}
#notice .notice_box a .notice-txt .main-info, #notice .notice_box2 a .notice-txt .main-info, #notice .notice_box3 a .notice-txt .main-info {
  text-align: justify;
  padding-top: 40px;
  padding-left: 12px;
  font-size: 14px;
  color: black;
  font-family: "Pretendard-Regular";
}
@media (min-width: 1024px) {
  #notice .notice_box a .notice-txt .main-info, #notice .notice_box2 a .notice-txt .main-info, #notice .notice_box3 a .notice-txt .main-info {
    font-size: 20px;
  }
}
#notice .notice_box a .notice-txt .main-info br, #notice .notice_box2 a .notice-txt .main-info br, #notice .notice_box3 a .notice-txt .main-info br {
  margin-bottom: 5px;
}
#notice .notice_box a .notice-txt .main-info2, #notice .notice_box2 a .notice-txt .main-info2, #notice .notice_box3 a .notice-txt .main-info2 {
  text-align: justify;
  padding-top: 35px;
  padding-left: 12px;
  font-size: 12px;
  color: #555;
  padding-bottom: 28px;
  font-family: "KimjungchulMyungjo-Light";
}
@media (min-width: 1024px) {
  #notice .notice_box a .notice-txt .main-info2, #notice .notice_box2 a .notice-txt .main-info2, #notice .notice_box3 a .notice-txt .main-info2 {
    font-size: 14px;
  }
}
#notice .notice_box a .notice-txt .date-more, #notice .notice_box2 a .notice-txt .date-more, #notice .notice_box3 a .notice-txt .date-more {
  display: flex;
  justify-content: space-between;
}
#notice .notice_box a .notice-txt .date-more .date, #notice .notice_box2 a .notice-txt .date-more .date, #notice .notice_box3 a .notice-txt .date-more .date {
  font-size: 12px;
  display: block;
  padding-left: 12px;
  font-family: "Pretendard-SemiBold";
  color: #aaaaaa;
}
@media (min-width: 1024px) {
  #notice .notice_box a .notice-txt .date-more .date, #notice .notice_box2 a .notice-txt .date-more .date, #notice .notice_box3 a .notice-txt .date-more .date {
    font-size: 14px;
    padding-bottom: 30px;
  }
}
#notice .notice_box a .notice-txt .date-more .more-btn, #notice .notice_box2 a .notice-txt .date-more .more-btn, #notice .notice_box3 a .notice-txt .date-more .more-btn {
  display: none;
}

.notice_box {
  opacity: 60%;
  transform: scale(0.9);
  z-index: 1;
}
@media (min-width: 1024px) {
  .notice_box {
    opacity: 100%;
    transform: none;
  }
  .notice_box:hover {
    background-image: url("../images/notice1.jpg");
    background-size: cover;
    background-position: center;
  }
  .notice_box:hover .main-info, .notice_box:hover .main-info2 {
    visibility: hidden;
  }
  .notice_box:hover h3 {
    color: white;
  }
  .notice_box:hover .more-btn {
    display: none;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .notice_box:hover .more-btn {
    display: block;
    position: absolute;
    bottom: 32px;
    right: 32px;
  }
  .notice_box:hover .more-btn .square {
    width: 70px;
    height: 50px;
    position: relative;
    padding: 12px 24px;
    border: 1px solid black;
  }
  .notice_box:hover .more-btn .square p {
    position: absolute;
    top: 5px;
    left: -18px;
    background-color: transparent;
    z-index: 3;
    padding: -5px 0;
    font-size: 13px;
    line-height: 35px;
  }
  .notice_box:hover .more-btn img {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
  }
}

.notice_box2 {
  z-index: 2;
}
@media (min-width: 1024px) {
  .notice_box2 {
    z-index: 1;
    width: 33%;
  }
  .notice_box2:hover {
    background-image: url("../images/notice2.png");
    background-size: cover;
    background-position: center;
  }
  .notice_box2:hover .main-info, .notice_box2:hover .main-info2 {
    visibility: hidden;
  }
  .notice_box2:hover h3 {
    color: white;
  }
  .notice_box2:hover .more-btn {
    display: none;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .notice_box2:hover .more-btn {
    display: block;
    position: absolute;
    bottom: 32px;
    right: 32px;
  }
  .notice_box2:hover .more-btn .square {
    width: 70px;
    height: 50px;
    position: relative;
    padding: 12px 24px;
    border: 1px solid black;
  }
  .notice_box2:hover .more-btn .square p {
    position: absolute;
    top: 5px;
    left: -18px;
    background-color: transparent;
    z-index: 3;
    padding: -5px 0;
    font-size: 13px;
    line-height: 35px;
  }
  .notice_box2:hover .more-btn img {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
  }
}

.notice_box3 {
  opacity: 60%;
  transform: scale(0.9);
  z-index: 1;
}
@media (min-width: 1024px) {
  .notice_box3 {
    opacity: 100%;
    transform: none;
  }
  .notice_box3:hover {
    background-image: url("../images/notice3.jpg");
    background-size: cover;
    background-position: center;
  }
  .notice_box3:hover .main-info, .notice_box3:hover .main-info2 {
    visibility: hidden;
  }
  .notice_box3:hover h3 {
    color: white;
  }
  .notice_box3:hover .more-btn {
    display: none;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .notice_box3:hover .more-btn {
    display: block;
    position: absolute;
    bottom: 32px;
    right: 32px;
  }
  .notice_box3:hover .more-btn .square {
    width: 70px;
    height: 50px;
    position: relative;
    padding: 12px 24px;
    border: 1px solid black;
  }
  .notice_box3:hover .more-btn .square p {
    position: absolute;
    top: 5px;
    left: -18px;
    background-color: transparent;
    z-index: 3;
    padding: -5px 0;
    font-size: 13px;
    line-height: 35px;
  }
  .notice_box3:hover .more-btn img {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
  }
}

.notice-flex-box {
  scroll-behavior: smooth;
  overflow-x: hidden; /* 슬라이드 overflow 조정 */
  position: relative;
}
@media (min-width: 1024px) {
  .notice-flex-box {
    position: none;
    width: 100%;
  }
}

#history {
  padding-top: 110px;
}
#history .history-box {
  align-items: center;
}
#history .history-box h2 {
  color: #2f2411;
  font-size: 16px;
  font-family: "Pretendard-Bold";
}
@media (min-width: 1024px) {
  #history .history-box h2 {
    display: none;
  }
}
#history .history-box .menu-box .palace_gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#history .history-box .menu-box .palace_gnb li {
  margin-right: 10px;
  padding-top: 10px;
}
#history .history-box .menu-box .palace_gnb li a {
  color: black;
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
}
#history .history-box .menu-box .palace_gnb li a:hover {
  text-decoration: underline;
  font-weight: 600;
}
#history .history-box .menu-box .palace_gnb li:last-child {
  margin-right: 0;
}
@media (min-width: 1024px) {
  #history .history-box .menu-box {
    display: none;
  }
}
#history .palace-img1 {
  margin-bottom: 47px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a a" "b d" "c d";
  gap: 10px;
  padding: 10px;
}
#history .palace-img1 h3 {
  display: none;
}
#history .palace-img1 img:nth-child(1) {
  grid-area: a;
}
#history .palace-img1 img:nth-child(2) {
  grid-area: b;
}
#history .palace-img1 img:nth-child(3) {
  grid-area: c;
}
#history .palace-img1 img:nth-child(4) {
  grid-area: d;
}
#history .palace-img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  #history .palace-img1 img {
    display: none;
  }
}
#history .palace-img2 {
  margin-bottom: 47px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a a" "b d" "c d";
  gap: 10px;
  padding: 10px;
}
#history .palace-img2 h3 {
  display: none;
}
#history .palace-img2 img:nth-child(1) {
  grid-area: a;
}
#history .palace-img2 img:nth-child(2) {
  grid-area: b;
}
#history .palace-img2 img:nth-child(3) {
  grid-area: c;
}
#history .palace-img2 img:nth-child(4) {
  grid-area: d;
}
#history .palace-img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  #history .palace-img2 {
    display: none;
  }
}
#history .palace-img3 {
  margin-bottom: 47px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a a" "b d" "c d";
  gap: 10px;
  padding: 10px;
}
#history .palace-img3 h3 {
  display: none;
}
#history .palace-img3 img:nth-child(1) {
  grid-area: a;
}
#history .palace-img3 img:nth-child(2) {
  grid-area: b;
}
#history .palace-img3 img:nth-child(3) {
  grid-area: c;
}
#history .palace-img3 img:nth-child(4) {
  grid-area: d;
}
#history .palace-img3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  #history .palace-img3 {
    display: none;
  }
}
#history .palace-img4 {
  margin-bottom: 47px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a a" "b d" "c d";
  gap: 10px;
  padding: 10px;
}
#history .palace-img4 h3 {
  display: none;
}
#history .palace-img4 img:nth-child(1) {
  grid-area: a;
}
#history .palace-img4 img:nth-child(2) {
  grid-area: b;
}
#history .palace-img4 img:nth-child(3) {
  grid-area: c;
}
#history .palace-img4 img:nth-child(4) {
  grid-area: d;
}
#history .palace-img4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  #history .palace-img4 {
    display: none;
  }
}
#history .palace-img5 {
  margin-bottom: 47px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a a" "b d" "c d";
  gap: 10px;
  padding: 10px;
}
#history .palace-img5 h3 {
  display: none;
}
#history .palace-img5 img:nth-child(1) {
  grid-area: a;
}
#history .palace-img5 img:nth-child(2) {
  grid-area: b;
}
#history .palace-img5 img:nth-child(3) {
  grid-area: c;
}
#history .palace-img5 img:nth-child(4) {
  grid-area: d;
}
#history .palace-img5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  #history .palace-img5 {
    display: none;
  }
}
#history .palace-img6 {
  margin-bottom: 47px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a a" "b d" "c d";
  gap: 10px;
  padding: 10px;
}
#history .palace-img6 h3 {
  display: none;
}
#history .palace-img6 img:nth-child(1) {
  grid-area: a;
}
#history .palace-img6 img:nth-child(2) {
  grid-area: b;
}
#history .palace-img6 img:nth-child(3) {
  grid-area: c;
}
#history .palace-img6 img:nth-child(4) {
  grid-area: d;
}
#history .palace-img6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  #history .palace-img6 {
    display: none;
  }
}
#history .palace-img-pc {
  display: none;
}
@media (min-width: 1024px) {
  #history .palace-img-pc {
    margin-bottom: 155px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a b b b" "c c d f" "c c e f";
    padding: 10px;
  }
  #history .palace-img-pc .palace-history {
    background-color: #2f2411;
    color: white;
    font-size: 32px;
    font-family: "Pretendard-ExtraLight";
    text-align: center;
    line-height: 700px;
  }
  #history .palace-img-pc .palace {
    background-color: #2f2411;
    color: white;
    font-size: 32px;
    font-family: "Pretendard-ExtraLight";
    text-align: center;
    line-height: 260px;
  }
  #history .palace-img-pc .palace-history {
    grid-area: a;
  }
  #history .palace-img-pc .img1 {
    grid-area: b;
  }
  #history .palace-img-pc .img2 {
    grid-area: c;
  }
  #history .palace-img-pc .palace {
    grid-area: d;
  }
  #history .palace-img-pc .img3 {
    grid-area: e;
  }
  #history .palace-img-pc .img4 {
    grid-area: f;
  }
  #history .palace-img-pc img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
}
footer .sns {
  width: 100%;
  height: 70px;
  background-color: #ffbe0f;
  display: flex;
  justify-content: center;
  background-color: #ffbe0f;
  width: 100%;
  height: 67px;
}
@media (min-width: 1024px) {
  footer .sns {
    height: 66px;
  }
}
footer .sns a {
  margin-top: 10px;
  margin-right: 42px;
}
@media (min-width: 1024px) {
  footer .sns a {
    margin-right: 20px;
  }
}
footer .sns a img {
  width: 48px;
}
footer .sns a:last-child {
  margin-right: 0;
}
footer .footer-back {
  background: url(../images/footer_pattern.png);
  background-size: cover;
  background-color: #2f2411;
}
@media (min-width: 1024px) {
  footer .footer-back {
    background: url(../images/header_backpc.png);
    background-size: cover;
    background-color: #2f2411;
  }
}
footer .footer-back .footLogo a {
  padding: 62px;
}
footer .footer-back .footLogo a img {
  margin: 0 auto;
}
footer .footer-back form {
  text-align: center;
}
footer .footer-back form label select {
  border: 0;
  color: white;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  background: transparent;
  width: 214px;
}
@media (min-width: 1024px) {
  footer .footer-back form label select {
    font-size: 21px;
  }
}
footer hr {
  width: 70%;
  height: 3px;
  background-color: #ffbe0f;
  margin: 60px auto;
}
footer .public {
  display: flex;
  justify-content: center;
}
footer .public a {
  font-size: 16px;
  font-family: "KimjungchulMyungjo-Regular";
  margin-right: 42px;
  margin-bottom: 46px;
  color: white;
}
footer .public a:hover {
  color: #ffbe0f;
}
@media (min-width: 1024px) {
  footer .public a {
    font-size: 20px;
  }
}
footer .public a:last-child {
  margin-right: 0;
}
footer address {
  font-size: 14px;
  font-family: "KimjungchulMyungjo-Light";
}
@media (min-width: 1024px) {
  footer address {
    font-size: 18px;
  }
}
footer .question {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .question address {
  font-size: 14px;
  margin-right: 42px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question address {
    font-size: 18px;
  }
}
footer .copyright p {
  padding-bottom: 51px;
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
}
@media (min-width: 1024px) {
  footer .copyright p {
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */