@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
}

#history {
    .history-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 48px;
            font-family: $font-medium;
            border-bottom: 1px solid black;
        }
        .go {
            display: flex;
            a {
                font-size: 20px;
                font-family: $font-pre-light;
                padding-left: 37px;
                color: #2b2b2b;
                &:hover {
                    font-family: $font-medium;

                }
            }
        }
    }
    .history-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "a b c"
        "d f f"
        "e f f"
        "g g h"
        ;
        gap: 24px;
        a {
            img:nth-child(1) { grid-area: a; }
            img:nth-child(2) { grid-area: b; }
            img:nth-child(3) { grid-area: c; }
            img:nth-child(4) { grid-area: d; }
            img:nth-child(5) { grid-area: e; }
            img:nth-child(6) { grid-area: f; }
            img:nth-child(7) { grid-area: g; }
            img:nth-child(8) { grid-area: h; }
    
            img {
                width: $width-wide;
                height: 100%;
            }
        }
    }
}

#review {
    background-color: #f8efe0;
    padding: 50px 0;
    h3 {
        font-size: 24px;
        font-family: $font-pre-bold;
        border-bottom: 3px solid #2f2411;
        color: #2f2411;
        width: 12%;
        margin-bottom: 53px;
    }
    .review1 {
        display: flex;
        justify-content: space-between;
        align-items: end;
        .review-txt1 {
            background-color: #2f2411;
            width: 90%;
            margin-left: 24px;
            padding: 50px;
            border-radius: 50px 50px 50px 0;
            .re-txt {
                font-size: 28px;
                font-family: $font-regular;
                color: white;
                padding-bottom: 50px;
            }
            .re-title {
                font-size: 22px;
                font-family: $font-pre-regular;
                color: white;
            }
            .time-plus {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
            }
            .time {
                margin-right: auto;
                font-size: 20px;
                font-family: $font-pre-light;
            }
            a {
                margin-left: auto;
                font-size: 20px;
                font-family: $font-medium;
                color: white;
            }
        } 
    }
    .review2 {
        margin-top: 114px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        .review-txt2 {
            background-color: #57482f;
            width: 90%;
            margin-right: 24px;
            padding: 50px;
            border-radius: 50px 50px 0 50px;
            .re-txt {
                font-size: 28px;
                font-family: $font-regular;
                color: white;
                padding-bottom: 50px;
            }
            .re-title {
                font-size: 22px;
                font-family: $font-pre-regular;
                color: white;
            }
            .time-plus {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
            }
            .time {
                margin-right: auto;
                font-size: 20px;
                font-family: $font-pre-light;
            }
            a {
                margin-left: auto;
                font-size: 20px;
                font-family: $font-medium;
                color: white;
            }
        } 
    }
    .review3 {
        margin-top: 114px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        .review-txt3 {
            background-color: #2f2411;
            width: 90%;
            margin-left: 24px;
            padding: 50px;
            border-radius: 50px 50px 50px 0;
            .re-txt {
                font-size: 28px;
                font-family: $font-regular;
                color: white;
                padding-bottom: 50px;
            }
            .re-title {
                font-size: 22px;
                font-family: $font-pre-regular;
                color: white;
            }
            .time-plus {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
            }
            .time {
                margin-right: auto;
                font-size: 20px;
                font-family: $font-pre-light;
            }
            a {
                margin-left: auto;
                font-size: 20px;
                font-family: $font-medium;
                color: white;
            }
        } 
    }
}

#video {
    h3 {
        font-size: 24px;
        font-family: $font-pre-bold;
        border-bottom: 3px solid #2f2411;
        color: #2f2411;
        width: 12%;
        margin-bottom: 53px;
    }
    .main-video {
        border-radius: 10px;
        iframe {
            width: $width-wide;
            border-radius: 20px;
        }
        p {
            margin: 17px 0;
            font-size: 17px;
            font-family: $font-gothic-regular;
        }
    }
    .sub-video {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .sub-video1, .sub-video2, .sub-video3 {
            width: 100%;
            margin-right: 24px;
            iframe {
                width: 100%;
                border-radius: 20px;
            }
        }
        .sub-video3 {
            margin-right: 0;
        }
    }
}