@charset "UTF-8";
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: #251a06;
  padding: 40px;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(37, 26, 6, 0.3);
  z-index: 101;
}
@media (min-width: 1024px) {
  .form {
    width: 600px;
  }
}
.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.form .tab-group::after {
  content: "";
  display: table;
  clear: both;
}
.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(255, 190, 15, 0.25);
  color: white;
  font-size: 20px;
  font-family: "Pretendard-Regular";
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.form .tab-group li a:hover {
  background: #f1ebde;
  color: #ffbe0f;
}
.form .tab-group .active a {
  background: #f1ebde;
  color: white;
}
.form .tab-content > div:last-child {
  display: none;
}
.form h1 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 40px;
}
@media (min-width: 1024px) {
  .form h1 {
    font-size: 36px;
  }
}
.form label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: white;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.form label .req {
  margin: 2px;
  color: #ffbe0f;
}
.form label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}
.form label.highlight {
  color: white;
}
.form input, .form textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #333;
  color: white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.form input:focus, .form textarea:focus {
  outline: 0;
  border-color: #f1ebde;
}
@media (min-width: 1024px) {
  .form input, .form textarea {
    font-size: 22px;
    padding: 5px 10px;
  }
}
.form textarea {
  border: 2px solid #333;
  resize: vertical;
}
.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.form .top-row::after {
  content: "";
  display: table;
  clear: both;
}
.form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.form .top-row > div:last-child {
  margin: 0;
}
.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #f1ebde;
  color: white;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.form .button:hover, .form .button:focus {
  background: #f1ebde;
}
.form .button-block {
  display: block;
  width: 100%;
}
.form .forgot {
  margin-top: -20px;
  text-align: right;
}
.form .forgot a {
  color: white;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .form .forgot a {
    font-size: 24px;
  }
}

.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  padding: 0 32px;
}

section.title > h2 {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  section.title > h2 {
    font-size: 48px;
  }
}

section.details p {
  font-size: 12px;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  section.details p {
    font-size: 16px;
  }
}
section.details h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  section.details h3 {
    font-size: 32px;
  }
}
section.details .booking-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 72px;
}
section.details .booking-info a {
  width: 40%;
}
section.details .booking-info a img {
  width: 100%;
  margin-top: 8px;
}
@media (min-width: 1024px) {
  section.details .booking-info a {
    width: 95%;
  }
}
section.details .booking-info .info-1-2 {
  position: relative;
  width: 55%;
}
section.details .booking-info .info-1-2 .print {
  display: none;
}
@media (min-width: 1024px) {
  section.details .booking-info .info-1-2 .print {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    text-decoration: underline;
    cursor: pointer;
  }
}
section.details .booking-info .info-1-2 .info1 {
  margin-bottom: 16px;
}
section.details .booking-info .info-1-2 .info1 td {
  font-size: 12px;
}
@media (min-width: 1024px) {
  section.details .booking-info .info-1-2 .info1 td {
    font-size: 16px;
  }
}
section.details .booking-info .info-1-2 .info1 .sort {
  width: 60px;
  height: 40px;
  text-align: left;
}
@media (min-width: 1024px) {
  section.details .booking-info .info-1-2 .info1 .sort {
    width: 96px;
  }
}
section.details .booking-info .info-1-2 .info2 {
  display: none;
}
@media (min-width: 1024px) {
  section.details .booking-info .info-1-2 .info2 {
    display: block;
  }
  section.details .booking-info .info-1-2 .info2 td {
    font-size: 12px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section.details .booking-info .info-1-2 .info2 td {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  section.details .booking-info .info-1-2 .info2 .sort {
    width: 60px;
    height: 40px;
    text-align: left;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section.details .booking-info .info-1-2 .info2 .sort {
    width: 120px;
  }
}
@media (min-width: 1024px) {
  section.details .booking-info .info-1-2 {
    width: 95%;
  }
}
section.details .booking-info .mobile-info2 {
  width: 100%;
  margin: 32px 0;
}
section.details .booking-info .mobile-info2 p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
section.details .booking-info .mobile-info2 ul {
  display: flex;
}
section.details .booking-info .mobile-info2 ul .sort {
  margin-right: 16px;
  font-size: 12px;
}
section.details .booking-info .mobile-info2 ul .sort .box {
  margin-right: 8px;
}
@media (min-width: 1024px) {
  section.details .booking-info .mobile-info2 {
    display: none;
  }
}
section.details .booking-info .info3 {
  width: 100%;
}
section.details .booking-info .info3 p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
@media (min-width: 1024px) {
  section.details .booking-info .info3 p {
    margin-top: 24px;
    font-size: 16px;
  }
}
section.details .booking-info .info3 table {
  width: 100%;
  margin-bottom: 32px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}
section.details .booking-info .info3 table th {
  padding: 16px 0;
  font-size: 12px;
  background-color: #eaeaea;
}
@media (min-width: 1024px) {
  section.details .booking-info .info3 table th {
    padding: 8px 0;
    font-size: 14px;
  }
}
section.details .booking-info .info3 table td {
  font-size: 14px;
  padding: 32px 0;
}
@media (min-width: 1024px) {
  section.details .booking-info .info3 table td {
    padding: 16px 0;
  }
}
section.details .booking-info button {
  width: 100%;
  font-size: 16px;
  padding: 8px 0;
  border-radius: 12px;
  color: white;
  background-color: #2f2411;
}
@media (min-width: 1024px) {
  section.details .booking-info button {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  section.details .booking-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b" "a c" "a d";
  }
  section.details .booking-info .poster-image {
    grid-area: a;
  }
  section.details .booking-info .info-1-2 {
    grid-area: b;
  }
  section.details .booking-info .info3 {
    grid-area: c;
  }
  section.details .booking-info .cancel {
    grid-area: d;
  }
}

.booking-info .box {
  padding: 4px 6px;
  background-color: #eaeaea;
  border-radius: 4px;
}

.note {
  padding: 20px 0 40px;
  background-color: #f8efe0;
}
.note .title {
  margin-bottom: 8px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: bold;
  background-image: url(../images/icon_brown.png);
  background-size: 18px;
  background-position: left center;
  background-repeat: no-repeat;
}
.note .content {
  font-size: 12px;
  margin-bottom: 24px;
}/*# sourceMappingURL=booking_detail.css.map */