@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.press_release {
    position: relative;
    
    h2 {
        font: 29px 'Pretendard';
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 1px;
    }
    .s_filter {
        width: 27px; height: 25px;
        position: absolute;
        top: 0; right: 32px;
    }

    .news_box1 {
        position: relative;
        
        .press_release_box {
            
            .press_release_1 {
                width: 100%;
                height: 416px;
                margin: 60px auto 200px;
            }

            .press_info_box {
                position: absolute;
                top: 40%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }

        .press_release_box2 {
            
            .press_release_2 {
                width: 100%;
                height: 416px;
                margin: 60px auto 200px;
            }

            .press_info_box2 {
                position: absolute;
                top: 100%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow2 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }
    } // news_box1

    .news_box2 {
        position: relative;

        .press_release_box3 {
            
            .press_release_3 {
                width: 100%;
                height: 580px;
                margin: 60px auto 200px;
            }

            .press_info_box3 {
                position: absolute;
                top: 27%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow3 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }

        .press_release_box4 {
            
            .press_release_4 {
                width: 100%;
                height: 580px;
                margin: 60px auto 200px;
            }

            .press_info_box4 {
                position: absolute;
                top: 63.5%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow4 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }

        .press_release_box5 {
            
            .press_release_5 {
                width: 100%;
                height: 580px;
                margin: 60px auto 200px;
            }

            .press_info_box5 {
                position: absolute;
                top: 100%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow5 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }
    } // news_box2

    .news_box3 {
        position: relative;

        .press_release_box6 {
            
            .press_release_6 {
                width: 100%;
                height: 360px;
                margin: 60px auto 200px;
            }

            .press_info_box6 {
                position: absolute;
                top: 360px;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow6 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }

        .press_release_box7 {
            
            .press_release_7 {
                width: 100%;
                height: 360px;
                margin: 60px auto 200px;
            }

            .press_info_box7 {
                position: absolute;
                top: 45%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow7 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }

        .press_release_box8 {
            
            .press_release_8 {
                width: 100%;
                height: 360px;
                margin: 60px auto 200px;
            }

            .press_info_box8 {
                position: absolute;
                top: 72.5%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow8 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }

        .press_release_box9 {
            
            .press_release_9 {
                width: 100%;
                height: 360px;
                margin: 60px auto 200px;
            }

            .press_info_box9 {
                position: absolute;
                top: 100%;

                width: 100%;
                height: 144px;

                background-color: #2f2411;
                padding: 20px;

                h3 {
                    font: 20px 'Kim jung chul Myungjo';
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                }

                strong {
                    position: absolute;
                    top: 62%; right: 20px;
                    color: white;
                    font: 18px 'Kim jung chul Myungjo';
                    
                }

                .more_arrow9 {
                    position: absolute;
                    top: 68%; right: 20%;
                    width: 32px;
                    height: 1px;
                    background: #cc980f;
                }
            }
        }
    }

    .num_arr {
        display: flex;
        justify-content: space-between;

        width: 80%;
        margin: 0 auto 90px;
    }

}