@charset "UTF-8";


.container{position: relative;max-width: 1400px;margin: 0 auto;}
.container2{position: relative;max-width: 1400px;margin: 0 auto;}


.sub_section{background: #fff;}
/*서브 비쥬얼*/
.subVisual{height: 230px;background-repeat: no-repeat;background-image:url(/_static/Royal/img/common/subVisual1.jpg); background-position:center;position: relative; width: 100vw;
    position: fixed;
    top: 146px;
    left: 0;
    width: 100%;
    z-index: -1;
}
.subVisual.subVisual1{ background-image:url(/_static/Royal/img/common/subVisual1.jpg); }
.subVisual.subVisual2{ background-image:url(/_static/Royal/img/common/subVisual2.jpg); }
.subVisual.subVisual3{ background-image:url(/_static/Royal/img/common/subVisual3.jpg); }
.subVisual.subVisual4{ background-image:url(/_static/Royal/img/common/subVisual4.jpg); }
.subVisual.subVisual5{ background-image:url(/_static/Royal/img/common/subVisual5.jpg); }
.subVisual.subVisual6{ background-image:url(/_static/Royal/img/common/subVisual6.jpg); }

.subVisual > div{padding-top: 90px;}
.subVisual > div h2			{
    font-size: 2.750em;
    color: #fff;
    display: block;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.01em;
}
.subVisual > div p				{ color: #fff; margin-top: 12px; font-weight: 300;}

/*snb_link*/
.snb_link{/* margin-top: 13px; */ float: left;}
.snb_link .home .icon_home > img{vertical-align: baseline;}
.snb_link .home:before{display: none;}
.snb_link > li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
}
.snb_link > li:first-child{margin-left: 0; padding-left: 5px; padding-right: 16px;}
.snb_link > li.home:first-child:after{display: none;}
.snb_link > li:nth-child(2){padding-left: 0; margin-left: 0;}
.snb_link > li:nth-child(2):before{display: none;}

.snb_link > li > a{display: inline-block;padding-right: 30px;color: #6d6e71;font-weight: 300;font-size: 1.063em;vertical-align: top;line-height: 1;margin-top: 1px;height: 45px;line-height: 42px;}

.snb_link > li.home a:after{display: none;}
.snb_link > li:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 9px;
    height: 8px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0, -50%);
    background: url(/_static/Royal/img/common/bar_left.png) no-repeat center;
    z-index: 1;
}
.snb_link > li > a.on:after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0, -50%);
    background: url(/_static/Royal/img/common/bar_right.png) no-repeat center;
    background-size: 100%;
}
.snb_link > li > a:after{
    display: none;
}
.snb_link > li.on > a{
    color: #ffa400; font-weight: 500; 
}
.snb_link > li.on > a:after{
    background: url(/_static/Royal/img/common/bar_right_on.png) no-repeat center;
    background-size: 100%;
}
.snb_link > li .L2_Items{
    display: none;
    left: -999em;
    position: absolute;
    z-index: 2;
    top: 46px;
    width: 200px;
}
.snb_link > li .L2_Items li{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}
.snb_link > li .L2_Items li:first-child{border-top: 0;}
.snb_link > li .L2_Items li a{
    display: block;
    width: 100%;
    padding: 11px 5px 12px;
    font-size: 1.063em;
    text-align: center;
    /* background: #b7b6ae; */
    color: #fff;
    
    border-top: 1px solid #fff;
}
.snb_link > li .L2_Items li:first-child a{border-top: 0;}
.snb_link > li:nth-child(2).on .L2_Items{
    left: -20px;
  
}
.snb_link > li.on .L2_Items{
    display: block;
    left: 0;
    background: #fff;
    /* border: 1px solid #ccc; */
    width: 140px;
    border-radius: 3px;
    padding: 0 6px;
    background: #888;
}
.snb_link > li:nth-child(3).on .L2_Items{
    /* left: 24px; */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.quick_wrap{ margin-top: 230px; padding-top: 13px;}
/*sub_rtop*/
.sub_rtop {float:right; margin-top: 12px;}
.etc_area {position:relative;}
.etc_area > li {float:left; text-align:center; position: relative; margin-left: 20px;}
.etc_area > li:first-child{margin-left: 0;}
.etc_area > li:last-child:after{display: none;}
.etc_area > li > button {display:block; width:100%;}
.etc_area > li > a {
position: relative; display: inline-block; 
 width: 21px;
 height: 21px;
 background-image: url(/_static/Royal/img/common/sns_link.png);
 background-repeat: no-repeat;
 background-size: 103px 21px;
}
.etc_area > li:nth-child(1) > a{
    background-position: 0 0px;
}
.etc_area > li:nth-child(2) > a{
    background-position: -40px 0;
    width: 22px;
}
.etc_area > li:nth-child(3) > a{
    background-position: -78px 0px;
    width: 25px;
}
.etc_area > li > a:last-child{/* border-right: 1px solid #ccc; */}
.etc_area > li > a img{ margin-top:14px;}

.snb_sns {overflow:hidden;display:none;position:absolute;width:0;left: 0;opacity:0;transition-duration: 0.2s;-webkit-transition-duration: 0.2s;top: -4px;}
.snb_sns.show {display:block;left: -160px;opacity:1;border: 1px solid #ddd;border-radius: 15px;background-color: #fff;padding: 3px 10px;width: 152px;z-index: 1;}
.snb_sns > li {float:left;display: none;/* height: 40px; */margin-left: 15px;}
.snb_sns > li:first-child{margin-left: 0;}
.snb_sns > li:nth-child(1) > a{width: 21px;}
.snb_sns > li:nth-child(2) > a{}
.snb_sns > li:nth-child(3) > a{width: 24px;}
.snb_sns > li:nth-child(4) > a{}
.snb_sns > li:nth-child(4) > a img{margin-top: 1px;}
.snb_sns.show > li {display:inline-block;}
.snb_sns li a{display: inline-block;width: 20px;height: 20px;/* padding: 8px 0; */text-align: center;/* line-height: 33px; */ vertical-align: middle;}
.snb_sns li a.link_copy {display: block; width: 71px; font-size:0.875em; color:#353535;vertical-align: middle;margin-top: 2px;}

/*qr*/
.qr_cord {position:relative;}
.qrBox{display: none; position:absolute; top:200px; right:-1px; z-index:99999; margin-top:-150px; margin-left:-115px; width: 300px; height: 258px; padding: 28px; background-color: #fff; border: 1px solid #ddd; border-top:0; text-align: center; cursor: pointer;}
.qrBox.on {display:block;}
.qrBox a.qrBoxClose{ position: absolute; top: 6px; right: 6px; width: 30px; height:30px; line-height:32px; background-color: #000; color: #fff; text-align: center; text-decoration: none;}
.qrBox p{margin: 13px auto 0; font-size:0.96em; word-break:keep-all;}


/**/
h3.sub_top_tit{
    display: block; padding-bottom: 65px;
}
h3.sub_top_tit span{
    position: relative;
    line-height: 1;
    display: block;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    z-index: 1;
    letter-spacing: -0.01em;
}

.contents_wrap{padding: 94px 0 100px;}

@media all and (max-width:1200px){
	
    .subVisual > div h2{font-size: 2.5em;}

    h3.sub_top_tit{padding-bottom: 55px;}
    h3.sub_top_tit span{font-size: 2.375em;}

    .contents_wrap{padding: 74px 0 90px;}
    
}

@media all and (max-width:1024px){
    .subVisual{display: none; position: static;}
    .quick_wrap{margin-top: 0; padding-top: 0;}
    .content.scrolled .quick_wrap{margin-top: 0;}
    .etc_area > li{display: none;}
    .etc_area > li.share_box{display: block;}
}

@media all and  (max-width:860px){

    .sub_section{padding: 0 15px;}
    .contents_wrap{padding: 54px 0 90px;}
	h3.sub_top_tit{padding-bottom: 35px;}
	 h3.sub_top_tit span{font-size: 2em;}

     .snb_link > li:first-child{padding-left: 0; padding-right: 10px;}
     .snb_link > li > a{font-size: 1em;}





}
@media all and  (max-width:767px){
	
}
@media all and (max-width:640px){
	
}
@media all and (max-width:580px){

	
    .sub_section{padding: 0 10px;}
    .snb_link > li{margin-left: 10px; padding-left: 20px;}
    .snb_link > li.on .L2_Items{top: 40px;}
    .snb_link > li .L2_Items li a{font-size: 0.875em; padding: 8px 5px 9px;}
   /* .snb_link > li:last-child{display: none;}    */
    .snb_link > li > a{font-size: 0.875em; height: 40px; line-height: 38px;}
    .sub_rtop{margin-top: 10px;}

    .contents_wrap{padding: 24px 0 80px;}
    h3.sub_top_tit{padding-bottom: 25px;}
    h3.sub_top_tit span{font-size: 1.375em;}
    
    
	
}



@media all and (max-width:479px){

	
}
