@charset "UTF-8";
.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
}

header {
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1024px) {
  header {
    height: 440px;
  }
}
header .video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
header .video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .logo-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-icon .search-menu {
  display: flex;
}
header .logo-icon .search-menu a {
  margin-right: 30px;
}
header .logo-icon .search-menu a img {
  width: 36px;
}
header .logo-icon .search-menu a:first-child {
  display: none;
}
header .logo-icon .search-menu a:nth-child(2) {
  display: none;
}
header .logo-icon .search-menu .menu-toggle-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
header .logo-icon .search-menu .menu-toggle-btn span {
  width: 25px;
  height: 3px;
  background-color: black;
}
@media (min-width: 1024px) {
  header .logo-icon .search-menu a:first-child {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(2) {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(3) {
    display: none;
  }
  header .logo-icon .search-menu .menu-toggle-btn {
    display: none;
  }
}
header .menu_box {
  display: none;
}
@media (min-width: 1024px) {
  header .menu_box {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header .menu_box .mainmenu {
    width: 700px;
  }
  header .menu_box .mainmenu .gnb {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  header .menu_box .mainmenu .gnb li {
    position: relative;
  }
  header .menu_box .mainmenu .gnb li .submenu {
    margin-top: 27px;
  }
  header .menu_box .mainmenu .gnb li .submenu li a {
    font-family: "Pretendard-Regular";
    text-decoration: none;
    font-size: 18px;
    color: #7e7e7e;
  }
  header .menu_box .mainmenu .gnb li .submenu li a:hover {
    color: #ffbe0f;
  }
  header .menu_box .mainmenu .gnb a {
    color: #171717;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
    font-family: "KimjungchulMyungjo-Regular";
  }
  header .menu_box .mainmenu .gnb a:hover {
    color: #ffbe0f;
  }
  header .menu_box form .search-box {
    position: relative;
    display: flex;
  }
  header .menu_box form .search-box input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: black;
  }
  header .menu_box form .search-box .search {
    position: absolute;
    top: -18px;
    left: 135px;
  }
  header .menu_box form .search-box .search img {
    width: 30px;
  }
}

main {
  width: 100%;
}
main #intro h2 {
  color: #2f2411;
  font-size: 28px;
  font-family: "Pretendard-Bold";
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  main #intro h2 {
    font-size: 0;
  }
}
main .intro-imgbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 24px;
}
@media (min-width: 1024px) {
  main .intro-imgbox {
    grid-template-columns: repeat(4, 1fr);
  }
}
main .intro-imgbox a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
}
main .intro-imgbox a img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
}
main .intro-imgbox a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s;
}
@media (min-width: 1024px) {
  main .intro-imgbox a .overlay {
    display: none;
  }
}
main .intro-imgbox a .overlay h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
main .intro-imgbox a .overlay .date-box {
  position: absolute;
  top: 83%;
  display: flex;
}
main .intro-imgbox a .overlay .date-box p {
  font-size: 16px;
}
main .intro-imgbox a .overlay .date-box .date {
  margin-right: auto;
}
main .intro-imgbox a .overlay .date-box .location {
  margin-left: auto;
}
main .intro-imgbox a .overlay2 {
  display: none;
}
@media (min-width: 1024px) {
  main .intro-imgbox a .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
}
@media (min-width: 1024px) {
  main .intro-imgbox a .overlay {
    display: none;
  }
  main .intro-imgbox a .overlay2 p {
    font-family: "Pretendard-Regular";
  }
  main .intro-imgbox a .overlay2 h1 {
    font-size: 40px;
    font-family: "Pretendard-Bold";
    font-weight: bold;
    margin: 10px 0;
    color: #ffbe0f;
  }
  main .intro-imgbox a .overlay2 .date-box {
    display: flex;
    justify-content: space-evenly;
  }
  main .intro-imgbox a .overlay2 .date-box p {
    font-size: 16px;
  }
  main .intro-imgbox a:hover .overlay2 {
    opacity: 1;
  }
}

#palace {
  margin-top: 117px;
  position: relative;
}
@media (min-width: 1024px) {
  #palace {
    background-color: #f8efe0;
  }
}
#palace .mo-palace {
  width: 88%;
}
@media (min-width: 1024px) {
  #palace .mo-palace {
    display: none;
  }
}
#palace .palace {
  display: none;
}
@media (min-width: 1024px) {
  #palace .palace {
    display: block;
  }
}
#palace .palace-txt1 {
  position: absolute;
  top: 10%;
  left: 0;
  width: 80%;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  opacity: 65%;
  /* img {
    display: none;
    @include responsive(large-screens) {
      display: block;
  }
  } */
}
@media (min-width: 1024px) {
  #palace .palace-txt1 {
    background: transparent;
    left: 52%;
  }
}
#palace .palace-txt1 .txt {
  width: 100%;
}
#palace .palace-txt1 .txt h2 {
  width: 100%;
  font-family: "Pretendard-Bold";
  font-size: 28px;
  padding-top: 41px;
  padding-left: 32px;
}
#palace .palace-txt1 .txt p {
  width: 100%;
  padding-left: 32px;
}
#palace .palace-txt1 .txt p .txt1 {
  width: 100%;
  font-size: 38px;
  font-family: "Pretendard-Thin";
}
#palace .palace-txt1 .txt p .txt2 {
  width: 100%;
  font-size: 38px;
  font-family: "KimjungchulMyungjo-Light";
}
#palace .palace-txt1 .txt p .txt3 {
  width: 100%;
  font-size: 48px;
  font-family: "Pretendard-SemiBold";
}
#palace .palace-txt2 {
  margin-bottom: 97px;
  width: 100%;
  position: absolute;
  top: 80%;
  left: 10%;
  width: 90%;
  height: auto;
  background-color: #2f2411;
  opacity: 80%;
  color: #fff;
}
@media (min-width: 1024px) {
  #palace .palace-txt2 {
    opacity: 100%;
    top: 60%;
    left: 52%;
    width: 45%;
  }
}
#palace .palace-txt2 .palace_title {
  display: flex;
}
#palace .palace-txt2 .palace_title img {
  width: 58px;
  margin-bottom: 55px;
  margin-right: 20px;
}
#palace .palace-txt2 .palace_title h1 {
  font-family: "KimjungchulMyungjo-Bold";
  font-size: 48px;
}
#palace .palace-txt2 p {
  font-family: "KimjungchulMyungjo-Regular";
}
#palace .palace-txt2 .text2 {
  padding: 30px 0;
}

#banner {
  width: 100%;
  margin-top: 229px;
}
#banner .baner-slide img {
  margin-top: 97px;
  width: 100%;
}
@media (min-width: 1024px) {
  #banner .baner-slide {
    display: none;
  }
}
@media (min-width: 1024px) {
  #banner .banner-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}
#banner .banner-box .baner-slide1, #banner .banner-box .baner-slide2, #banner .banner-box .baner-slide3 {
  display: none;
}
@media (min-width: 1024px) {
  #banner .banner-box .baner-slide1, #banner .banner-box .baner-slide2, #banner .banner-box .baner-slide3 {
    display: block;
    flex: 1;
    min-width: 80%;
    height: 100%;
    position: relative;
  }
  #banner .banner-box .baner-slide1 img, #banner .banner-box .baner-slide2 img, #banner .banner-box .baner-slide3 img {
    width: 100%;
    height: 100%;
    display: block;
  }
  #banner .banner-box .baner-slide1 .baner-slide1, #banner .banner-box .baner-slide1 .baner-slide3, #banner .banner-box .baner-slide2 .baner-slide1, #banner .banner-box .baner-slide2 .baner-slide3, #banner .banner-box .baner-slide3 .baner-slide1, #banner .banner-box .baner-slide3 .baner-slide3 {
    opacity: 60%;
    transform: scale(0.9);
    z-index: 1;
  }
  #banner .banner-box .baner-slide1 .baner-slide2, #banner .banner-box .baner-slide2 .baner-slide2, #banner .banner-box .baner-slide3 .baner-slide2 {
    z-index: 2;
  }
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(-33.33%);
    }
    66% {
      transform: translateX(-66.66%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  #banner .banner-box .baner-slide1 .banner-box, #banner .banner-box .baner-slide2 .banner-box, #banner .banner-box .baner-slide3 .banner-box {
    animation: slide 12s infinite;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
}

#notice {
  margin: 110px 0;
}
@media (min-width: 1024px) {
  #notice {
    margin: 162px 0;
  }
}
#notice h2 {
  color: #2f2411;
  font-size: 28px;
  font-family: "Pretendard-Bold";
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  #notice h2 {
    display: none;
  }
}
#notice .notice-flex-box {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1024px) {
  #notice .notice-flex-box {
    overflow: visible;
    justify-content: space-between;
    position: none;
  }
  #notice .notice-flex-box .slide-img1 {
    display: none;
  }
}
#notice .notice_box, #notice .notice_box2, #notice .notice_box3 {
  flex: 1;
  min-width: 50%;
  position: relative;
}
@media (min-width: 1024px) {
  #notice .notice_box, #notice .notice_box2, #notice .notice_box3 {
    flex: none;
    min-width: 20%;
    position: none;
    width: 33%;
  }
}
#notice .notice_box .notice-txt, #notice .notice_box2 .notice-txt, #notice .notice_box3 .notice-txt {
  background: #fff;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
#notice .notice_box .notice-txt .border-box, #notice .notice_box2 .notice-txt .border-box, #notice .notice_box3 .notice-txt .border-box {
  width: 80%;
  height: auto;
  border-left: 5px solid #2f2411;
  padding-left: 21px;
  margin-top: 65px;
  margin-left: 62px;
}
#notice .notice_box .notice-txt .border-box span, #notice .notice_box2 .notice-txt .border-box span, #notice .notice_box3 .notice-txt .border-box span {
  display: block;
  font-size: 14px;
  color: #aaaaaa;
  margin-bottom: 5px;
  font-family: "Pretendard-Regular";
}
#notice .notice_box .notice-txt .border-box h3, #notice .notice_box2 .notice-txt .border-box h3, #notice .notice_box3 .notice-txt .border-box h3 {
  font-size: 26px;
  color: black;
  margin-bottom: 10px;
  font-family: "KimjungchulMyungjo-Bold";
}
#notice .notice_box .notice-txt .main-info, #notice .notice_box2 .notice-txt .main-info, #notice .notice_box3 .notice-txt .main-info {
  margin-top: 56px;
  margin-left: 62px;
  font-size: 24px;
  color: black;
  line-height: 1.5;
  font-family: "Pretendard-Regular";
}
#notice .notice_box .notice-txt .main-info br, #notice .notice_box2 .notice-txt .main-info br, #notice .notice_box3 .notice-txt .main-info br {
  margin-bottom: 5px;
}
#notice .notice_box .notice-txt .main-info2, #notice .notice_box2 .notice-txt .main-info2, #notice .notice_box3 .notice-txt .main-info2 {
  margin-top: 56px;
  margin-left: 62px;
  font-size: 20px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 34px;
  font-family: "KimjungchulMyungjo-Light";
}
#notice .notice_box .notice-txt .date, #notice .notice_box2 .notice-txt .date, #notice .notice_box3 .notice-txt .date {
  display: block;
  margin-left: 62px;
  padding-bottom: 60px;
  font-family: "Pretendard-SemiBold";
  color: #aaaaaa;
}
#notice .notice_box2 {
  z-index: 2;
}
@media (min-width: 1024px) {
  #notice .notice_box2 {
    z-index: 1;
    width: 33%;
  }
}
#notice .notice_box, #notice .notice_box3 {
  opacity: 60%;
  transform: scale(0.9);
  z-index: 1;
}
@media (min-width: 1024px) {
  #notice .notice_box, #notice .notice_box3 {
    opacity: 100%;
    transform: none;
  }
}

.notice-flex-box {
  scroll-behavior: smooth;
  overflow-x: hidden; /* 슬라이드 overflow 조정 */
  position: relative;
}
@media (min-width: 1024px) {
  .notice-flex-box {
    position: none;
    width: 100%;
  }
}

.slide-img1, .slide-img2 {
  flex: 0 0 40px;
}
@media (min-width: 1024px) {
  .slide-img1, .slide-img2 {
    flex: none;
    display: none;
  }
}
.slide-img1 a, .slide-img2 a {
  display: block;
  width: 100%;
  height: 100%;
}
.slide-img1 a img, .slide-img2 a img {
  width: 100%;
  height: auto;
}

#history {
  padding-top: 110px;
}
#history .history-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#history .history-box h2 {
  color: #2f2411;
  font-size: 28px;
  font-family: "Pretendard-Bold";
}
@media (min-width: 1024px) {
  #history .history-box h2 {
    display: none;
  }
}
#history .history-box .menu-box .palace_gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#history .history-box .menu-box .palace_gnb li {
  margin-right: 20px;
}
#history .history-box .menu-box .palace_gnb li a {
  color: black;
  font-size: 24px;
  font-family: "Pretendard-ExtraLight";
}
#history .history-box .menu-box .palace_gnb li a:hover {
  text-decoration: underline;
  font-weight: 600;
}
@media (min-width: 1024px) {
  #history .history-box .menu-box {
    display: none;
  }
}
#history .palace-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a a" "b d" "c d";
  gap: 10px;
  padding: 10px;
}
#history .palace-img img:nth-child(1) {
  grid-area: a;
}
#history .palace-img img:nth-child(2) {
  grid-area: b;
}
#history .palace-img img:nth-child(3) {
  grid-area: c;
}
#history .palace-img img:nth-child(4) {
  grid-area: d;
}
#history .palace-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
}
footer .sns {
  width: 100%;
  height: 70px;
  background-color: #ffbe0f;
  display: flex;
  justify-content: center;
  background-color: #ffbe0f;
  width: 100%;
  height: 67px;
}
@media (min-width: 1024px) {
  footer .sns {
    height: 66px;
  }
}
footer .sns a {
  margin-top: 10px;
  margin-right: 42px;
}
footer .sns a a:last-child {
  margin-right: 0;
}
footer .sns a img {
  width: 48px;
}
@media (min-width: 1024px) {
  footer .sns a {
    margin-right: 20px;
  }
}
footer .footer-back {
  background: url(../images/footer_pattern.png);
  background-size: cover;
  background-color: #2f2411;
}
@media (min-width: 1024px) {
  footer .footer-back {
    background: url(../images/header_backpc.png);
    background-size: cover;
    background-color: #2f2411;
  }
}
footer .footer-back .footLogo a {
  padding: 62px;
}
footer .footer-back .footLogo a img {
  margin: 0 auto;
}
footer .footer-back form {
  text-align: center;
}
footer .footer-back form label select {
  border: 0;
  color: white;
  font-family: "Pretendard-Regular";
  font-size: 26px;
  background: transparent;
  width: 214px;
}
@media (min-width: 1024px) {
  footer .footer-back form label select {
    font-size: 21px;
  }
}
footer hr {
  width: 411px;
  height: 3px;
  background-color: #ffbe0f;
  margin: 60px auto;
}
footer .public {
  display: flex;
  justify-content: center;
}
footer .public a {
  font-size: 26px;
  font-family: "KimjungchulMyungjo-Regular";
  margin-right: 42px;
  margin-bottom: 46px;
  color: white;
}
footer .public a:hover {
  color: #ffbe0f;
}
@media (min-width: 1024px) {
  footer .public a {
    font-size: 20px;
  }
}
footer .public a:last-child {
  margin-right: 0;
}
footer .address {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Light";
}
@media (min-width: 1024px) {
  footer .address {
    font-size: 18px;
  }
}
footer .question {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .question address {
  font-size: 20px;
  margin-right: 42px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question address {
    font-size: 18px;
  }
}
footer .copyright p {
  padding-bottom: 51px;
  font-size: 18px;
  font-family: "Pretendard-ExtraLight";
}
@media (min-width: 1024px) {
  footer .copyright p {
    font-size: 16px;
  }
}/*# sourceMappingURL=메인.css.map */