@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}


    
    hr {
        display: none;
        
        @include responsive(large-screens) {
            display: block;
            margin: 135px 0;
            width: 100%;
        }
    }
    
    .fi-intro {

        h2 {
            display: none;
        }

        h3 {
            text-align: center;
            font-size: 30px;
            font-family: $font-pre-bold;
            
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-thickness: 2px;

            margin-top: 32px;
        }

        .subinfo {
            font-size: 28px;
            font-family: $font-regular;
            margin: 40px 0;
            text-align: center;
        }
        
        img {
            width: 100%;
            margin: 45px auto;
        }
        
        .info1 {
            text-align: center;
            font-size: 24px;
            font-family: $font-regular;
            line-height: 1.2;

            margin-bottom: 55px;
        }
        
        @include responsive(large-screens) {
                h2 {
                    display: block;
                    text-align: left;
                    font-size: 48px;
                    font-family: $font-pre-bold;

                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-thickness: 3px;
                }
                
                h3 {
                    text-align: left;     
                    font-size: 24px;
                    font-family: $font-pre-bold;

                    text-decoration-thickness: 3px;
                    
                    margin-top: 130px;
                    margin-bottom: 45px;
                }
                
                img {
                    width: 610px;

                    display: block;
                    margin: 40px auto;
                }
                
                .info1 {
                    line-height: 2;
                }
            } // fi-intro-large-screens
        } // fi-intro
            
    .rogo-type {
                
        background-color: #f1f1f1;
        padding-top: 40px;
        padding-bottom: 40px;
        
        h3 {
            text-align: center;
            font-size: 30px;
            font-family: $font-pre-bold;
            
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-thickness: 2px;
        }
        img {
            width: 100%;
            margin: 45px auto;
        }
        
        .info2 {
            text-align: center;
            font-size: 24px;
            font-family: $font-regular;
            line-height: 1.2;
        } 
        
        @include responsive(large-screens) {

                background-color: white;
                padding: 0;

                h3 {
                    font: 24px;
                    font-family: $font-pre-bold;

                    text-decoration-thickness: 3px;
                    
                    margin-top: 0;
                    margin-bottom: 0;
                    
                    text-align: left;
                }
                
                img {
                    width: 360px;
                    float: left;
                    margin: 130px 0 0;
                }
                
                .info2 {
                    text-align: right;
                    line-height: 2;
                }
        } // include
    } // rogo-type
        
    .main-symbolmark {
        margin-top: 45px;
        
        h3 {
            text-align: center;
            font-size: 30px;
            font-family: $font-pre-bold;

            text-decoration: underline;
            text-underline-position: under;
            text-decoration-thickness: 2px;
        }
        img {
            width: 100%;
            margin: 45px auto;
        }
        
        .info3 {
            text-align: center;
            font-size: 24px;
            font-family: $font-regular;
            line-height: 1.2;
        } 
        
        @include responsive(large-screens) {

                h3 {
                    text-align: right;

                    font: 24px 'Pretendard' 'bold';

                    text-decoration-thickness: 3px;
                    
                    margin-top: 130px;
                }
                
                img {
                    display: block;

                    width: 240px;
                    float: right;

                    margin: 66px 0 0;
                }
                
                .info3 {
                    text-align: left;

                    line-height: 2;
                }  
                 
        } // include
    } // main-symbolmark 

    .main-signature {
        background-color: #f1f1f1;
        padding-top: 45px;
        padding-bottom: 40px;
        
        h3 {
            text-align: center;
            font-size: 30px;
            font-family: $font-pre-bold;
            
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-thickness: 2px;
        }
        img {
            width: 100%;
            margin: 45px auto;
        }
                
        .info4 {
            text-align: center;
            font-size: 24px;
            font-family: $font-regular;
            line-height: 1.2;
        } 

        @include responsive(large-screens) {
            background-color: white;
            padding-top: 0;
            padding-bottom: 0;

            h3 {
                text-align: left;
                font: 30px 'Pretendard' 'bold';
                
                text-decoration-thickness: 3px;
            }
            img {
                width: 404px;
                float: left;
                margin: 45px 0 0;
            }
                    
            .info4 {
                text-align: right;

                line-height: 2;
            } 
        }
    } //main-signature

    .useno-box {
        display: none;

        @include responsive(large-screens) {
            display: block;

            .useno {
                margin: 130px auto 100px;

                h2 {
                    font-size: 48px;
                    font-family: $font-medium; 
                    text-align: center;
                }
            }

            .useno-ex {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 10px;

                    .grid-img {
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    div:nth-child(4) {
                        width: 358px;
                        height: 269px;
                    }
                }
            }
        }

    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;

        .buttons {
    
            display: flex;

            .download {
                margin: 0 10px;
                padding: 10px 20px;
                background-color: $color-hover;
                color: white;
                border: none;
                font-size: 21px;
                font-family: $font-medium;
                cursor: pointer;
            }
        }

        @include responsive(large-screens) {

            height: 30vh;
    
            .buttons {
        
                display: flex;
    
                .download {
                    margin: 0 10px;
                    padding: 10px 20px;
                    background-color: $color-hover;
                    color: white;
                    border: none;
                    font-size: 28px;
                    font-family: $font-medium;

                    cursor: pointer;
                }
            }
        }
    }