@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header_footer.scss";

.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 0%;
        left: 35%;
        display: none;
        background: #251a06;
        padding: 40px;
        max-width: 600px;
        margin: 100px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table;
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 36px;
        font-weight: 300;
        margin: 0 0 40px;
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 22px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
        }
    }
}







.start-section {
    width: 100%;
    position: relative;
    img {
        width: 100%;
        height: 400px;

        margin: 0 0 150px 0;
    }
    .main-info {
        position: absolute;
        top: 290px; right: 32px;
        width: 364px;
        height: 230px;
        background-color: #f1ebde;
        
        opacity: 0.8;

        h2 {
            font-size: 28px;
            font-family: $font-pre-regular;
            margin: 20px 0 20px 20px;
        }

        p {
            font-size: 20px;
            font-family: $font-pre-light;
            margin: 0 20px;
            padding: 0 0 20px 0;
            line-height: 1.2;
        }
    }
    @include responsive(large-screens) {
        img {
            width: 100%;
            height: 1000px;
        }
        .main-info {
            position: absolute;
            top: 0; right: 0;
            width: 100%;
            height: 1000px;
            background-color: #000;
            
            opacity: 0.8;
    
            h2 {
                position: absolute;
                top: 224px;
                left: 251px;
                font-size: 88px;
                font-family: $font-pre-regular;
                color: white;
            }
    
            p {
                position: absolute;
                top: 628px; right: 353px;
                font-size: 28px;
                font-family: $font-pre-light;
                color: white;

                text-align: right;
            }
        }
    }
  } // start-section

  .slide {
    display: none;

    @include responsive(large-screens) {
        display: block;

        margin: 168px 0;

        .slide-container {
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
        }
        
        .slides {
            display: flex;
            position: relative;
            transform: translateX(0);
            width: calc(600px * 5); // assuming 3 images

            li {
                width: 500px;
                margin: 0 16px;
            }

            img {
                width: 100%; /* 슬라이드 이미지 너비 */
                height: 300px;
            }
            
        }

        .slide-info {
            font-size: 24px;
            font-family: $font-pre-light;
            line-height: 36px;

            margin: 96px 0;

            text-align: center;
        }

        // .slideRight {
        //     display: flex;
        //     transition: right 0.5s;
        //     position: relative;
        //     right: 0;

        //     img {
        //         width: 500px; /* 슬라이드 이미지 너비 */
        //         height: auto;
        //     } 
        // }
    }
}

  .festival {
    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: 400px;

        margin: 0 0 260px 0;
    }
    .main-info2 {
        position: absolute;
        top: 280px; left: 32px;
        width: 80%;
        height: 300px;
        background-color: #f1ebde;
        
        opacity: 0.8;

        
        h2 {
            font-size: 28px;
            font-family: $font-pre-regular;
            text-align: right;

            margin: 20px 20px 20px 0;
        }

        p {
            font-size: 20px;
            font-family: $font-pre-light;
            padding: 0 20px 20px 20px;
            line-height: 1.3;

            text-align: right;
        }
    }
    @include responsive(large-screens) {
        img {
            width: 100%;
            height: 1000px;

            margin-bottom: 200px;
        }
        .main-info2 {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 1000px;
            background-color: #000;
            
            opacity: 0.8;
    
            h2 {
                position: absolute;
                top: 224px;
                right: 247px;
                font-size: 88px;
                font-family: $font-pre-regular;
                color: white;
            }
    
            p {
                width: 600px;
                position: absolute;
                top: 633px; left: 253px;
                font-size: 28px;
                font-family: $font-pre-light;
                color: white;

                text-align: left;
            }
        }
    }
} // festival

.history {

    position: relative;
    margin-left: 0px;
    margin-bottom: 80px;

    .history-hour {
        width: 220px;
        height: 153px;
        
        h2 {
            font-size: 36px;
            font-family: $font-pre-light;

            strong {
            font-family: $font-pre-bold;
            letter-spacing: -4px;
            }
        }
    }

    .year-arr {
        margin-top: 95px;

        .year {
            font-size: 20px;
            font-family: $font-pre-light;
            display: flex;
            line-height: 1.5;

            &:hover {
                text-decoration: line-through;
            }
        }
    }

    .num-festi {
        width: 220px; height: 160px;
        content: "";
        position: absolute;
        top: 70%;
        right: 40%;
        background-color: rgba(255, 255, 255, 0.7);
        transform: translateY(-50%);

        padding: 20px 5px 25px 40px;

        z-index: 1;

        strong {
            font-size: 28px;
            font-family: $font-pre-regular;
        }

        .more {
            position: absolute;
            right: 25px;
            width: 83px;
            height: 35px;
            background-color: #251a06;
            border-radius: 15px;
            line-height: 35px;
            text-align: center;

            color: white;
        }
    }
    

    img {
        position: absolute;
        top: 35px; right: 0;

        width: 225px;
        height: 325px;
    }


    @include responsive(large-screens) {
        
        position: relative;
        margin-bottom: 240px;
    
        .history-hour {
            width: 500px;
            height: 315px;
            
            margin-bottom: 195px;
            h2 {
                font-size: 88px;
                font-family: $font-pre-regular;
            }
        }
    
        .year-arr {

            .year {
                cursor: pointer;
                margin-left: 120px;
            }
        }
    
        .num-festi {
            width: 300px; height: 160px;
            top: 85%;
            right: 50%;
            strong {
                font-size: 41px;
                font-family: $font-pre-regular;
            }
    
            .more {
                top: 140px;
                right: 80px;
            }
        }
        
    
        img {
            position: absolute;
            top: 0; right: 252px;
            float: right;
            width: auto;
            height: auto;
        }
    }
} // history 

.making_people {
    display: none;

    @include responsive(large-screens) {
        display: block;

        .logo_making {
            display: flex;
            justify-content: space-between;
            margin: 0 auto 50px;
            cursor: pointer;

            width: 900px; height: 100px;
        }

        .survice {
            display: none;
            flex-direction: column;

            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s ease-out;

            margin: 60px 0 210px 0;


            .survice_info {
                display: flex;

                width: 810px;
                height: 80px;
                
                margin: 0 auto 10px;

                // background-color: rgba(150, 150, 150, 0.1);

                h3 {
                    width: 200px; height: 18px;

                    color: #ffbe0f;
                    font-size: 20px;
                    font-family: $font-pre-bold;
                    
                    margin-right: 102px;
                }
                p {
                    font-size: 18px;
                    font-family: $font-pre-regular;
                    width: 500px;
                    height: 50px;

                }
                small {
                    font-size: 13px;
                    font-family: $font-pre-light;
                }
            }
        }
            .service2 {
                display: none;

                overflow: hidden;
                max-height: 0;
                transition: max-height 0.5s ease-out;

                margin: 60px 0 210px 0;

                .survice_info2 {
                    width: 916px;
                    height: 50px;
                    
                    margin: 0 auto 10px;
    
                    // background-color: rgba(150, 150, 150, 0.1);
    
                    display: flex;

                    &:first-of-type {
                        padding-left: 300px;
                    }
    
    
                    h3 {
                        width: 200px; height: 18px;
    
                        color: #ffbe0f;
                        font-size: 20px;
                        font-family: $font-pre-bold;
                        
                        margin-right: 102px;
                    }
                    p {
                        font-size: 18px;
                        font-family: $font-pre-regular;
                        width: 500px;
                        height: 50px;
    
                    }
                    small {
                        font-size: 13px;
                        font-family: $font-pre-light;
                    }
                }
            }

            .service3 {
                display: none;

                overflow: hidden;
                max-height: 0;
                transition: max-height 0.5s ease-out;

                margin: 60px 0 210px 0;

                .survice_info3 {
                    width: 916px;
                    height: 50px;
                    
                    margin: 0 auto 10px;
    
                    // background-color: rgba(150, 150, 150, 0.1);
    
                    display: flex;
    
    
                    h3 {
                        width: 200px; height: 18px;
    
                        color: #ffbe0f;
                        font-size: 20px;
                        font-family: $font-pre-bold;
                        
                        margin-right: 102px;
                    }
                    p {
                        font-size: 18px;
                        font-family: $font-pre-regular;
                        width: 500px;
                        height: 50px;
    
                    }
                    small {
                        font-size: 13px;
                        font-family: $font-pre-light;
                    }
                }
            }

        .visible {
            display: block;
            max-height: 1000px; // 적절한 최대 높이 값으로 설정
        }
    }
}