@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

    
.start-section {
    width: 100%;
    position: relative;
    img {
        width: 616px;
        height: 400px;

        margin: 0 0 150px 0;
    }
    .main-info {
        position: absolute;
        top: 290px; right: 32px;
        width: 364px;
        height: 230px;
        background-color: #f1ebde;
        
        opacity: 0.8;

        h2 {
            font: 28px 'Pretendard';
            margin: 20px 0 20px 20px;
        }

        p {
            font: 20px 'Pretendard';
            margin: 0 20px;
            padding: 0 0 20px 0;
        }
    }
    @include responsive(large-screens) {
        img {
            width: 100%;
            height: 1000px;
        }
        .main-info {
            position: absolute;
            top: 0; right: 0;
            width: 100%;
            height: 1000px;
            background-color: #000;
            
            opacity: 0.8;
    
            h2 {
                position: absolute;
                top: 224px;
                left: 251px;
                font: 88px 'Pretendard';
                color: white;
            }
    
            p {
                position: absolute;
                top: 628px; right: 353px;
                font: 28px 'Pretendard';
                color: white;

                text-align: right;
            }
        }
    }
  } // start-section

  .slide {
    display: none;

    @include responsive(large-screens) {
        display: block;

        margin: 168px 0;
        
        .slideLeft {
            display: flex;
            justify-content: space-between;

            animation: scroll 20s linear infinite;

            img {
                width: 631px;
                height: 303px;
                margin-right: 40px;
            }
            
        }

        .slide-info {
            font: 24px 'Pretendard-Light';
            line-height: 36px;

            margin: 96px 0;

            text-align: center;
        }

        .slideRight {
            display: flex;
            justify-content: space-between;

            animation: scroll 20s linear infinite reverse;

            img {
                width: 631px;
                height: 303px;
                margin-right: 40px;
            }
            
        }
        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }
    }
  }

  .festival {
    width: 100%;
    position: relative;

    img {
        width: 616px;
        height: 400px;

        margin: 0 0 260px 0;
    }
    .main-info2 {
        position: absolute;
        top: 280px; left: 32px;
        width: 400px;
        height: 300px;
        background-color: #f1ebde;
        
        opacity: 0.8;

        
        h2 {
            font: 28px 'Pretendard';
            text-align: right;

            margin: 20px 20px 20px 0;
        }

        p {
            font: 20px 'Pretendard';
            padding: 0 20px 20px 20px;

            text-align: right;
        }
    }
    @include responsive(large-screens) {
        img {
            width: 100%;
            height: 1000px;

            margin-bottom: 200px;
        }
        .main-info2 {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 1000px;
            background-color: #000;
            
            opacity: 0.8;
    
            h2 {
                position: absolute;
                top: 224px;
                right: 247px;
                font: 88px 'Pretendard';
                color: white;
            }
    
            p {
                width: 600px;
                position: absolute;
                top: 633px; left: 253px;
                font: 28px 'Pretendard';
                color: white;

                text-align: left;
            }
        }
    }
} // festival

.history {

    position: relative;
    margin-left: 0px;
    margin-bottom: 80px;

    .history-hour {
        width: 196px;
        height: 153px;
        
        h2 {
            font: 36px 'Pretendard';
        }
    }

    .year-arr {
        margin-top: 95px;

        .year {
            font: 20px 'Pretendard';
            display: flex;
            line-height: 1.5;

            &:hover {
                text-decoration: line-through;
            }
        }
    }

    .num-festi {
        width: 200px; height: 160px;
        content: "";
        position: absolute;
        top: 70%;
        right: 40%;
        background-color: rgba(255, 255, 255, 0.7);
        transform: translateY(-50%);

        padding: 20px 5px 25px 40px;

        z-index: 1;

        strong {
            font: 28px 'Pretendard';
        }

        .more {
            position: absolute;
            right: 25px;
            width: 83px;
            height: 35px;
            background-color: #251a06;
            border-radius: 15px;
            line-height: 35px;
            text-align: center;

            color: white;
        }
    }
    

    img {
        position: absolute;
        top: 35px; right: 0;

        width: 225px;
        height: 325px;
    }


    @include responsive(large-screens) {
        
        position: relative;
        margin-bottom: 240px;
    
        .history-hour {
            width: 500px;
            height: 315px;
            
            margin-bottom: 195px;
            h2 {
                font: 88px 'Pretendard';
            }
        }
    
        .year-arr {

            .year {
                cursor: pointer;
                margin-left: 120px;
            }
        }
    
        .num-festi {
            top: 90%;
            right: 50%;
            strong {
                font: 41px;
            }
    
            .more {
                top: 100px;
                right: 80px;
            }
        }
        
    
        img {
            position: absolute;
            top: 0; right: 252px;
            float: right;
            width: auto;
            height: auto;
        }
    }
} // history 

.making_people {
    display: none;

    @include responsive(large-screens) {
        display: block;

        .logo_making {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            width: 900px; height: 100px;
        }

        .survice {
            display: flex;
            flex-direction: column;

            margin: 60px 0 210px 0;


            .survice_info {
                width: 916px;
                height: 50px;
                
                margin: 0 auto 10px;

                background-color: rgba(150, 150, 150, 0.1);

                display: flex;


                h3 {
                    width: 150px; height: 18px;

                    color: #ffbe0f;
                    font: 20px 'Pretendard';
                    
                    margin-right: 102px;
                }
                p {
                    font: 18px 'Pretendard';
                    width: 500px;
                    height: 50px;

                }
                small {
                    font: 13px 'Pretendard';
                }
            }
        }
            .service2 {
                display: none;
                .service_info2 {
                    width: 916px;
                    height: 50px;
                    
                    margin: 0 auto 10px;
    
                    background-color: rgba(150, 150, 150, 0.1);
    
                    display: flex;
    
    
                    h3 {
                        width: 150px; height: 18px;
    
                        color: #ffbe0f;
                        font: 20px 'Pretendard';
    
                        margin-right: 102px;
                    }
                    p {
                        font: 18px 'Pretendard';
                        width: 500px;
                        height: 50px;
    
                    }
                    small {
                        font: 13px 'Pretendard';
                    }
                }
            }

            .service3 {
                display: none;
                .service_info3 {
                    display: none;
                    width: 916px;
                    height: 50px;
                    
                    margin: 0 auto 10px;
    
                    background-color: rgba(150, 150, 150, 0.1);
    
                    display: flex;
    
    
                    h3 {
                        width: 150px; height: 18px;
    
                        color: #ffbe0f;
                        font: 20px 'Pretendard';
    
                        margin-right: 102px;
                    }
                    p {
                        font: 18px 'Pretendard';
                        width: 500px;
                        height: 50px;
    
                    }
                    small {
                        font: 13px 'Pretendard';
                    }
                }
            }
    }
}