@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    position: relative;
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}

// ==== title ====
.title-tag-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .remaining {
        display: flex;
        align-items: center;

        img {
            width: 28px;
            height: 28px;
        }
    }
}  // title-tag-btn

.place-period {
    display: flex;
    p {
        margin-right: 16px;
    }
}

// ==== booking-btn ====
.booking-btn {
    position: absolute;
    bottom: 0; right: 0;
}

// ==== images ====
.poster {
    img {
        width: 100%;
    }
}
.slide {
    img {
        width: 100%;
    }
}

// ==== detail ====
section.detail {
    position: relative;
    height: 600px;
    overflow: hidden;
    img {
        width: 100%;
    }
    .more-btn {
        height: 100px; width: 100%;
        position: absolute;
        bottom: 0;  left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.300);
        // background: linear-gradient(#00000044, #000000ee);
        background: linear-gradient(to bottom, #00000000, #00000075);

        p {
            margin-top: 30px;
            text-align: center;
            color: white;
        }
        img {
            margin: 0 auto;
            width: 32px;
        }
    }
}

// ==== additional ====
section.additional {
    display: flex;
    flex-direction: column;

    .info-box {
        width: 100%;
        margin-top: 32px;
        padding: 48px;
        border: 1px solid $basic-brown;

        div.title {
            width: 70px;
            padding-top: 8px;
            margin-bottom: 40px;
            text-align: center;
            border-top: 2px solid $basic-brown;
        }
        ul {
            .sub-title {
                padding-left: 32px;
                margin-bottom: 16px;
                line-height: 20px;
                background-image: url(../images/title_icon02.png);
                background-size: 20px;
                background-repeat: no-repeat;
            }  // sub-title

            .content {
                padding-left: 32px;
                margin-bottom: 24px;
                line-height: 1.3;

                .small {
                    font-size: 14px;
                }
                .space {
                    padding-left: 12px;
                }
            }  // content
        }  // ul
    }  // info-box

    @include responsive(large-screens) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        .info-box {
            width: 49%;
        }
    }
}

// ==== call ====
section.call {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    // justify-content: space-between;
}

