@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../header_footer/scss/header_footer.scss";

.container {
    position: relative;
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}
.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}


// ==== title ====
section.title {
    margin-bottom: 32px;

    .title-tag-btn {
        position: relative;
        display: flex;
        align-items: center;

        margin-bottom: 8px;
    
        h2 {
            margin-right: 16px;
            font-size: 20px;

            @include responsive(large-screens) {
                font-size: 36px;
            }
        }

        .tag {
            font-size: 12px;

            @include responsive(large-screens) {
                font-size: 16px;
            }

            span {
                padding: 4px 8px;
                margin-right: 4px;
                border-radius: 8px;
                background-color: $background-lightgray;

                @include responsive(large-screens) {
                    margin-right: 8px;
                }
            }

            .tobe {
                background-color: wheat;
            }

            .ongoing {
                color: white;
                background-color: green;
            }
            
            .finish {
                color: white;
                background-color: darkgray;
            }
            
            .experience {
                color: white;
                background-color: $basic-yellow;
            }
            
            .official {
                color: white;
                background-color: darkred;
            }

            .booking {
                color: white;
                background-color: $basic-brown;
            }
        }

        .ongoing, .booking {
            display: none;

            @include responsive(large-screens) {
                display: inline-block;
            }
        }
        .remaining {
            position: absolute;
            right: 0; top: 0;
            display: flex;
            flex-direction: column;
            cursor: pointer;
    
            margin-top: -3px;
            padding: 8px;
            border-radius: 8px;
            color: #fff;
            background-color: $basic-brown;
            font-size: 11px;

            img {
                width: 24px; height: 24px;
                margin: 0 auto 6px;
            }

            @include responsive(large-screens) {
                font-size: 14px;
                padding: 12px;

                img {
                    width: 28px; height: 28px;
                }
            }
        }  // remaining

        .remaining:hover {
            background-color: $basic-yellow;

        }

        @include responsive(large-screens) {
            margin-bottom: 8px;
        }
    }  // title-tag-btn
    
    .place-period {
        display: flex;
        p {
            color: $basic-gray;
            font-size: 12px;
            margin-right: 8px;

            @include responsive(large-screens) {
                font-size: 16px;
            }
        }
    }  // place-period
}

// ==== booking-btn ====
.booking-btn {  // 플로팅
    position: fixed;
    bottom: 40px; right: 24px;
    z-index: 99;
    display: flex;
    padding: 12px 24px;
    background-color: $basic-brown;
    border-radius: 36px;
    
    img {
        width: 24px; height: 24px;
        margin-right: 12px;

        @include responsive(large-screens) {
            margin-right: 0;
        }
    }  // img
    .hover {
        font-weight: bold;
        color: #fff;
        
        @include responsive(large-screens) {
            display: none;
        }
    }  // hover
}

.booking-btn:hover {
    background-color: $basic-yellow;
    img {
        @include responsive(large-screens) {
            margin-right: 12px;
        }
    }  // img

    .hover {        
        @include responsive(large-screens) {
            color: $basic-brown;
            display: block;
        }
    }  // hover
}

// ==== images ====
section.images {
    .poster {
        img {
            width: 100%;
            margin-bottom: 32px;
        }
    }  // poster
    .slide {
        margin-bottom: 32px;
        img {
            width: 100%;
        }
        .sub { display: none; }
    }  // slide

    @include responsive(large-screens) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-bottom: 56px;

            .poster {
                width: 33%;
                img {
                    width: 100%;
                    margin-bottom: 0;
                }
            }
            .slide {
                width: 65%;
                margin-bottom: 0;
                img {
                    height: 100%;
                }
            }
    }
}


// ==== detail ====
section.detail {
    position: relative;
    height: 600px;
    overflow: hidden;
    transition: height 0.3s ease;

    div.title {
        width: 56px;
        padding-bottom: 4px;
        margin-bottom: 24px;
        border-bottom: 2px solid $basic-brown;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1px;
        text-align: center;

        @include responsive(large-screens) {
            width: 72px;
            font-size: 16px;
        }
    }

    img {
        width: 80%;
        margin: 0 auto;
    }
    .more-btn {
        cursor: pointer;
        height: 100px; width: 80%;
        position: absolute;
        bottom: 0;  left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.300);
        background: linear-gradient(to bottom, #00000000, #00000075);

        p {
            margin-top: 30px;
            font-size: 16px;
            text-align: center;
            color: white;
        }
        img {
            margin: 0 auto;
            width: 24px;
            transform: rotate(180deg);
        }
    }

    &.expanded {
        height: auto;

        .more-btn img {
            transform: rotate(180deg);
        }
    }

    @include responsive(large-screens) {
        height: 1400px;
        &.expanded {
            height: auto;
        }
    }
}

// ==== additional ====
section.additional {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .info-box {
        width: 100%;
        margin-top: 32px;
        padding: 28px;
        border: 1px solid $basic-brown;

        @include responsive(large-screens) {
            padding-top: 32px;
        }

        div.title {
            width: 60px;
            padding-top: 6px;
            margin-bottom: 24px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            border-top: 2px solid $basic-brown;

            @include responsive(large-screens) {
                width: 72px;
                font-size: 16px;
            }
        }
        ul {
            .sub-title {
                padding-left: 24px;
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 16px;
                background-image: url(../images/title_icon02.png);
                background-size: 16px;
                background-repeat: no-repeat;
            }  // sub-title

            .content {
                padding-left: 24px;
                margin-bottom: 24px;
                font-size: 14px;
                line-height: 1.3;

                .small {
                    color: $basic-gray;
                    font-size: 12px;
                }
                .space {
                    padding-left: 12px;
                }
            }  // content
        }  // ul
    }  // info-box

    @include responsive(large-screens) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        .info-box {
            width: 49%;
        }
    }
}

// ==== call ====
section.call {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
    div.title {
        width: 56px;
        padding-bottom: 4px;
        margin-bottom: 24px;
        border-bottom: 2px solid $basic-brown;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1px;
        text-align: center;

        @include responsive(large-screens) {
            width: 72px;
            font-size: 16px;
        }
    }


    p {
        margin-left: 16px;
        font-size: 16px;

        @include responsive(large-screens) {
            margin-left: 32px;
            line-height: 1.4;

            strong {
                font-size: 24px;
            }
        }
    }
}

