@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    position: relative;
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}

// *** 문의전화 title 수정

// ==== title ====
section.title {
    margin-bottom: 32px;

    .title-tag-btn {
        position: relative;
        display: flex;
        align-items: center;
        // justify-content: space-between;

        margin-bottom: 8px;
    
        h2 {
            margin-right: 16px;
            font-size: 20px;

            @include responsive(large-screens) {
                font-size: 36px;
            }
        }

        .tag {
            font-size: 12px;

            @include responsive(large-screens) {
                font-size: 16px;
            }

            span {
                padding: 4px 8px;
                margin-right: 4px;
                border-radius: 8px;
                background-color: $background-lightgray;

                @include responsive(large-screens) {
                    margin-right: 8px;
                }
            }

            .tobe {
                // color: white;
                background-color: wheat;
            }

            .ongoing {
                color: white;
                background-color: green;
            }
            
            .finish {
                color: white;
                background-color: darkgray;
            }
            
            .experience {
                color: white;
                background-color: $basic-yellow;
            }
            
            .official {
                color: white;
                background-color: darkred;
            }

            .booking {
                color: white;
                background-color: $basic-brown;
            }
        }

        .ongoing, .booking {
            display: none;

            @include responsive(large-screens) {
                display: inline-block;
            }
        }
        .remaining {
            position: absolute;
            right: 0; top: 0;
            display: flex;
            flex-direction: column;
            // justify-content: end;
            // align-items: center;
    
            margin-top: -3px;
            padding: 8px;
            border-radius: 8px;
            color: #fff;
            background-color: $basic-brown;
            font-size: 11px;

            img {
                width: 24px; height: 24px;
                margin: 0 auto 6px;
                // margin-left: 8px;
            }

            @include responsive(large-screens) {
                font-size: 14px;
                padding: 12px;

                img {
                    width: 28px; height: 28px;
                }
            }
        }  // remaining

        @include responsive(large-screens) {
            margin-bottom: 8px;
        }
    }  // title-tag-btn
    
    .place-period {
        display: flex;
        p {
            color: $basic-gray;
            font-size: 12px;
            margin-right: 8px;

            @include responsive(large-screens) {
                font-size: 16px;
            }
        }
        // .place {
        //     display: none;

        //     @include responsive(large-screens) {
        //         display: block;
        //     }
        // }
    }  // place-period
}

// ==== booking-btn ====
.booking-btn {  // 플로팅
    position: fixed;
    bottom: 40px; right: 24px;
    z-index: 99;
    display: flex;
    // width: 120px;
    padding: 12px 24px;
    background-color: $basic-brown;
    border-radius: 36px;
    
    img {
        width: 24px; height: 24px;
        margin-right: 12px;

        @include responsive(large-screens) {
            margin-right: 0;
        }
    }  // img
    .hover {
        font-weight: bold;
        color: #fff;
        
        @include responsive(large-screens) {
            display: none;
        }
    }  // hover
}

.booking-btn:hover {  // 플로팅-호버
    background-color: $basic-yellow;
    img {
        @include responsive(large-screens) {
            margin-right: 12px;
        }
    }  // img

    .hover {        
        @include responsive(large-screens) {
            color: $basic-brown;
            display: block;
        }
    }  // hover
}

// ==== images ====
section.images {
    .poster {
        img {
            width: 100%;
            margin-bottom: 32px;
        }
    }  // poster
    .slide {
        margin-bottom: 32px;
        img {
            width: 100%;
        }
        .sub { display: none; }
    }  // slide

    @include responsive(large-screens) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-bottom: 56px;

            .poster {
                width: 33%;
                img {
                    width: 100%;
                    margin-bottom: 0;
                }
            }
            .slide {
                width: 65%;
                margin-bottom: 0;
                img {
                    height: 100%;
                }
            }
    }
}


// ==== detail ====
section.detail {
    position: relative;
    height: 600px;
    overflow: hidden;

    div.title {
        width: 56px;
        padding-bottom: 4px;
        margin-bottom: 24px;
        border-bottom: 2px solid $basic-brown;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1px;
        text-align: center;

        @include responsive(large-screens) {
            width: 72px;
            font-size: 16px;
        }
    }

    img {
        width: 100%;
    }
    .more-btn {
        height: 100px; width: 100%;
        position: absolute;
        bottom: 0;  left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.300);
        // background: linear-gradient(#00000044, #000000ee);
        background: linear-gradient(to bottom, #00000000, #00000075);

        p {
            margin-top: 30px;
            font-size: 16px;
            text-align: center;
            color: white;
        }
        img {
            margin: 0 auto;
            width: 24px;
        }
    }

    @include responsive(large-screens) {
        height: 1400px;
    }
}

// ==== additional ====
section.additional {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .info-box {
        width: 100%;
        margin-top: 32px;
        padding: 28px;
        border: 1px solid $basic-brown;

        @include responsive(large-screens) {
            padding-top: 32px;
        }

        div.title {
            width: 60px;
            padding-top: 6px;
            margin-bottom: 24px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            border-top: 2px solid $basic-brown;

            @include responsive(large-screens) {
                width: 72px;
                font-size: 16px;
            }
        }
        ul {
            .sub-title {
                padding-left: 24px;
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 16px;
                background-image: url(../images/title_icon02.png);
                background-size: 16px;
                background-repeat: no-repeat;
            }  // sub-title

            .content {
                padding-left: 24px;
                margin-bottom: 24px;
                font-size: 14px;
                line-height: 1.3;

                .small {
                    color: $basic-gray;
                    font-size: 12px;
                }
                .space {
                    padding-left: 12px;
                }
            }  // content
        }  // ul
    }  // info-box

    @include responsive(large-screens) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        .info-box {
            width: 49%;
        }
    }
}

// ==== call ====
section.call {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    // justify-content: space-between;
    
    div.title {
        width: 56px;
        padding-bottom: 4px;
        margin-bottom: 24px;
        border-bottom: 2px solid $basic-brown;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1px;
        text-align: center;

        @include responsive(large-screens) {
            width: 72px;
            font-size: 16px;
        }
    }
    
    // div.title {
    //     width: 72px;
    //     padding-bottom: 4px;
    //     margin-right: 40px;
    //     // margin-bottom: 24px;
    //     border-bottom: 2px solid $basic-brown;
    //     font-size: 14px;
    //     letter-spacing: -1px;
    //     font-weight: bold;
    // }

    p {
        margin-left: 16px;
        font-size: 16px;

        @include responsive(large-screens) {
            margin-left: 32px;
            line-height: 1.4;

            strong {
                font-size: 24px;
            }
        }
    }
}

