@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../header_footer/scss/header_footer.scss";

.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        // -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        // -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}





.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}
ul, ol, li { list-style: none; }

// ***타이틀 밑줄
// ***PC버전 인기프로그램

// ==== title ====
section.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;

    h2 {
        font-size: 20px;
        border-bottom: 1px solid #111;

        @include responsive(large-screens) {
            font-size: 48px;
        }
    }
    .filter {
        display: flex;

        img {
            width: 20px; height: 20px;
            margin-left: 12px;

            @include responsive(large-screens) {
                width: 32px; height: 32px;
            }
        }
    }  // filter
}  // section.title


// ==== popular ====
section.popular {
    margin-bottom: 72px;

    p.desc {
        margin: -8px 0 16px 32px;
        font-size: 16px;
    }

    .poster {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        @include responsive(large-screens) {
            display: none;
        }
        li {
            margin: 0 5px;
            transition: all 0.3s ease;
            flex-shrink: 0;
            display: none; // 기본적으로 모든 이미지 숨김
            cursor: pointer;

            &.visible {
                display: block; // 선택된 3개의 이미지만 보이게 함
            }

            img {
                transition: all 0.3s ease;
            }

            &.selected img {
                width: 250px;
                opacity: 1;
            }

            &:not(.selected) {
                img {
                    width: 200px;
                    opacity: 0.5;
                }
            }
        }
    }

    .slide-box {
        margin: 25px 35% 16px;
        justify-content: space-between;
        display: flex;

        div {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: #ccc;
        }

        .selected {
            width: 32px;
        }
        @include responsive(large-screens) {
            display: none;
        }
    }

    .program-desc-box {
        display: flex;
        width: 100%;
        justify-content: center;
        @include responsive(large-screens) {
            display: none;
        }

        .program-desc {
            width: 350px;
            height: auto;
            margin: 0 32px;
            border-radius: 8px;
            background-color: #eaeaea;
            overflow: hidden;
            display: none;

            &.selected {
                display: block;
            }

            .title {
                margin: 0 auto;
                padding: 24px 24px 8px;
                display: flex;
                justify-content: space-between;

                .name {
                    font-size: 16px;
                    font-weight: bold;
                }

                .tag {
                    margin-top: -4px;

                    span {
                        padding: 4px 8px;
                        border-radius: 4px;
                        font-size: 10px;
                        background-color: #ffeb3b;
                    }
                }
            }

            .place-period {
                padding: 0 0 24px 24px;
                display: flex;
                color: #333;

                p {
                    margin-right: 16px;
                    font-size: 13px;
                    color: #999;
                }
            }

            .detail {
                padding: 0 24px 40px;

                p {
                    font-size: 14px;
                }
            }

            .button {
                padding-bottom: 40px;
                margin: 0 24px;
                display: flex;
                justify-content: space-between;

                button {
                    display: inline-block;
                    width: 48%;
                    padding: 8px;
                    border: 0;
                    border-radius: 8px;
                    font-size: 12px;
                    color: white;
                    background-color: #795548;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #ffbe0f;
                        color: #795548;
                    }
                }
            }
        }
    }
}

    .poster-web-container {
        overflow: hidden;
        width: 100%;
        position: relative;
        .poster-web {
            display: none;
            @include responsive(large-screens) {
                margin: 0 auto;
                animation: scroll 30s linear infinite;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: calc(100% * 2);
                li {
                    position: relative;
                    width: 100%;
                    padding: 10px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: transform 0.3s ease-in-out;
                    }  
                    .book-see {
                        display: flex;
                        .see {
                            position: absolute;
                            transform: translateX(-50%);
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                            display: none;
                            font-size: 18px;
                            font-family: $font-regular;
                            color: white;
                            background-color: #2f2411;
                            left: 50%;
                            bottom: 40%;
                            border-radius: 5px;
                            padding: 3px;
                            &:hover {
                                color: #ffbe0f;
                            }
                        }
                    }
                    &:hover {
                        img{
                            transform: scale(1.1);
                            opacity: 0.5;
                        }
                        .book, .see {
                            opacity: 1;
                            display: block;
                        }
                    }
                }
                
                @keyframes scroll {
                    0% {
                        transform: translateX(0%);
                    }
                    100% {
                        transform: translateX(-50%);
                    }
                }
            }                    
        }
    }

    .slide-box {
        margin: 25px 35% 16px;
        justify-content: space-between;
        display: flex;

        div {
            width: 8px; height: 8px;
            // margin: 0 2px;
            border-radius: 4px;
            background-color: $background-lightgray;
        }

        .selected {
            width: 32px;
        }

        @include responsive(large-screens) {
            display: none;
        }

    }
.program-desc-box {
    display: flex;
    width: 1920px;
        .program-desc {
            width: 260px;
            height: auto;
            margin: 0 32px;
            border-radius: 8px;
            background-color: #eaeaea;
            overflow: hidden;

    
} 

// section.popular > .poster > .program5,
// section.popular > .poster > .selected + li {  // 이전, 다음 선택자
//     position: absolute;
//     top:5%;
//     // transform: translateY(-50%);
//     width: 55%;
//     opacity: 0.3;
// }
// section.popular > .poster > .selected + li {
//     right: -50%;
// }
// section.popular > .poster > .program5 {
//     left: -50%;
// }

// section.popular > .poster > .program1,
// section.popular > .poster > .program3,
// section.popular > .poster > .program4,
// section.popular > .poster > .program5 {
//     display: none;
// }
}
// ==== keyword ====
section.keyword > .hashtag {
    margin: 24px auto;
    // height: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 100%;

    @include responsive(large-screens) {
        padding: 0 0 0 20%;
        display: flex;
        justify-content: space-between;
    }

    div {
        padding: 8px;
        font-size: 12px;
        letter-spacing: -1px;
        cursor: pointer;
        text-align: center;
        border: 1px solid $basic-gray;
        border-radius:24px;
        background-color: $color-white;

        @include responsive(large-screens) {
            padding: 8px 24px;
            font-size: 16px;
        }
    }

    .selected {
        font-weight: bold;
        color: $color-hover;
        background-color: $basic-brown;
    }
}  // hashtag



section.keyword > .program-box1, .program-box2, .program-box3, .program-box4, .program-box5, .program-box6 {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 72px;

    div {
        position: relative;
        width: 48%;
        height: auto;
        margin-bottom: 16px;
        border-radius: 8px;
        // background: url(../images/gb-pg1.jpg) cover no-repeat;

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }

        .desc {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            width: 100%; height: 45%;
            border-radius: 0 0 8px 8px;
            color: #fff;
            background-color: #00000080;

            @include responsive(large-screens) {
                background-color: #00000098;
                height: 35%;
            }

            .title {
                margin-top: 8px;
                font-size: 14px;
                text-align: center;
                letter-spacing: -1px;
                font-family: $font-pre-regular;
                @include responsive(large-screens) {
                    display: none;
                    font-size: 18px;
                }
            }  // title

            .booking {
                display: none;
            }

            .period {
                font-size: 12px;
                text-align: center;
                
                @include responsive(large-screens) {
                    position: absolute;
                    bottom: 16px; left: 16px;
                    margin-top: -4px;
                    font-size: 16px;
                }
            }  // period

            .place {
                display: none;
                // margin-top: -6px;
                // font-size: 12px;
                // text-align: center;
                
                @include responsive(large-screens) {
                    display: block;
                    position: absolute;
                    bottom: 16px; right: 16px;
                    font-size: 16px;
                }
            }  // place
        }

        &:hover {
            .desc {
                height: 100%;
                border-radius: 8px;
                .title {
                    padding-top: 17px;
                    @include responsive(large-screens) {
                        display: block;
                        padding-top: 50px;
                        font-size: 24px;
                    }
                }
                .booking {
                    // padding-top: 4px;
                    display: block;
                    text-align: center;
                    color: #ffbe0f;
                    font-size: 18px;
                    font-family: 'Pretendard-Bold';
                    @include responsive(large-screens) {
                        display: block;
                        padding-top: 22px;
                        font-size: 32px;
                        font-family: $font-pre-bold;
                    }
                }
            }
        }

        @include responsive(large-screens) {
            width: 24%;
        }
    }  // div
}  // program

// ==== place ====
section.place > .place-button {
    margin: 24px auto 56px;
    // height: 172px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    width: 100%;
    // background-color: aqua;

    .btn-big {
        border-radius: 8px;
        font-size: 14px;
        text-align: center;
        line-height: 80px;
        background-color: $background-lightgray;

        @include responsive(large-screens) {
            font-size: 16px;
        }
    }

    @include responsive(large-screens) {
        grid-gap: 24px;
        
        .btn-big:hover {
            font-weight: bold;
            color: $basic-brown;
            background-color: $basic-yellow;
        }
    }
}
