$basic-black: #111111;
$basic-brown: #2f2411;
$basic-yellow: #ffbe0f;
$basic-darkgray: #333333;
$basic-gray: #cccccc;
$color-white: #fff;

$font-bold: 'KimjungchulGothic-Bold';
$font-regular: 'KimjungchulMyungjo-Regular';
$font-light: 'KimjungchulMyungjo-Light';
$font-thin: 'Pretendard-Thin';
$font-extra: 'Pretendard-ExtraLight';
$font-pre-regular: 'Pretendard-Regular';
$font-pre-bold: 'Pretendard-Bold';

$background-lightgray: #eaeaea;

$width-wide: 100%;
$width-half: 50%;
