$basic-black: #111111;
$basic-brown: #2f2411;
$basic-yellow: #ffbe0f;
$basic-darkgray: #333333;
$basic-gray: #cccccc;
$color-white: #fff;

$font-bold: 'KimjungchulGothic-Bold';
$font-regular: 'KimjungchulMyungjo-Regular';
$font-light: 'KimjungchulMyungjo-Light';
$font-thin: 'Pretendard-Thin';
$font-extra: 'Pretendard-ExtraLight';
$font-pre-regular: 'Pretendard-Regular';

$background-lightgray: #eaeaea;
// $background-lightbeige: #f8efe0;
// $background-beige: #e1cfc1;

// $width-wide: 100%;
$width-half: 50%;

// $break-small: 320px;
// $break-large: 1024px;