@charset "UTF-8";
@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic-regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* *:before, * *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  padding: 0 32px;
}

header {
  width: 100%;
  background: url(../images/header_back.png) no-repeat;
  background-size: cover;
  transition: height 0.5s ease-out;
}
@media (min-width: 1024px) {
  header {
    height: 180px;
  }
}
header .logo-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-icon .search-menu {
  position: relative;
  display: flex;
  z-index: 100;
}
header .logo-icon .search-menu a {
  margin-right: 15px;
}
header .logo-icon .search-menu a img {
  width: 36px;
  z-index: 100;
}
header .logo-icon .search-menu #languageSelect {
  display: none;
}
header .logo-icon .search-menu a:first-child {
  display: none;
}
header .logo-icon .search-menu a:nth-child(2) {
  display: none;
}
header .logo-icon .search-menu .menu-toggle-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
header .logo-icon .search-menu .menu-toggle-btn span {
  width: 25px;
  height: 3px;
  background-color: black;
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(2) {
  opacity: 0;
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
header .logo-icon .search-menu .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
header .logo-icon .search-menu .search-input {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100px;
  padding: 5px;
  font-size: 16px;
  border-bottom: 3px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
@media (min-width: 1024px) {
  header .logo-icon .search-menu a:first-child {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(2) {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(3) {
    display: none;
  }
  header .logo-icon .search-menu .menu-toggle-btn {
    display: none;
  }
}
header .side-menu {
  position: fixed;
  width: 45%;
  top: 0;
  right: -45%;
  background-color: white;
  height: 100%;
  z-index: 1;
  transition: right 0.3s ease-in-out;
}
header .side-menu .language-login {
  width: 80%;
  display: flex;
  margin-top: 125px;
  margin-left: 5px;
  margin-bottom: 10px;
}
header .side-menu .language-login .language {
  width: 45%;
  text-align: center;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2411;
  border-radius: 5px;
}
header .side-menu .language-login .language a {
  color: white;
  font-size: 8px;
  font-family: "Pretendard-Regular";
}
header .side-menu .language-login .language a img {
  width: 11px;
}
header .side-menu .language-login .login {
  width: 45%;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2411;
  border-radius: 5px;
  margin-left: 3px;
}
header .side-menu .language-login .login a {
  color: white;
  font-size: 8px;
  font-family: "Pretendard-Regular";
  writing-mode: horizontal-tb;
}
header .side-menu .language-login .login a img {
  width: 11px;
}
header .side-menu .side-nav {
  padding-left: 10px;
  z-index: 1;
}
header .side-menu .side-nav .gnb li a {
  display: flex;
  align-items: baseline;
  color: #2f2411;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
header .side-menu .side-nav .gnb li a:hover {
  color: #ffbe0f;
}
header .side-menu .side-nav .gnb li a img {
  margin-right: 10px;
  width: 8%;
}
header .side-menu .side-nav .gnb li ul li a {
  font-size: 14px;
  color: #7e7e7e;
  font-family: "Pretendard-Regular";
}
header .side-menu .side-nav .gnb li ul li a:hover {
  color: #ffbe0f;
  text-decoration: underline;
}
header .side-menu .side-nav .gnb li .submenu {
  display: flex;
}
header .menu_box {
  display: none;
}
@media (min-width: 1024px) {
  header .side-menu {
    display: none;
  }
  header .menu_box {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header .menu_box .mainmenu {
    width: 700px;
  }
  header .menu_box .mainmenu .gnb {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  header .menu_box .mainmenu .gnb li {
    position: relative;
  }
  header .menu_box .mainmenu .gnb li .submenu {
    display: none;
    margin-top: 27px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }
  header .menu_box .mainmenu .gnb li .submenu li a {
    font-family: "Pretendard-Regular";
    text-decoration: none;
    font-size: 18px;
    color: #7e7e7e;
  }
  header .menu_box .mainmenu .gnb li .submenu li a:hover {
    color: #ffbe0f;
  }
  header .menu_box .mainmenu .gnb li .submenu.open {
    display: block;
    max-height: 1000px; /* 적절한 최대 높이로 설정 */
    transition: max-height 0.3s ease-in;
  }
  header .menu_box .mainmenu .gnb a {
    color: #171717;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: "KimjungchulMyungjo-Regular";
  }
  header .menu_box .mainmenu .gnb a:hover {
    color: #ffbe0f;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 1;
  }
  header .menu_box form .search-box {
    position: relative;
    display: flex;
  }
  header .menu_box form .search-box input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 8px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none; /* 크롬, 사파리, 엣지 */
    -moz-appearance: none; /* 파이어폭스 */
    appearance: none; /* 기본 브라우저 */
  }
  header .menu_box form .search-box input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  header .menu_box form .search-box .search {
    position: absolute;
    top: -10px;
    left: 163px;
  }
  header .menu_box form .search-box .search img {
    width: 30px;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
}
footer .sns {
  width: 100%;
  height: 70px;
  background-color: #ffbe0f;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 67px;
}
@media (min-width: 1024px) {
  footer .sns {
    height: 66px;
  }
}
footer .sns a {
  margin-top: 10px;
  margin-right: 42px;
}
@media (min-width: 1024px) {
  footer .sns a {
    margin-right: 20px;
  }
}
footer .sns a img {
  width: 48px;
  transition: filter 0.3s ease;
}
footer .sns a:hover img {
  width: 58px;
}
footer .sns a:last-child {
  margin-right: 0;
}
footer .footer-back {
  background: url(../../images/footer-pattern-bg.png);
}
@media (min-width: 1024px) {
  footer .footer-back {
    background: url(../../images/header_backpc.png);
    background-size: cover;
    background-color: #2f2411;
  }
}
footer .footer-back .footLogo a {
  padding: 62px;
}
footer .footer-back .footLogo a img {
  margin: 0 auto;
}
footer .footer-back form {
  text-align: center;
}
footer .footer-back form label select {
  border: 0;
  color: white;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  background: transparent;
  width: 25%;
}
footer .footer-back form label select option {
  color: black;
}
@media (min-width: 1024px) {
  footer .footer-back form label select {
    font-size: 21px;
    width: 10%;
  }
}
footer hr {
  width: 70%;
  height: 3px;
  background-color: #ffbe0f;
  margin: 60px auto;
}
footer .public {
  display: flex;
  justify-content: center;
}
footer .public a {
  font-size: 16px;
  font-family: "KimjungchulMyungjo-Regular";
  margin-right: 42px;
  margin-bottom: 46px;
  color: white;
}
footer .public a:hover {
  color: #ffbe0f;
}
@media (min-width: 1024px) {
  footer .public a {
    font-size: 20px;
  }
}
footer .public a:last-child {
  margin-right: 0;
}
footer address {
  font-size: 14px;
  text-align: center;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  footer address {
    font-size: 18px;
  }
}
footer .question {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .question .tel1 {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question .tel1 {
    font-size: 18px;
  }
}
footer .question .tel2 {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question .tel2 {
    font-size: 18px;
  }
}
footer .copyright p {
  padding-bottom: 51px;
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
}
@media (min-width: 1024px) {
  footer .copyright p {
    font-size: 16px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  padding: 0 32px;
}

section.title {
  margin-bottom: 32px;
}
section.title .title-tag-btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
section.title .title-tag-btn h2 {
  margin-right: 16px;
  font-size: 20px;
}
@media (min-width: 1024px) {
  section.title .title-tag-btn h2 {
    font-size: 36px;
  }
}
section.title .title-tag-btn .tag {
  font-size: 12px;
}
@media (min-width: 1024px) {
  section.title .title-tag-btn .tag {
    font-size: 16px;
  }
}
section.title .title-tag-btn .tag span {
  padding: 4px 8px;
  margin-right: 4px;
  border-radius: 8px;
  background-color: #eaeaea;
}
@media (min-width: 1024px) {
  section.title .title-tag-btn .tag span {
    margin-right: 8px;
  }
}
section.title .title-tag-btn .tag .tobe {
  background-color: wheat;
}
section.title .title-tag-btn .tag .ongoing {
  color: white;
  background-color: green;
}
section.title .title-tag-btn .tag .finish {
  color: white;
  background-color: darkgray;
}
section.title .title-tag-btn .tag .experience {
  color: white;
  background-color: #ffbe0f;
}
section.title .title-tag-btn .tag .official {
  color: white;
  background-color: darkred;
}
section.title .title-tag-btn .tag .booking {
  color: white;
  background-color: #2f2411;
}
section.title .title-tag-btn .ongoing, section.title .title-tag-btn .booking {
  display: none;
}
@media (min-width: 1024px) {
  section.title .title-tag-btn .ongoing, section.title .title-tag-btn .booking {
    display: inline-block;
  }
}
section.title .title-tag-btn .remaining {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: -3px;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  background-color: #2f2411;
  font-size: 11px;
}
section.title .title-tag-btn .remaining img {
  width: 24px;
  height: 24px;
  margin: 0 auto 6px;
}
@media (min-width: 1024px) {
  section.title .title-tag-btn .remaining {
    font-size: 14px;
    padding: 12px;
  }
  section.title .title-tag-btn .remaining img {
    width: 28px;
    height: 28px;
  }
}
section.title .title-tag-btn .remaining:hover {
  background-color: #ffbe0f;
}
@media (min-width: 1024px) {
  section.title .title-tag-btn {
    margin-bottom: 8px;
  }
}
section.title .place-period {
  display: flex;
}
section.title .place-period p {
  color: #cccccc;
  font-size: 12px;
  margin-right: 8px;
}
@media (min-width: 1024px) {
  section.title .place-period p {
    font-size: 16px;
  }
}

.booking-btn {
  position: fixed;
  bottom: 40px;
  right: 24px;
  z-index: 99;
  display: flex;
  padding: 12px 24px;
  background-color: #2f2411;
  border-radius: 36px;
}
.booking-btn img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
@media (min-width: 1024px) {
  .booking-btn img {
    margin-right: 0;
  }
}
.booking-btn .hover {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 1024px) {
  .booking-btn .hover {
    display: none;
  }
}

.booking-btn:hover {
  background-color: #ffbe0f;
}
@media (min-width: 1024px) {
  .booking-btn:hover img {
    margin-right: 12px;
  }
}
@media (min-width: 1024px) {
  .booking-btn:hover .hover {
    color: #2f2411;
    display: block;
  }
}

section.images .poster img {
  width: 100%;
  margin-bottom: 32px;
}
section.images .slide {
  margin-bottom: 32px;
}
section.images .slide img {
  width: 100%;
}
section.images .slide .sub {
  display: none;
}
@media (min-width: 1024px) {
  section.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
  }
  section.images .poster {
    width: 33%;
  }
  section.images .poster img {
    width: 100%;
    margin-bottom: 0;
  }
  section.images .slide {
    width: 65%;
    margin-bottom: 0;
  }
  section.images .slide img {
    height: 100%;
  }
}

section.detail {
  position: relative;
  height: 600px;
  overflow: hidden;
  transition: height 0.3s ease;
}
section.detail div.title {
  width: 56px;
  padding-bottom: 4px;
  margin-bottom: 24px;
  border-bottom: 2px solid #2f2411;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}
@media (min-width: 1024px) {
  section.detail div.title {
    width: 72px;
    font-size: 16px;
  }
}
section.detail img {
  width: 80%;
  margin: 0 auto;
}
section.detail .more-btn {
  cursor: pointer;
  height: 100px;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4588235294));
}
section.detail .more-btn p {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  color: white;
}
section.detail .more-btn img {
  margin: 0 auto;
  width: 24px;
  transform: rotate(180deg);
}
section.detail.expanded {
  height: auto;
}
section.detail.expanded .more-btn img {
  transform: rotate(180deg); /* 이미지 회전 */
}
@media (min-width: 1024px) {
  section.detail {
    height: 1400px;
  }
  section.detail.expanded {
    height: auto;
  }
}

section.additional {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
section.additional .info-box {
  width: 100%;
  margin-top: 32px;
  padding: 28px;
  border: 1px solid #2f2411;
}
@media (min-width: 1024px) {
  section.additional .info-box {
    padding-top: 32px;
  }
}
section.additional .info-box div.title {
  width: 60px;
  padding-top: 6px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #2f2411;
}
@media (min-width: 1024px) {
  section.additional .info-box div.title {
    width: 72px;
    font-size: 16px;
  }
}
section.additional .info-box ul .sub-title {
  padding-left: 24px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 16px;
  background-image: url(../images/title_icon02.png);
  background-size: 16px;
  background-repeat: no-repeat;
}
section.additional .info-box ul .content {
  padding-left: 24px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.3;
}
section.additional .info-box ul .content .small {
  color: #cccccc;
  font-size: 12px;
}
section.additional .info-box ul .content .space {
  padding-left: 12px;
}
@media (min-width: 1024px) {
  section.additional {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  section.additional .info-box {
    width: 49%;
  }
}

section.call {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
section.call div.title {
  width: 56px;
  padding-bottom: 4px;
  margin-bottom: 24px;
  border-bottom: 2px solid #2f2411;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}
@media (min-width: 1024px) {
  section.call div.title {
    width: 72px;
    font-size: 16px;
  }
}
section.call p {
  margin-left: 16px;
  font-size: 16px;
}
@media (min-width: 1024px) {
  section.call p {
    margin-left: 32px;
    line-height: 1.4;
  }
  section.call p strong {
    font-size: 24px;
  }
}/*# sourceMappingURL=program_detail.css.map */