@charset "UTF-8";
.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
}

#intro .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#intro .title-box h2 {
  font-size: 48px;
  font-family: "Pretendard-Medium";
  border-bottom: 1px solid black;
  width: 26%;
}
#intro .title-box .go {
  display: flex;
}
#intro .title-box .go a {
  font-size: 20px;
  font-family: "Pretendard-Light";
  padding-left: 37px;
  color: #2b2b2b;
}
#intro .title-box .go a:hover {
  font-family: "Pretendard-Medium";
}
#intro .background {
  background: url(../images/ｉｎｔｒｏ－ｂａｃｋ.png) no-repeat;
  background-size: cover;
  opacity: 80%;
}
#intro .background h3 {
  padding: 130px 0;
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Pretendard-Medium";
}
@media (min-width: 1024px) {
  #intro .background h3 {
    text-align: left;
  }
}
#intro .background .back-txt1 {
  font-size: 14px;
  font-family: "Pretendard-Light";
  padding-bottom: 30px;
  color: white;
  text-align: center;
}
@media (min-width: 1024px) {
  #intro .background .back-txt1 {
    text-align: right;
    font-size: 28px;
  }
}
#intro .background .back-txt2 {
  font-size: 14px;
  font-family: "Pretendard-Light";
  padding-bottom: 88px;
  color: white;
  text-align: center;
}
@media (min-width: 1024px) {
  #intro .background .back-txt2 {
    text-align: right;
    font-size: 24px;
  }
}

#explain .explain-box {
  margin-top: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 98px;
}
#explain .explain-box hr {
  margin-bottom: 8px;
  height: 3px;
  background-color: #422b2b;
}
#explain .explain-box .explain-title {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #422b2b;
  border-bottom: 1px solid #422b2b;
  padding: 30px 0;
  background-color: #e0e0e0;
}
#explain .explain-box .explain-title h2 {
  font-size: 28px;
  font-family: "KimjungchulMyungjo-Light";
  padding-left: 1.5%;
}
#explain .explain-box .explain-title img {
  width: 4%;
  padding-right: 1.5%;
}
#explain .explain-box .right {
  display: flex;
  padding-top: 76px;
}
#explain .explain-box .right .right-title {
  padding-right: 24px;
}
#explain .explain-box .right .right-title h3 {
  width: 100%;
  font-size: 24px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
#explain .explain-box .right .right-txt .strong-span strong {
  font-size: 32px;
  font-family: "Pretendard-ExtraBold";
  color: #422b2b;
}
#explain .explain-box .right .right-txt .strong-span .decs {
  display: block;
  font-family: "Pretendard-Light";
  font-size: 24px;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-txt .strong-span {
    display: flex;
    align-items: center;
  }
  #explain .explain-box .right .right-txt .strong-span .decs {
    padding-left: 30px;
  }
}
#explain .explain-box .right .right-txt p {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  font-family: "Pretendard-Medium";
  padding-top: 15px;
}
#explain .explain-box .right .right-txt p img {
  margin-right: 10px;
}
#explain .explain-box .right .right-txt .desc2 {
  color: #2f2411;
  font-size: 20px;
  font-family: "Pretendard-ExtraLight";
  padding-left: 30px;
}
#explain .explain-box .schedule {
  display: flex;
  padding: 100px 0;
}
#explain .explain-box .schedule .schedule-title {
  padding-right: 24px;
}
#explain .explain-box .schedule .schedule-title h3 {
  width: 100%;
  font-size: 24px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
#explain .explain-box .schedule .schedule-txt {
  width: 100%;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box {
    display: flex;
    height: 100%;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e9e9e9;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .sch {
    flex-direction: column;
    width: 100%;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch h2 {
  font-size: 28px;
  font-family: "Pretendard-SemiBold";
  padding: 25px;
  padding-left: 31px;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch p {
  font-size: 22px;
  font-family: "Pretendard-Light";
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch .date1 {
  padding-left: 10%;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch .date2 {
  padding-left: 3%;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch .date3 {
  padding-left: 16%;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch .date4 {
  padding-left: 3%;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch small {
  color: #737373;
  font-size: 16px;
  font-family: "Pretendard-Light";
  margin-left: 13px;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch:nth-child(4) {
  margin-bottom: 17px;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .arrow-icon {
  padding-left: 47%;
  margin: 13px 0;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .arrow-icon {
    display: none;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .arrow-right-icon {
  display: none;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .arrow-right-icon {
    display: block;
    padding-top: 11%;
    margin: 0 27px;
  }
}
#explain .explain-box .schedule .schedule-txt .sch-dsce {
  font-size: 20px;
  font-family: "Pretendard-ExtraLight";
  color: #2f2411;
  padding-top: 17px;
}
#explain .explain-box .active {
  display: flex;
  padding-bottom: 100px;
}
#explain .explain-box .active .active-title {
  padding-right: 24px;
}
#explain .explain-box .active .active-title h3 {
  width: 100%;
  font-size: 24px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
#explain .explain-box .active .active-txt {
  width: 100%;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .active-box {
    display: flex;
    height: 100%;
  }
}
#explain .explain-box .active .active-txt .active-box .act {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e9e9e9;
  width: 100%;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .active-box .act {
    flex-direction: column;
    width: 100%;
  }
}
#explain .explain-box .active .active-txt .active-box .act h2 {
  font-size: 28px;
  font-family: "Pretendard-SemiBold";
  padding: 25px;
  padding-left: 31px;
}
#explain .explain-box .active .active-txt .active-box .act p {
  font-size: 22px;
  font-family: "Pretendard-Light";
  text-align: left;
}
#explain .explain-box .active .active-txt .active-box .act .date5 {
  padding-left: 19%;
}
#explain .explain-box .active .active-txt .active-box .act .date6 {
  padding-left: 8.8%;
}
#explain .explain-box .active .active-txt .active-box .act .date7 {
  padding-left: 16%;
}
#explain .explain-box .active .active-txt .active-box .act:nth-child(4) {
  margin-bottom: 0;
}
#explain .explain-box .active .active-txt .arrow-icon {
  padding-left: 47%;
  margin: 13px 0;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .arrow-icon {
    display: none;
  }
}
#explain .explain-box .active .active-txt .arrow-right-icon {
  display: none;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .arrow-right-icon {
    display: block;
    padding-top: 11%;
    margin: 0 27px;
  }
}
#explain .explain-box .active .active-txt .where {
  font-size: 20px;
  font-family: "Pretendard-ExtraLight";
  color: #2f2411;
  padding-top: 17px;
}
#explain .explain-box .benefit {
  display: flex;
  margin-bottom: 74px;
}
#explain .explain-box .benefit .benefit-title {
  padding-right: 24px;
}
#explain .explain-box .benefit .benefit-title h3 {
  width: 100%;
  font-size: 24px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
#explain .explain-box .benefit .benefit-txt p {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  font-family: "Pretendard-Medium";
  padding-top: 15px;
}
#explain .explain-box .benefit .benefit-txt p img {
  margin-right: 10px;
}
#explain .explain-box .benefit .benefit-txt p:first-child {
  padding-top: 0;
}
#explain .explain-box .benefit .benefit-txt .serve {
  font-size: 20px;
  font-family: "Pretendard-ExtraLight";
  color: #2f2411;
  margin-bottom: 74px;
}
#explain .explain-box hr {
  margin-bottom: 8px;
  height: 3px;
  background-color: #422b2b;
}

#run .run1 {
  position: relative;
}
@media (min-width: 1024px) {
  #run .run1 {
    display: flex;
    position: none;
  }
}
#run .run1 .run1-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1024px) {
  #run .run1 .run1-img {
    position: none;
  }
}
#run .run1 .run1-img img {
  flex: 1;
  min-width: 60%;
  height: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  #run .run1 .run1-img img {
    min-width: 30%;
  }
}
#run .run1 .run1-img img:nth-child(1) {
  transform: scale(0.9);
  z-index: 1;
}
#run .run1 .run1-img img:nth-child(3) {
  transform: scale(0.9);
  z-index: 1;
}
#run .run1 .run1-img img:nth-child(2) {
  z-index: 2;
}
#run .run1 .run1-txt {
  position: absolute;
  top: 65%;
  left: 15%;
  z-index: 5;
  background-color: #f6f6f6;
  width: 85%;
  padding: 58px;
}
#run .run1 .run1-txt h1 {
  font-size: 48px;
  font-family: "Pretendard-Bold";
  color: #422b2b;
  text-align: right;
  margin-bottom: 31px;
}
#run .run1 .run1-txt p {
  font-size: 24px;
  font-family: "Pretendard-Light";
  text-align: right;
}
#run .run2 {
  position: relative;
}
#run .run2 .run2-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 280px;
}
#run .run2 .run2-img img {
  flex: 1;
  min-width: 33%;
  height: 100%;
  position: relative;
  margin-top: 30%;
}
#run .run2 .run2-img img:nth-child(1), #run .run2 .run2-img img:nth-child(4) {
  transform: scale(0.9);
  z-index: 1;
}
#run .run2 .run2-img img:nth-child(2), #run .run2 .run2-img img:nth-child(3) {
  z-index: 2;
}
#run .run2 .run2-txt {
  position: absolute;
  top: 85%;
  background-color: #f6f6f6;
  margin-bottom: 58px;
  z-index: 5;
  background-color: #f6f6f6;
  width: 85%;
  padding: 58px;
}
#run .run2 .run2-txt h1 {
  font-size: 48px;
  font-family: "Pretendard-Bold";
  color: #422b2b;
  margin-bottom: 31px;
}
#run .run2 .run2-txt p {
  font-size: 24px;
  font-family: "Pretendard-Light";
}/*# sourceMappingURL=gungdoong.css.map */