@charset "UTF-8";
header {
  width: 100%;
  background: url(../images/header_back.png) no-repeat;
  background-size: cover;
  transition: height 0.5s ease-out;
}
@media (min-width: 1024px) {
  header {
    height: 180px;
  }
}
header .logo-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-icon .search-menu {
  position: relative;
  display: flex;
  z-index: 100;
}
header .logo-icon .search-menu a {
  margin-right: 15px;
}
header .logo-icon .search-menu a img {
  width: 36px;
  z-index: 100;
}
header .logo-icon .search-menu a:first-child {
  display: none;
}
header .logo-icon .search-menu a:nth-child(2) {
  display: none;
}
header .logo-icon .search-menu #language-select {
  display: none;
}
header .logo-icon .search-menu .menu-toggle-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
header .logo-icon .search-menu .menu-toggle-btn span {
  width: 25px;
  height: 3px;
  background-color: black;
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(2) {
  opacity: 0;
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
header .logo-icon .search-menu .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
header .logo-icon .search-menu .search-input {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100px;
  padding: 5px;
  font-size: 16px;
  border-bottom: 3px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
@media (min-width: 1024px) {
  header .logo-icon .search-menu a:first-child {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(2) {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(3) {
    display: none;
  }
  header .logo-icon .search-menu .menu-toggle-btn {
    display: none;
  }
}
header .side-menu {
  position: fixed;
  width: 45%;
  top: 0;
  right: -45%;
  background-color: white;
  height: 100%;
  z-index: 1;
  transition: right 0.3s ease-in-out;
}
header .side-menu .language-login {
  width: 80%;
  display: flex;
  margin-top: 125px;
  margin-left: 5px;
  margin-bottom: 10px;
}
header .side-menu .language-login .language {
  width: 45%;
  text-align: center;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2411;
  border-radius: 5px;
  position: relative;
}
header .side-menu .language-login .language select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 8px;
  font-family: "Arial", sans-serif; /* Replace with your font if needed */
  cursor: pointer;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
header .side-menu .language-login .language .language::before {
  content: url("../../images/language-white.png");
  z-index: 100;
  position: relative;
  width: 11px;
  height: 11px;
  margin-right: 5px;
}
header .side-menu .language-login .language .language select:focus {
  outline: none;
}
header .side-menu .language-login .language .language select option {
  background-color: #2f2411;
  color: white;
}
header .side-menu .language-login .login {
  width: 45%;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2411;
  border-radius: 5px;
  margin-left: 3px;
}
header .side-menu .language-login .login a {
  color: white;
  font-size: 8px;
  font-family: "Pretendard-Regular";
  writing-mode: horizontal-tb;
}
header .side-menu .language-login .login a img {
  width: 11px;
}
header .side-menu .side-nav {
  padding-left: 10px;
  z-index: 1;
}
header .side-menu .side-nav .gnb li a {
  display: flex;
  align-items: baseline;
  color: #2f2411;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
header .side-menu .side-nav .gnb li a:hover {
  color: #ffbe0f;
}
header .side-menu .side-nav .gnb li a img {
  margin-right: 10px;
  width: 8%;
}
header .side-menu .side-nav .gnb li ul li a {
  font-size: 14px;
  color: #7e7e7e;
  font-family: "Pretendard-Regular";
}
header .side-menu .side-nav .gnb li ul li a:hover {
  color: #ffbe0f;
  text-decoration: underline;
}
header .side-menu .side-nav .gnb li .submenu {
  display: flex;
}
header .menu_box {
  display: none;
}
@media (min-width: 1024px) {
  header .side-menu {
    display: none;
  }
  header .menu_box {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header .menu_box .mainmenu {
    width: 700px;
  }
  header .menu_box .mainmenu .gnb {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  header .menu_box .mainmenu .gnb li {
    position: relative;
  }
  header .menu_box .mainmenu .gnb li .submenu {
    display: none;
    margin-top: 27px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }
  header .menu_box .mainmenu .gnb li .submenu li a {
    font-family: "Pretendard-Regular";
    text-decoration: none;
    font-size: 18px;
    color: #7e7e7e;
  }
  header .menu_box .mainmenu .gnb li .submenu li a:hover {
    color: #ffbe0f;
  }
  header .menu_box .mainmenu .gnb li .submenu.open {
    display: block;
    max-height: 1000px; /* 적절한 최대 높이로 설정 */
    transition: max-height 0.3s ease-in;
  }
  header .menu_box .mainmenu .gnb a {
    color: #171717;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: "KimjungchulMyungjo-Regular";
  }
  header .menu_box .mainmenu .gnb a:hover {
    color: #ffbe0f;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 1;
  }
  header .menu_box form .search-box {
    position: relative;
    display: flex;
  }
  header .menu_box form .search-box input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 8px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none; /* 크롬, 사파리, 엣지 */
    -moz-appearance: none; /* 파이어폭스 */
    appearance: none; /* 기본 브라우저 */
  }
  header .menu_box form .search-box input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  header .menu_box form .search-box .search {
    position: absolute;
    top: -10px;
    left: 163px;
  }
  header .menu_box form .search-box .search img {
    width: 30px;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
}
footer .sns {
  width: 100%;
  height: 70px;
  background-color: #ffbe0f;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 67px;
}
@media (min-width: 1024px) {
  footer .sns {
    height: 66px;
  }
}
footer .sns a {
  margin-top: 10px;
  margin-right: 42px;
}
@media (min-width: 1024px) {
  footer .sns a {
    margin-right: 20px;
  }
}
footer .sns a img {
  width: 48px;
  transition: filter 0.3s ease;
}
footer .sns a:hover img {
  width: 58px;
}
footer .sns a:last-child {
  margin-right: 0;
}
footer .footer-back {
  background: url(../../images/footer-pattern-bg.png);
}
@media (min-width: 1024px) {
  footer .footer-back {
    background: url(../../images/header_backpc.png);
    background-size: cover;
    background-color: #2f2411;
  }
}
footer .footer-back .footLogo a {
  padding: 62px;
}
footer .footer-back .footLogo a img {
  margin: 0 auto;
}
footer .footer-back form {
  text-align: center;
}
footer .footer-back form label select {
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  background: transparent;
  width: 25%;
}
footer .footer-back form label select option {
  color: black;
}
@media (min-width: 1024px) {
  footer .footer-back form label select {
    font-size: 21px;
    width: 10%;
  }
}
footer hr {
  width: 70%;
  height: 3px;
  background-color: #ffbe0f;
  margin: 60px auto;
}
footer .public {
  display: flex;
  justify-content: center;
}
footer .public a {
  font-size: 16px;
  font-family: "KimjungchulMyungjo-Regular";
  margin-right: 42px;
  margin-bottom: 46px;
  color: white;
}
footer .public a:hover {
  color: #ffbe0f;
}
@media (min-width: 1024px) {
  footer .public a {
    font-size: 20px;
  }
}
footer .public a:last-child {
  margin-right: 0;
}
footer address {
  font-size: 14px;
  text-align: center;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  footer address {
    font-size: 18px;
  }
}
footer .question {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .question .tel1 {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question .tel1 {
    font-size: 18px;
  }
}
footer .question .tel2 {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question .tel2 {
    font-size: 18px;
  }
}
footer .copyright p {
  padding-bottom: 51px;
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
}
@media (min-width: 1024px) {
  footer .copyright p {
    font-size: 16px;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: #251a06;
  padding: 40px;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(37, 26, 6, 0.3);
  z-index: 101;
}
@media (min-width: 1024px) {
  .form {
    width: 600px;
  }
}
.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.form .tab-group::after {
  content: "";
  display: table;
  clear: both;
}
.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(255, 190, 15, 0.25);
  color: white;
  font-size: 20px;
  font-family: "Pretendard-Regular";
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.form .tab-group li a:hover {
  background: #f1ebde;
  color: #ffbe0f;
}
.form .tab-group .active a {
  background: #f1ebde;
  color: white;
}
.form .tab-content > div:last-child {
  display: none;
}
.form h1 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 40px;
}
@media (min-width: 1024px) {
  .form h1 {
    font-size: 36px;
  }
}
.form label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: white;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.form label .req {
  margin: 2px;
  color: #ffbe0f;
}
.form label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}
.form label.highlight {
  color: white;
}
.form input, .form textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #333;
  color: white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.form input:focus, .form textarea:focus {
  outline: 0;
  border-color: #f1ebde;
}
@media (min-width: 1024px) {
  .form input, .form textarea {
    font-size: 22px;
    padding: 5px 10px;
  }
}
.form textarea {
  border: 2px solid #333;
  resize: vertical;
}
.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.form .top-row::after {
  content: "";
  display: table;
  clear: both;
}
.form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.form .top-row > div:last-child {
  margin: 0;
}
.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #f1ebde;
  color: white;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.form .button:hover, .form .button:focus {
  background: #f1ebde;
}
.form .button-block {
  display: block;
  width: 100%;
}
.form .forgot {
  margin-top: -20px;
  text-align: right;
}
.form .forgot a {
  color: white;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .form .forgot a {
    font-size: 24px;
  }
}

.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  padding: 0 32px;
}

.back { /* For Safari */
  position: sticky;
  bottom: 210px; /* 스크롤을 내릴 때 맨 아래에 고정되도록 합니다 */
  right: 80%; /* 오른쪽에 위치하게 합니다 */
  z-index: 1000; /* 다른 요소들보다 위에 위치하게 합니다 */
  padding-left: 83%;
}

.back img {
  width: 60px; /* 아이콘의 크기를 적절히 조정합니다 */
  height: auto;
}

/* Sticky element styles */
#intro .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#intro .title-box h2 {
  font-size: 20px;
  font-family: "Pretendard-Medium";
  border-bottom: 1px solid black;
  width: 26%;
}
@media (min-width: 1024px) {
  #intro .title-box h2 {
    font-size: 48px;
    width: 18%;
  }
}
#intro .title-box .go {
  display: flex;
}
#intro .title-box .go a {
  font-size: 16px;
  font-family: "Pretendard-Light";
  padding-left: 37px;
  color: #2b2b2b;
}
#intro .title-box .go a:hover {
  font-family: "Pretendard-Medium";
}
@media (min-width: 1024px) {
  #intro .title-box .go a {
    font-size: 20px;
  }
}
#intro .background {
  background: url(../images/ｉｎｔｒｏ－ｂａｃｋ.png) no-repeat;
  background-size: cover;
  opacity: 80%;
}
#intro .background h3 {
  padding: 130px 0;
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: "Pretendard-Medium";
}
@media (min-width: 1024px) {
  #intro .background h3 {
    text-align: left;
    font-size: 48px;
  }
}
#intro .background .back-txt1 {
  text-align: justify;
  font-size: 14px;
  font-family: "Pretendard-Light";
  padding-bottom: 30px;
  color: white;
  text-align: center;
}
@media (min-width: 1024px) {
  #intro .background .back-txt1 {
    text-align: right;
    font-size: 24px;
  }
}
#intro .background .back-txt2 {
  text-align: justify;
  font-size: 14px;
  font-family: "Pretendard-Light";
  padding-bottom: 88px;
  color: white;
  text-align: center;
}
@media (min-width: 1024px) {
  #intro .background .back-txt2 {
    text-align: right;
    font-size: 24px;
  }
}

#explain .explain-box {
  margin-top: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 98px;
}
#explain .explain-box hr {
  margin-bottom: 8px;
  height: 3px;
  background-color: #422b2b;
}
#explain .explain-box .explain-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #422b2b;
  border-bottom: 1px solid #422b2b;
  padding: 30px 0;
  background-color: #e0e0e0;
}
#explain .explain-box .explain-title h2 {
  text-align: justify;
  width: 80%;
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Light";
  padding-left: 1.5%;
}
@media (min-width: 1024px) {
  #explain .explain-box .explain-title h2 {
    font-size: 36px;
  }
}
#explain .explain-box .explain-title img {
  width: 10%;
  height: 10%;
  padding-right: 1.5%;
}
@media (min-width: 1024px) {
  #explain .explain-box .explain-title img {
    width: 4%;
  }
}
#explain .explain-box .right {
  display: flex;
  align-items: baseline;
  padding-top: 20%;
  width: 100%;
}
@media (min-width: 1024px) {
  #explain .explain-box .right {
    padding-top: 5%;
  }
}
#explain .explain-box .right .right-title {
  padding-right: 20px;
  width: 30%;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-title {
    width: 15%;
    padding-right: 0;
  }
}
#explain .explain-box .right .right-title h3 {
  text-align: justify;
  width: 70px;
  font-size: 16px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-title h3 {
    font-size: 24px;
    width: 100px;
  }
}
#explain .explain-box .right .right-txt {
  width: 70%;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-txt {
    width: 100%;
  }
}
#explain .explain-box .right .right-txt .strong-span strong {
  text-align: justify;
  font-size: 18px;
  font-family: "Pretendard-ExtraBold";
  color: #422b2b;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-txt .strong-span strong {
    font-size: 32px;
  }
}
#explain .explain-box .right .right-txt .strong-span .decs {
  text-align: justify;
  display: block;
  font-family: "Pretendard-Light";
  font-size: 16px;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-txt .strong-span .decs {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-txt .strong-span {
    display: flex;
    align-items: center;
  }
  #explain .explain-box .right .right-txt .strong-span .decs {
    padding-left: 30px;
  }
}
#explain .explain-box .right .right-txt p {
  text-align: justify;
  display: flex;
  align-items: baseline;
  font-size: 14px;
  font-family: "Pretendard-Medium";
  padding-top: 15px;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-txt p {
    font-size: 22px;
  }
}
#explain .explain-box .right .right-txt p img {
  margin-right: 10px;
}
#explain .explain-box .right .right-txt .desc2 {
  color: #2f2411;
  text-align: justify;
  font-size: 13px;
  font-family: "Pretendard-ExtraLight";
  padding-left: 30px;
}
@media (min-width: 1024px) {
  #explain .explain-box .right .right-txt .desc2 {
    font-size: 20px;
  }
}
#explain .explain-box .schedule {
  display: flex;
  padding: 100px 0;
}
#explain .explain-box .schedule .schedule-title {
  padding-right: 24px;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-title {
    width: 15%;
  }
}
#explain .explain-box .schedule .schedule-title h3 {
  width: 70px;
  font-size: 16px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-title h3 {
    font-size: 24px;
    width: 100px;
  }
}
#explain .explain-box .schedule .schedule-txt {
  width: 100%;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box {
    display: flex;
    height: 100%;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e9e9e9;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .sch {
    height: 100%;
    flex-direction: column;
    width: 100%;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch h2 {
  font-size: 18px;
  font-family: "Pretendard-SemiBold";
  padding: 25px;
  padding-left: 31px;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .sch h2 {
    font-size: 22px;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch p {
  font-size: 14px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .sch p {
    font-size: 18px;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch small {
  color: #737373;
  font-size: 12px;
  font-family: "Pretendard-Light";
  margin-left: 13px;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .sch small {
    font-size: 15px;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .sch:nth-child(4) {
  margin-bottom: 17px;
}
#explain .explain-box .schedule .schedule-txt .schedule-box .arrow-icon {
  padding-left: 47%;
  margin: 13px 0;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .arrow-icon {
    display: none;
  }
}
#explain .explain-box .schedule .schedule-txt .schedule-box .arrow-right-icon {
  display: none;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .schedule-box .arrow-right-icon {
    display: block;
    padding-top: 5%;
    margin: 0 27px;
  }
}
#explain .explain-box .schedule .schedule-txt .sch-dsce {
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
  color: #2f2411;
  padding-top: 17px;
}
@media (min-width: 1024px) {
  #explain .explain-box .schedule .schedule-txt .sch-dsce {
    font-size: 18px;
  }
}
#explain .explain-box .active {
  display: flex;
  padding-bottom: 100px;
}
#explain .explain-box .active .active-title {
  padding-right: 24px;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-title {
    width: 15%;
  }
}
#explain .explain-box .active .active-title h3 {
  width: 70px;
  font-size: 16px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-title h3 {
    font-size: 24px;
    width: 100px;
  }
}
#explain .explain-box .active .active-txt {
  width: 100%;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .active-box {
    display: flex;
    height: 100%;
  }
}
#explain .explain-box .active .active-txt .active-box .act {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e9e9e9;
  width: 100%;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .active-box .act {
    flex-direction: column;
    width: 100%;
  }
}
#explain .explain-box .active .active-txt .active-box .act h2 {
  font-size: 18px;
  font-family: "Pretendard-SemiBold";
  padding: 25px;
  padding-left: 31px;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .active-box .act h2 {
    font-size: 22px;
  }
}
#explain .explain-box .active .active-txt .active-box .act p {
  font-size: 14px;
  font-family: "Pretendard-Light";
  text-align: left;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .active-box .act p {
    font-size: 18px;
  }
}
#explain .explain-box .active .active-txt .active-box .act:nth-child(4) {
  margin-bottom: 0;
}
#explain .explain-box .active .active-txt .arrow-icon {
  padding-left: 47%;
  margin: 13px 0;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .arrow-icon {
    display: none;
  }
}
#explain .explain-box .active .active-txt .arrow-right-icon {
  display: none;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .arrow-right-icon {
    display: block;
    padding-top: 4%;
    margin: 0 27px;
  }
}
#explain .explain-box .active .active-txt .where {
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
  color: #2f2411;
  padding-top: 17px;
}
@media (min-width: 1024px) {
  #explain .explain-box .active .active-txt .where {
    font-size: 18px;
  }
}
#explain .explain-box .benefit {
  display: flex;
  margin-bottom: 74px;
}
#explain .explain-box .benefit .benefit-title {
  padding-right: 24px;
}
@media (min-width: 1024px) {
  #explain .explain-box .benefit .benefit-title {
    width: 15%;
    padding-right: 0;
  }
}
#explain .explain-box .benefit .benefit-title h3 {
  width: 70px;
  font-size: 16px;
  font-family: "Pretendard-Bold";
  border-bottom: 3px solid #2f2411;
  color: #2f2411;
}
@media (min-width: 1024px) {
  #explain .explain-box .benefit .benefit-title h3 {
    font-size: 24px;
    width: 100px;
  }
}
#explain .explain-box .benefit .benefit-txt p {
  text-align: justify;
  display: flex;
  align-items: baseline;
  font-size: 16px;
  font-family: "Pretendard-Medium";
  padding-top: 15px;
}
@media (min-width: 1024px) {
  #explain .explain-box .benefit .benefit-txt p {
    font-size: 22px;
  }
}
#explain .explain-box .benefit .benefit-txt p img {
  margin-right: 10px;
}
#explain .explain-box .benefit .benefit-txt p:first-child {
  padding-top: 0;
}
#explain .explain-box .benefit .benefit-txt .serve {
  text-align: justify;
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
  color: #2f2411;
  margin-bottom: 74px;
}
@media (min-width: 1024px) {
  #explain .explain-box .benefit .benefit-txt .serve {
    font-size: 20px;
  }
}
#explain .explain-box hr {
  margin-bottom: 8px;
  height: 3px;
  background-color: #422b2b;
}

#run .run1 {
  position: relative;
}
@media (min-width: 1024px) {
  #run .run1 {
    display: flex;
  }
}
#run .run1 .run1-txt {
  position: absolute;
  top: 65%;
  left: 15%;
  z-index: 5;
  background-color: #f6f6f6;
  width: 85%;
  padding: 30px;
}
@media (min-width: 1024px) {
  #run .run1 .run1-txt {
    width: 40%;
    left: 50%;
    top: 70%;
  }
}
#run .run1 .run1-txt h2 {
  text-align: justify;
  font-size: 28px;
  font-family: "Pretendard-Bold";
  color: #422b2b;
  text-align: right;
  margin-bottom: 31px;
}
@media (min-width: 1024px) {
  #run .run1 .run1-txt h2 {
    font-size: 48px;
  }
}
#run .run1 .run1-txt .run-mo {
  text-align: justify;
  font-size: 16px;
  font-family: "Pretendard-Light";
  text-align: right;
}
@media (min-width: 1024px) {
  #run .run1 .run1-txt .run-mo {
    font-size: 24px;
  }
}
#run .run1 .run1-txt .run-pc {
  display: none;
}
@media (min-width: 1024px) {
  #run .run1 .run1-txt .run-pc {
    padding-top: 20px;
    display: block;
    font-size: 24px;
    text-align: justify;
    font-family: "Pretendard-Light";
    text-align: right;
  }
}
#run .run1 .run1-allimg {
  overflow: hidden;
  position: relative;
}
#run .run1 .run1-allimg .run1-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 300%;
  animation: slide-right 20s infinite linear;
}
@media (min-width: 1024px) {
  #run .run1 .run1-allimg .run1-img {
    width: 50%;
    overflow: visible;
  }
}
#run .run1 .run1-allimg .run1-img img {
  flex: 1;
  min-width: 33.3333333333%;
  height: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  #run .run1 .run1-allimg .run1-img img {
    min-width: 60%;
  }
}
#run .run1 .run1-allimg .run1-img img:nth-child(1) {
  transform: scale(0.9);
  min-width: 33.3333333333%;
  z-index: 1;
}
#run .run1 .run1-allimg .run1-img img:nth-child(3) {
  transform: scale(0.9);
  z-index: 1;
}
#run .run1 .run1-allimg .run1-img img:nth-child(1) {
  transform: scale(0.9);
  min-width: 33.3333333333%;
  z-index: 1;
}
#run .run1 .run1-allimg .run1-img img:nth-child(4) {
  transform: scale(0.9);
  min-width: 33.3333333333%;
  z-index: 1;
}
#run .run1 .run1-allimg .run1-img img:nth-child(5) {
  transform: scale(0.9);
  z-index: 1;
}
#run .run1 .run1-allimg .run1-img img:nth-child(6) {
  transform: scale(0.9);
  z-index: 1;
  min-width: 50%;
}
@media (min-width: 1024px) {
  #run .run1 .run1-allimg .run1-img img:nth-child(6) {
    min-width: 80%;
  }
}
@media (min-width: 1024px) {
  #run .run1 .run1-allimg .run1-img img:nth-child(7) {
    transform: scale(0.9);
    z-index: 1;
    min-width: 80%;
  }
}
@media (min-width: 1024px) {
  #run .run1 .run1-allimg .run1-img img:nth-child(8) {
    transform: scale(0.9);
    z-index: 1;
    min-width: 60%;
  }
}
#run .run1 .run1-allimg .run1-img img:nth-child(2) {
  z-index: 1;
}
#run .run2 {
  position: relative;
}
#run .run2 .run2-allimg-pc {
  overflow: hidden;
}
#run .run2 .run2-allimg-pc .run2-img-pc {
  display: none;
}
@media (min-width: 1024px) {
  #run .run2 .run2-allimg-pc .run2-img-pc {
    animation: move1 20s linear infinite;
    margin-top: 20%;
    display: flex;
    width: 100%;
    opacity: 50%;
  }
  #run .run2 .run2-allimg-pc .run2-img-pc img {
    width: 20%;
    padding-right: 15px;
  }
  @keyframes move1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
#run .run2 .run2-allimg {
  overflow: hidden;
  position: relative;
}
#run .run2 .run2-allimg .run2-img {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  animation: slide-left 15s infinite linear;
  margin-bottom: 50%;
}
@media (min-width: 1024px) {
  #run .run2 .run2-allimg .run2-img {
    padding: 0;
    min-width: 60%;
    float: right;
    margin-bottom: 25%;
  }
}
#run .run2 .run2-allimg .run2-img img {
  flex: 1;
  min-width: 90%;
  height: 100%;
  margin-top: 40%;
}
@media (min-width: 1024px) {
  #run .run2 .run2-allimg .run2-img img {
    margin-top: 5%;
    min-width: 40%;
  }
}
#run .run2 .run2-allimg .run2-img img:nth-child(1), #run .run2 .run2-allimg .run2-img img:nth-child(4) {
  transform: scale(1);
  z-index: 1;
}
#run .run2 .run2-allimg .run2-img img:nth-child(2), #run .run2 .run2-allimg .run2-img img:nth-child(3) {
  transform: scale(1);
  z-index: 2;
}
#run .run2 .run2-txt {
  position: absolute;
  top: 60%;
  background-color: #f6f6f6;
  z-index: 5;
  background-color: #f6f6f6;
  width: 85%;
  padding: 30px;
}
@media (min-width: 1024px) {
  #run .run2 .run2-txt {
    top: 75%;
    left: 10%;
    width: 40%;
  }
}
#run .run2 .run2-txt h2 {
  text-align: justify;
  font-size: 28px;
  font-family: "Pretendard-Bold";
  color: #422b2b;
  margin-bottom: 31px;
}
@media (min-width: 1024px) {
  #run .run2 .run2-txt h2 {
    font-size: 48px;
  }
}
#run .run2 .run2-txt .run-mo {
  text-align: justify;
  font-size: 16px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  #run .run2 .run2-txt .run-mo {
    font-size: 24px;
  }
}
#run .run2 .run2-txt .run-pc {
  display: none;
}
@media (min-width: 1024px) {
  #run .run2 .run2-txt .run-pc {
    padding-top: 20px;
    display: block;
    text-align: justify;
    font-size: 24px;
    font-family: "Pretendard-Light";
    text-align: left;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}/*# sourceMappingURL=gungdoong.css.map */