@charset "UTF-8";
@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic-regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* *:before, * *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  padding: 0 32px;
}

header {
  width: 100%;
  background: url(../images/header_back.png) no-repeat;
  background-size: cover;
  transition: height 0.5s ease-out;
}
@media (min-width: 1024px) {
  header {
    height: 180px;
  }
}
header .logo-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-icon .search-menu {
  position: relative;
  display: flex;
  z-index: 100;
}
header .logo-icon .search-menu a {
  margin-right: 15px;
}
header .logo-icon .search-menu a img {
  width: 36px;
  z-index: 100;
}
header .logo-icon .search-menu #languageSelect {
  display: none;
}
header .logo-icon .search-menu a:first-child {
  display: none;
}
header .logo-icon .search-menu a:nth-child(2) {
  display: none;
}
header .logo-icon .search-menu .menu-toggle-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
header .logo-icon .search-menu .menu-toggle-btn span {
  width: 25px;
  height: 3px;
  background-color: black;
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(2) {
  opacity: 0;
}
header .logo-icon .search-menu .menu-toggle-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
header .logo-icon .search-menu .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
header .logo-icon .search-menu .search-input {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100px;
  padding: 5px;
  font-size: 16px;
  border-bottom: 3px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
@media (min-width: 1024px) {
  header .logo-icon .search-menu a:first-child {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(2) {
    display: block;
  }
  header .logo-icon .search-menu a:nth-child(3) {
    display: none;
  }
  header .logo-icon .search-menu .menu-toggle-btn {
    display: none;
  }
}
header .side-menu {
  position: fixed;
  width: 45%;
  top: 0;
  right: -45%;
  background-color: white;
  height: 100%;
  z-index: 1;
  transition: right 0.3s ease-in-out;
}
header .side-menu .language-login {
  width: 80%;
  display: flex;
  margin-top: 125px;
  margin-left: 5px;
  margin-bottom: 10px;
}
header .side-menu .language-login .language {
  width: 45%;
  text-align: center;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2411;
  border-radius: 5px;
}
header .side-menu .language-login .language a {
  color: white;
  font-size: 8px;
  font-family: "Pretendard-Regular";
}
header .side-menu .language-login .language a img {
  width: 11px;
}
header .side-menu .language-login .login {
  width: 45%;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2411;
  border-radius: 5px;
  margin-left: 3px;
}
header .side-menu .language-login .login a {
  color: white;
  font-size: 8px;
  font-family: "Pretendard-Regular";
  writing-mode: horizontal-tb;
}
header .side-menu .language-login .login a img {
  width: 11px;
}
header .side-menu .side-nav {
  padding-left: 10px;
  z-index: 1;
}
header .side-menu .side-nav .gnb li a {
  display: flex;
  align-items: baseline;
  color: #2f2411;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
header .side-menu .side-nav .gnb li a:hover {
  color: #ffbe0f;
}
header .side-menu .side-nav .gnb li a img {
  margin-right: 10px;
  width: 8%;
}
header .side-menu .side-nav .gnb li ul li a {
  font-size: 14px;
  color: #7e7e7e;
  font-family: "Pretendard-Regular";
}
header .side-menu .side-nav .gnb li ul li a:hover {
  color: #ffbe0f;
  text-decoration: underline;
}
header .side-menu .side-nav .gnb li .submenu {
  display: flex;
}
header .menu_box {
  display: none;
}
@media (min-width: 1024px) {
  header .side-menu {
    display: none;
  }
  header .menu_box {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header .menu_box .mainmenu {
    width: 700px;
  }
  header .menu_box .mainmenu .gnb {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  header .menu_box .mainmenu .gnb li {
    position: relative;
  }
  header .menu_box .mainmenu .gnb li .submenu {
    display: none;
    margin-top: 27px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }
  header .menu_box .mainmenu .gnb li .submenu li a {
    font-family: "Pretendard-Regular";
    text-decoration: none;
    font-size: 18px;
    color: #7e7e7e;
  }
  header .menu_box .mainmenu .gnb li .submenu li a:hover {
    color: #ffbe0f;
  }
  header .menu_box .mainmenu .gnb li .submenu.open {
    display: block;
    max-height: 1000px; /* 적절한 최대 높이로 설정 */
    transition: max-height 0.3s ease-in;
  }
  header .menu_box .mainmenu .gnb a {
    color: #171717;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: "KimjungchulMyungjo-Regular";
  }
  header .menu_box .mainmenu .gnb a:hover {
    color: #ffbe0f;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 1;
  }
  header .menu_box form .search-box {
    position: relative;
    display: flex;
  }
  header .menu_box form .search-box input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 8px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none; /* 크롬, 사파리, 엣지 */
    -moz-appearance: none; /* 파이어폭스 */
    appearance: none; /* 기본 브라우저 */
  }
  header .menu_box form .search-box input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  header .menu_box form .search-box .search {
    position: absolute;
    top: -10px;
    left: 163px;
  }
  header .menu_box form .search-box .search img {
    width: 30px;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
}
footer .sns {
  width: 100%;
  height: 70px;
  background-color: #ffbe0f;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 67px;
}
@media (min-width: 1024px) {
  footer .sns {
    height: 66px;
  }
}
footer .sns a {
  margin-top: 10px;
  margin-right: 42px;
}
@media (min-width: 1024px) {
  footer .sns a {
    margin-right: 20px;
  }
}
footer .sns a img {
  width: 48px;
  transition: filter 0.3s ease;
}
footer .sns a:hover img {
  width: 58px;
}
footer .sns a:last-child {
  margin-right: 0;
}
footer .footer-back {
  background: url(../../images/footer-pattern-bg.png);
}
@media (min-width: 1024px) {
  footer .footer-back {
    background: url(../../images/header_backpc.png);
    background-size: cover;
    background-color: #2f2411;
  }
}
footer .footer-back .footLogo a {
  padding: 62px;
}
footer .footer-back .footLogo a img {
  margin: 0 auto;
}
footer .footer-back form {
  text-align: center;
}
footer .footer-back form label select {
  border: 0;
  color: white;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  background: transparent;
  width: 25%;
}
footer .footer-back form label select option {
  color: black;
}
@media (min-width: 1024px) {
  footer .footer-back form label select {
    font-size: 21px;
    width: 10%;
  }
}
footer hr {
  width: 70%;
  height: 3px;
  background-color: #ffbe0f;
  margin: 60px auto;
}
footer .public {
  display: flex;
  justify-content: center;
}
footer .public a {
  font-size: 16px;
  font-family: "KimjungchulMyungjo-Regular";
  margin-right: 42px;
  margin-bottom: 46px;
  color: white;
}
footer .public a:hover {
  color: #ffbe0f;
}
@media (min-width: 1024px) {
  footer .public a {
    font-size: 20px;
  }
}
footer .public a:last-child {
  margin-right: 0;
}
footer address {
  font-size: 14px;
  text-align: center;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  footer address {
    font-size: 18px;
  }
}
footer .question {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .question .tel1 {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question .tel1 {
    font-size: 18px;
  }
}
footer .question .tel2 {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 34px;
  font-family: "Pretendard-ExtraLight";
  text-align: center;
}
@media (min-width: 1024px) {
  footer .question .tel2 {
    font-size: 18px;
  }
}
footer .copyright p {
  padding-bottom: 51px;
  font-size: 14px;
  font-family: "Pretendard-ExtraLight";
}
@media (min-width: 1024px) {
  footer .copyright p {
    font-size: 16px;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: #251a06;
  padding: 40px;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(37, 26, 6, 0.3);
  z-index: 101;
}
@media (min-width: 1024px) {
  .form {
    width: 600px;
  }
}
.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.form .tab-group::after {
  content: "";
  display: table;
  clear: both;
}
.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(255, 190, 15, 0.25);
  color: white;
  font-size: 20px;
  font-family: "Pretendard-Regular";
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.form .tab-group li a:hover {
  background: #f1ebde;
  color: #ffbe0f;
}
.form .tab-group .active a {
  background: #f1ebde;
  color: white;
}
.form .tab-content > div:last-child {
  display: none;
}
.form h1 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 40px;
}
@media (min-width: 1024px) {
  .form h1 {
    font-size: 36px;
  }
}
.form label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: white;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}
.form label .req {
  margin: 2px;
  color: #ffbe0f;
}
.form label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}
.form label.highlight {
  color: white;
}
.form input, .form textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #333;
  color: white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.form input:focus, .form textarea:focus {
  outline: 0;
  border-color: #f1ebde;
}
@media (min-width: 1024px) {
  .form input, .form textarea {
    font-size: 22px;
    padding: 5px 10px;
  }
}
.form textarea {
  border: 2px solid #333;
  resize: vertical;
}
.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.form .top-row::after {
  content: "";
  display: table;
  clear: both;
}
.form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.form .top-row > div:last-child {
  margin: 0;
}
.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #f1ebde;
  color: white;
  transition: all 0.5s ease;
}
.form .button:hover, .form .button:focus {
  background: #f1ebde;
}
.form .button-block {
  display: block;
  width: 100%;
}
.form .forgot {
  margin-top: -20px;
  text-align: right;
}
.form .forgot a {
  color: white;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .form .forgot a {
    font-size: 24px;
  }
}

.tab_menu {
  position: relative;
  z-index: 1000;
  padding: 20px;
  margin: 40px auto;
  max-width: 600px;
  background-color: #cc980f;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}
.tab_menu .list {
  overflow: hidden;
  background-color: aqua;
}
.tab_menu .list li {
  float: left;
  margin-right: 14px;
  float: left;
  width: 50%;
}
.tab_menu .list li a {
  font-size: 20px;
  font-family: "Pretendard-Medium";
}
.tab_menu .list li.is_on .btn {
  font-weight: bold;
  color: green;
}
.tab_menu .list li .btn {
  font-size: 13px;
}
.tab_menu .cont_area {
  margin-top: 10px;
}
.tab_menu .cont_area h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  margin: 0 0 40px;
}
.tab_menu .cont_area .cont {
  display: none;
  background: #555;
  color: #fff;
  text-align: center;
  width: 250px;
  height: 100px;
  line-height: 100px;
}

.press_release {
  position: relative;
}
.press_release h2 {
  font-size: 24px;
  font-family: "Pretendard-Medium";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}
.press_release .s_filter {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 24px;
}
@media (min-width: 1024px) {
  .press_release h2 {
    font-size: 48px;
  }
  .press_release .s_filter {
    right: 300px;
  }
}
.press_release .news_box1 {
  position: relative;
}
.press_release .news_box1 .press_release_box .press_release_1 {
  width: 100%;
  height: 416px;
  margin: 30px auto 200px;
}
.press_release .news_box1 .press_release_box .press_info_box {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box1 .press_release_box .press_info_box h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box1 .press_release_box .press_info_box p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box1 .press_release_box .press_info_box strong {
  display: none;
}
.press_release .news_box1 .press_release_box .press_info_box .more_arrow {
  display: block;
}
.press_release .news_box1 .press_release_box2 .press_release_2 {
  width: 100%;
  height: 416px;
  margin: 60px auto 200px;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 h3 {
  width: 245px;
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 h3 a {
  color: white;
  padding-right: 20px;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box1 .press_release_box2 .press_info_box2 strong {
  display: none;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 .more_arrow2 {
  display: block;
}
@media (min-width: 1024px) {
  .press_release .news_box1 {
    display: flex;
    margin-top: 120px;
  }
  .press_release .news_box1 .press_release_box {
    width: 696px;
    height: 661px;
    margin-right: 66px;
  }
  .press_release .news_box1 .press_release_box .press_release_1 {
    width: 658px;
    height: 479px;
    margin-left: 36px;
    margin-bottom: 178px;
    margin-top: 60px;
  }
  .press_release .news_box1 .press_release_box .press_info_box {
    width: 545px;
    height: 246px;
    top: 420px;
    left: 0;
    cursor: pointer;
  }
  .press_release .news_box1 .press_release_box .press_info_box:hover strong {
    font-size: 30px;
  }
  .press_release .news_box1 .press_release_box .press_info_box:hover .more_arrow {
    top: 70%;
    right: 20%;
  }
  .press_release .news_box1 .press_release_box .press_info_box h3 {
    font-size: 24px;
  }
  .press_release .news_box1 .press_release_box .press_info_box p {
    font-size: 18px;
    margin-top: 40px;
  }
  .press_release .news_box1 .press_release_box .press_info_box strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box1 .press_release_box .press_info_box .more_arrow {
    display: block;
    position: absolute;
    top: 66.5%;
    right: 15%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
  .press_release .news_box1 .press_release_box2 {
    width: 696px;
    height: 661px;
  }
  .press_release .news_box1 .press_release_box2 .press_release_2 {
    width: 658px;
    height: 479px;
    margin-left: 36px;
    margin-bottom: 178px;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 {
    width: 545px;
    height: 246px;
    top: 420px;
    right: 50px;
    cursor: pointer;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2:hover strong {
    font-size: 30px;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2:hover .more_arrow2 {
    top: 70%;
    right: 20%;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 h3 {
    font-size: 24px;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 h3 a {
    padding-right: 0;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 p {
    font-size: 18px;
    margin-top: 40px;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 .more_arrow2 {
    display: block;
    position: absolute;
    top: 66.5%;
    right: 15%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
}
.press_release .news_box2 {
  position: relative;
}
.press_release .news_box2 .press_release_box3 .press_release_3 {
  width: 100%;
  height: 580px;
  margin: 60px auto 200px;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 {
  position: absolute;
  top: 27%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 h3 a {
  color: white;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box2 .press_release_box3 .press_info_box3 strong {
  display: none;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 .more_arrow3 {
  display: none;
}
.press_release .news_box2 .press_release_box4 .press_release_4 {
  width: 100%;
  height: 580px;
  margin: 60px auto 200px;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 {
  position: absolute;
  top: 63.5%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 h3 a {
  color: white;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box2 .press_release_box4 .press_info_box4 strong {
  display: none;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 .more_arrow4 {
  display: none;
}
.press_release .news_box2 .press_release_box5 .press_release_5 {
  width: 100%;
  height: 580px;
  margin: 60px auto 200px;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 h3 a {
  color: white;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box2 .press_release_box5 .press_info_box5 strong {
  display: none;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 .more_arrow5 {
  display: none;
}
@media (min-width: 1024px) {
  .press_release .news_box2 {
    display: flex;
  }
  .press_release .news_box2 .press_release_box3 .press_release_3 {
    width: 435px;
    height: 612px;
    margin-right: 50px;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 {
    width: 402px;
    height: 211px;
    top: 568px;
    left: 59px;
    cursor: pointer;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3:hover strong {
    font-size: 30px;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3:hover .more_arrow3 {
    top: 70%;
    right: 28%;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 h3 {
    font-size: 24px;
    padding-top: 30px;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 p {
    font-size: 20px;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
    color: white;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 .more_arrow3 {
    display: block;
    position: absolute;
    top: 68%;
    right: 20%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
  .press_release .news_box2 .press_release_box4 .press_release_4 {
    width: 435px;
    height: 612px;
    margin-right: 50px;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 {
    width: 402px;
    height: 211px;
    top: 568px;
    left: 40%;
    cursor: pointer;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4:hover strong {
    font-size: 30px;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4:hover .more_arrow4 {
    top: 70%;
    right: 28%;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 h3 {
    font-size: 24px;
    padding-top: 30px;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 p {
    font-size: 20px;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 .more_arrow4 {
    display: block;
    position: absolute;
    top: 68%;
    right: 20%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
  .press_release .news_box2 .press_release_box5 .press_release_5 {
    width: 435px;
    height: 612px;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 {
    width: 402px;
    height: 211px;
    top: 568px;
    left: 76%;
    cursor: pointer;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5:hover strong {
    font-size: 30px;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5:hover .more_arrow5 {
    top: 70%;
    right: 28%;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 h3 {
    font-size: 24px;
    padding-top: 30px;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 p {
    font-size: 20px;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 .more_arrow5 {
    display: block;
    position: absolute;
    top: 68%;
    right: 20%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
}
.press_release .news_box3 {
  position: relative;
}
.press_release .news_box3 .press_release_box6 .press_release_6 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 {
  position: absolute;
  top: 360px;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 h3 a {
  color: white;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box3 .press_release_box6 .press_info_box6 strong {
  display: none;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 .more_arrow6 {
  display: none;
}
.press_release .news_box3 .press_release_box7 .press_release_7 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 h3 a {
  color: white;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box3 .press_release_box7 .press_info_box7 strong {
  display: none;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 .more_arrow7 {
  display: none;
}
.press_release .news_box3 .press_release_box8 .press_release_8 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 {
  position: absolute;
  top: 72.5%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 h3 a {
  color: white;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box3 .press_release_box8 .press_info_box8 strong {
  display: none;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 .more_arrow8 {
  display: none;
}
.press_release .news_box3 .press_release_box9 .press_release_9 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box9 .press_info_box9 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box9 .press_info_box9 h3 {
  font-size: 20px;
  font-family: "KimjungchulMyungjo-Regular";
  color: white;
}
.press_release .news_box3 .press_release_box9 .press_info_box9 p {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: "KimjungchulMyungjo-Regular";
}
.press_release .news_box3 .press_release_box9 .press_info_box9 strong {
  display: none;
}
.press_release .news_box3 .press_release_box9 .press_info_box9 .more_arrow9 {
  display: none;
}
@media (min-width: 1024px) {
  .press_release .news_box3 {
    display: flex;
  }
  .press_release .news_box3 .press_release_box6 {
    width: 336px;
    height: 401px;
    margin-right: 50px;
  }
  .press_release .news_box3 .press_release_box6 .press_release_6 {
    width: 313px;
    height: 256px;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: -2%;
    cursor: pointer;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6:hover strong {
    font-size: 30px;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6:hover .more_arrow6 {
    top: 71%;
    right: 35%;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 h3 {
    font-size: 24px;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 p {
    margin-top: 15px;
    color: white;
    font-size: 18px;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 .more_arrow6 {
    display: block;
    position: absolute;
    top: 68%;
    right: 25%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
  .press_release .news_box3 .press_release_box7 {
    width: 336px;
    height: 401px;
    margin-right: 50px;
  }
  .press_release .news_box3 .press_release_box7 .press_release_7 {
    width: 313px;
    height: 256px;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: 25%;
    cursor: pointer;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7:hover strong {
    font-size: 30px;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7:hover .more_arrow7 {
    top: 71%;
    right: 35%;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 h3 {
    font-size: 24px;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 p {
    margin-top: 15px;
    color: white;
    font-size: 18px;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 .more_arrow7 {
    display: block;
    position: absolute;
    top: 68%;
    right: 25%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
  .press_release .news_box3 .press_release_box8 {
    width: 336px;
    height: 401px;
    margin-right: 50px;
  }
  .press_release .news_box3 .press_release_box8 .press_release_8 {
    width: 313px;
    height: 256px;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: 52%;
    cursor: pointer;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8:hover strong {
    font-size: 30px;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8:hover .more_arrow8 {
    top: 71%;
    right: 35%;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 h3 {
    font-size: 24px;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 p {
    margin-top: 15px;
    color: white;
    font-size: 18px;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 .more_arrow8 {
    display: block;
    position: absolute;
    top: 68%;
    right: 25%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
  .press_release .news_box3 .press_release_box9 {
    width: 336px;
    height: 401px;
    margin-right: 50px;
    margin-bottom: 200px;
  }
  .press_release .news_box3 .press_release_box9 .press_release_9 {
    width: 313px;
    height: 256px;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: 79%;
    cursor: pointer;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9:hover strong {
    font-size: 30px;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9:hover .more_arrow9 {
    top: 71%;
    right: 35%;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 h3 {
    font-size: 24px;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 p {
    margin-top: 15px;
    color: white;
    font-size: 18px;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 strong {
    display: block;
    position: absolute;
    top: 62%;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: "KimjungchulMyungjo-Regular";
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 .more_arrow9 {
    display: block;
    position: absolute;
    top: 68%;
    right: 25%;
    width: 32px;
    height: 1px;
    border: 1px solid #cc980f;
  }
}
.press_release .num_arr {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 90px;
}
.press_release .num_arr p {
  font-size: 18px;
  font-family: "Pretendard-Regular";
}
@media (min-width: 1024px) {
  .press_release .num_arr {
    margin: 260px auto 140px;
    font-weight: bold;
    width: 70%;
  }
  .press_release .num_arr p {
    font-size: 24px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}
.modal .modal-content {
  position: absolute;
  top: 195px;
  left: 41px;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}
.modal .modal-content input {
  width: 230px;
}
.modal .modal-content .close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .modal .modal-content {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 100%;
  }
  .modal .modal-content input {
    width: 80%;
    height: 30px;
    padding-left: 15px;
  }
  .modal .modal-content #search-btn {
    width: 50px;
    height: 30px;
  }
}/*# sourceMappingURL=press_release.css.map */