@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}

.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}

// ==== header ====
header {
    width: $width-wide;
    background: url(../images/header_back.png) no-repeat;
    background-size: cover;
    transition: height 0.5s ease-out;

    @include responsive(large-screens) {
        height: 180px;
    }

    .logo-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-menu {
            position: relative;
            display: flex;
            z-index: 100;
            a {
                margin-right: 15px;
                img {
                    width: 36px;
                    z-index: 100;
                }
            }
            a:first-child {
                display: none;
            }
            a:nth-child(2) {
                display: none;
            }
            #language-select {
                display: none;
            }
            .menu-toggle-btn {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 10px;
                span {
                    width: 25px;
                    height: 3px;
                    background-color: black;
                }
            }
            .menu-toggle-btn.open {
                span:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }
                span:nth-child(2) {
                    opacity: 0;
                }
                span:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
            .close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                font-size: 24px;
            }
            .search-input {
                display: none;
                position: absolute;
                top: 0;
                right: 100%;
                width: 100px;
                padding: 5px;
                font-size: 16px;
                border-bottom: 3px solid black;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                
            }
        }
    }

    @include responsive(large-screens) {
        .logo-icon {
            .search-menu {
                a:first-child {
                    display: block;
                }
                a:nth-child(2) {
                    display: block;
                }
                a:nth-child(3) {
                    display: none;
                }
                .menu-toggle-btn {
                    display: none;
                }
            }   
        }
    }
    .side-menu {
        // background: url(../images/header_back.png) no-repeat;
        position: fixed;
        width: 45%; 
        top: 0;
        right: -45%; 
        background-color: white; 
        height: 100%;
        z-index: 1;
        transition: right 0.3s ease-in-out;
        .language-login {
            width: 80%;
            display: flex;
            margin-top: 125px;
            margin-left: 5px;
            margin-bottom: 10px;
            .language {
                width: 45%;
                text-align: center;
                cursor: pointer;
                padding: 2px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #2f2411;
                border-radius: 5px;
                position: relative;
                select {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: none;
                    border: none;
                    color: white;
                    font-size: 8px;
                    font-family: "Arial", sans-serif; /* Replace with your font if needed */
                    cursor: pointer;
                    padding: 5px;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                }
                .language::before {
                    content: url('../../images/language-white.png');
                    z-index: 100;
                    position: relative;
                    width: 11px;
                    height: 11px;
                    margin-right: 5px;
                }
                
                .language select:focus {
                    outline: none;
                }
                
                .language select option {
                    background-color: #2f2411;
                    color: white;
                }
            }
            .login {
                width: 45%;
                text-align: center;
                cursor: pointer;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #2f2411;
                border-radius: 5px;
                margin-left: 3px;
                a {
                    color: white;
                    font-size: 8px;
                    font-family: $font-pre-regular;
                    writing-mode: horizontal-tb;
                    img {
                        width: 11px;
                    }
                }
            }
        }
        .side-nav {
            padding-left: 10px;
            z-index: 1;
            .gnb {
                li {
                    
                    a {
                        display: flex;
                        align-items: baseline;
                        color: #2f2411;
                        padding: 10px;
                        text-decoration: none;
                        font-size: 18px;
                        font-family: $font-regular;
                        &:hover {
                            color: #ffbe0f;
                        }
                        img {
                            margin-right: 10px;
                            width: 8%;
                        }
                    }
                    ul {
                        li {
                            a {
                                font-size: 14px;
                                color: #7e7e7e;
                                font-family: $font-pre-regular;
                                &:hover {
                                    color: #ffbe0f;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .submenu {
                        display: flex;
                    }
                }
            }
        }
    }
    .menu_box {
        display: none;
    }
    @include responsive(large-screens) {
        .side-menu {
            display: none;
        }
        .menu_box {
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .mainmenu {
                width: 700px;
                // background-color: green;
                .gnb {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 42px;
                    li {
                        position: relative;
                        .submenu {
                            display: none;
                            margin-top: 27px;
                            overflow: hidden;
                            max-height: 0;
                            transition: max-height 0.5s ease-out;
                            li {
                                a {
                                    font-family: $font-pre-regular;
                                    text-decoration: none;
                                    font-size: 18px;
                                    color: #7e7e7e;
                                    &:hover {
                                        color: #ffbe0f;
                                    }
                                }   
                            }
                        }
                        .submenu.open {
                            display: block;
                            max-height: 1000px; /* 적절한 최대 높이로 설정 */
                            transition: max-height 0.3s ease-in;
                        }
                    }
                        a {
                            color: #171717;
                            font-size: 20px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            font-family: $font-regular;
                            &:hover {
                                color: #ffbe0f;
                                text-decoration: underline;
                                text-underline-position: under;
                                text-underline-offset: length($list: 5em);
                            }
                        }
                    }
                }
                form {
                    .search-box {
                        position: relative;
                        display: flex;
                        input {
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            padding-bottom: 8px;
                            font-size: 16px;
                            outline: none;
                            -webkit-appearance: none; /* 크롬, 사파리, 엣지 */
                            -moz-appearance: none; /* 파이어폭스 */
                            appearance: none; /* 기본 브라우저 */
                            &::-webkit-search-cancel-button {
                                -webkit-appearance: none;
                                appearance: none;
                            }
                        }
                        .search{
                            position: absolute;
                            top: -10px;
                            left: 163px;
                            img {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }


// ==== footer ====
footer {
    width: $width-wide;
    text-align: center;
    margin: auto;
    color: white;
    
    .sns {
        width: $width-wide;
        height: 70px;
        background-color: #ffbe0f;
        display: flex;
        justify-content: center;
        width: $width-wide;
        height: 67px;
        @include responsive(large-screens) {
            height: 66px;
        }
        a {
            margin-top: 10px;
            margin-right: 42px;
            @include responsive(large-screens) {
                margin-right: 20px;
            }
            img {
                width: 48px;
                transition: filter 0.3s ease;
            }
            &:hover img {
                width: 58px;
            }
        }
        a:last-child {
            margin-right: 0;
        }
    }

    .footer-back {
        background: url(../../images/footer-pattern-bg.png);

        
        @include responsive(large-screens) {
            background: url(../../images/header_backpc.png);
            background-size: cover;
            background-color: #2f2411;
        }

        .footLogo {
            a {
                padding: 62px;
                img {
                    margin: 0 auto;
                }
            }
        }
        form {
            text-align: center;
            label {
                select {
                    border: 1px solid white;
                    border-radius: 5px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    color: white;
                    font-family: $font-pre-regular;
                    font-size: 16px;
                    background: transparent;
                    width: 25%;
                    option {
                        color: black;
                    }
                    @include responsive(large-screens) {
                        font-size: 21px;
                        width: 10%;
                    }
                }
            }
        }
    }
 
    
        hr {
            width: 70%;
            height: 3px;
            background-color: #ffbe0f;
            margin: 60px auto;
        }
        .public {
            display: flex;
            justify-content: center;
            a {
                font-size: 16px;
                font-family: $font-regular;
                margin-right: 42px;
                margin-bottom: 46px;
                color: white;
                &:hover {
                    color: #ffbe0f;
                }
                @include responsive(large-screens) {
                    font-size: 20px;
                }
            }
            a:last-child {
                margin-right: 0;
            }
        }
        address {
            font-size: 14px;
            text-align: center;
            font-family: $font-pre-light;
            @include responsive(large-screens) {
                font-size: 18px;
            }
        }
        .question {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .tel1 {
                    font-size: 14px;
                    margin-right: 10px;
                    margin-bottom: 34px;
                    font-family: $font-extra;
                    text-align: center;
                    @include responsive(large-screens) {
                        font-size: 18px;
                    }
                }
                .tel2 {
                    font-size: 14px;
                    margin-left: 10px;
                    margin-bottom: 34px;
                    font-family: $font-extra;
                    text-align: center;
                    @include responsive(large-screens) {
                        font-size: 18px;
                    }
                }
                
            }
        .copyright {
            p {
                padding-bottom: 51px;
                font-size: 14px;
                font-family: $font-extra;
                @include responsive(large-screens) {
                    font-size: 16px;
                }
            }   
        }
}

