@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

.notice {
  position: relative;
}
.notice h2 {
  font: 48px "Pretendard";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.notice img {
  width: 30px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 32px;
}
@media (min-width: 1024px) {
  .notice img {
    right: 200px;
  }
}
.notice p {
  font: 24px "Pretendard";
  margin-top: 50px;
  margin-bottom: 20px;
}
.notice .notice_box {
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 60px;
}
.notice .notice_box .notice_line {
  width: 100%;
  margin-top: 15px;
  border: 1px solid black;
}
.notice .notice_box table {
  width: 100%;
  border-collapse: collapse;
}
.notice .notice_box table thead {
  height: 60px;
  border-bottom: 1px solid black;
}
@media (min-width: 1024px) {
  .notice .notice_box table thead {
    height: 70px;
  }
}
.notice .notice_box table thead tr td {
  font: 24px "Pretendard";
  text-align: center;
  font-weight: bold;
}
.notice .notice_box table thead tr td:nth-child(1) {
  width: 15%;
}
@media (min-width: 1024px) {
  .notice .notice_box table thead tr td:nth-child(1) {
    width: 10%;
  }
}
.notice .notice_box table thead tr td:nth-child(2) {
  width: 70%;
}
@media (min-width: 1024px) {
  .notice .notice_box table thead tr td:nth-child(2) {
    width: 60%;
  }
}
.notice .notice_box table thead tr td:nth-child(3) {
  display: none;
}
@media (min-width: 1024px) {
  .notice .notice_box table thead tr td:nth-child(3) {
    display: table-cell;
    width: 10%;
  }
}
.notice .notice_box table thead tr td:nth-child(4) {
  width: 10%;
}
@media (min-width: 1024px) {
  .notice .notice_box table thead tr td:nth-child(4) {
    width: 10%;
  }
}
.notice .notice_box table thead tr td:nth-child(5) {
  display: none;
}
@media (min-width: 1024px) {
  .notice .notice_box table thead tr td:nth-child(5) {
    display: table-cell;
    width: 10%;
  }
}
.notice .notice_box table tbody {
  width: 100%;
}
.notice .notice_box table tbody tr {
  height: 100px;
}
.notice .notice_box table tbody tr:nth-of-type(1), .notice .notice_box table tbody tr:nth-of-type(2) {
  background-color: #fff2dd;
}
.notice .notice_box table tbody tr:hover {
  background-color: #2f2411;
  color: white;
}
.notice .notice_box table tbody tr .notice_war {
  font: 22px "Pretendard";
  padding: 40px 0;
}
.notice .notice_box table tbody tr .notice_war span {
  border: none;
  padding: 10px 12px;
  background-color: #ffc827;
  border-radius: 25%;
}
.notice .notice_box table tbody tr td {
  font: 24px "Pretendard";
}
.notice .notice_box table tbody tr td:nth-child(1) {
  text-align: center;
}
@media (min-width: 1024px) {
  .notice .notice_box table tbody tr td:nth-child(1) {
    width: 10%;
  }
}
.notice .notice_box table tbody tr td:nth-child(2) {
  padding: 15px 5px;
}
@media (min-width: 1024px) {
  .notice .notice_box table tbody tr td:nth-child(2) {
    width: 50%;
    padding: 25px 15px;
  }
}
.notice .notice_box table tbody tr td:nth-child(3) {
  display: none;
}
@media (min-width: 1024px) {
  .notice .notice_box table tbody tr td:nth-child(3) {
    display: table-cell;
    width: 5%;
  }
}
.notice .notice_box table tbody tr td:nth-child(4) {
  text-align: center;
  padding: 10px;
}
@media (min-width: 1024px) {
  .notice .notice_box table tbody tr td:nth-child(4) {
    width: 10%;
    padding: 0;
  }
}
.notice .notice_box table tbody tr td:nth-child(5) {
  display: none;
}
@media (min-width: 1024px) {
  .notice .notice_box table tbody tr td:nth-child(5) {
    display: table-cell;
    text-align: center;
  }
}
.notice .notice_box .number {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 100px auto 60px;
  font: 24px "Pretendard";
}/*# sourceMappingURL=notice.css.map */