@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.notice {

    position: relative;

    h2 {
        font: 48px 'Pretendard';
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 2px;
    }

    img {
        width: 30px; height: 27px;
        position: absolute;
        top: 0; right: 32px;
    }

    .notice_box {
        width: 100%;
        height: auto;
        border: 1px solid black;

        .notice_line {
            width: 100%;
            margin-top: 15px;
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;

            thead {
                width: 100%;
                height: 60px;
                padding: 16px 0;

                tr {
                    th {
                        font: 24px 'Pretendard';
                        
                        &:nth-child(1) {
                            width: 20%;
                        }
                        &:nth-child(2) {
                            width: 75%;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(4) {
                            width: 5%;
    
                        }
                        &:nth-child(5) {
                            display: none;
                        }
                    }
                }
            } // thead

            tbody {

                tr {

                    &:nth-child(4) {
                        background-color: #2f2411;
                        color: white;
                    }
                    .notice_war {
                        font: 22px 'Pretendard';
                        padding: 40px 0;
    
                        span {
                            border: none;
                            padding: 10px 12px;
                            background-color: #ffc827;
                            border-radius: 25%;
                        }
                    }
                    
                    td {
                        font: 24px 'Pretendard';
                        
                        &:nth-child(1) {
                            text-align: center;
                        }
                        &:nth-child(2) {
                            padding: 15px 5px;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(4) {
                            width: 5%;
                            text-align: left;
                            padding: 10px 5px;
                            max-height: 2;
                            background-color: antiquewhite;
                        }
                        &:nth-child(5) {
                            display: none;
                        }
                    }  
                }
            } // tbody
        } // table
    } // notice_box
} // notice