@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}

// ==== title ====
section.title {
    display: flex;
    justify-content: space-between;
}
section.title > .lnb {
    display: flex;
    margin-left: 16px;
}
section.title > h2 > .english {
    display: none;
}