@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
}

#history {
    padding-bottom: 50px;
    .history-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
        h2 {
            font-size: 20px;
            font-family: $font-medium;
            border-bottom: 1px solid black;
            width: 22%;
            @include responsive(large-screens) {
                font-size: 48px;
                width: 18%;
            }
        }
        .go {
            display: flex;
            a {
                font-size: 16px;
                font-family: $font-pre-light;
                padding-left: 37px;
                color: #2b2b2b;
                &:hover {
                    font-family: $font-medium;
                }
                @include responsive(large-screens) {
                    font-size: 20px;
                }
            }
        }
    }
    .history-img {
        width: $width-wide;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "a b c"
        "d f f"
        "e f f"
        "g g h"
        ;
        gap: 12px;
        @include responsive(large-screens) {
            grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "a b b c"
        "d b b e"
        "f g g h"
        "i g g j"
        ;
        }

        .history-img1 { grid-area: a; }
        .history-img2 { grid-area: b; }
        .history-img3 { grid-area: c; }
        .history-img4 { grid-area: d; }
        .history-img5 { grid-area: e; }
        .history-img6 { grid-area: f; }
        .history-img7 { grid-area: g; }
        .history-img8 { grid-area: h; }
        .history-img9 { grid-area: i; display: none; }
        .history-img10 { grid-area: j; display: none; }

        

        .history-img1, .history-img2, .history-img3, .history-img4, .history-img5, .history-img6, .history-img7, .history-img8, .history-img9, .history-img10 { 
            cursor: pointer;
            opacity: 0.7;
            position: relative;
            &:hover {
                opacity: 1;
                scale: 1;
            }
            .history-txt {
                display: none;
                @include responsive(large-screens) {
                    display: none;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    background-color: #000000;
                    width: $width-wide;
                    opacity: 60%;
                    padding: 10px;
                    transform: translateY(100%);
                    transition: transform 0.3s ease-in-out;
                    a {
                        font-size: 15px;
                        font-family: $font-pre-regular;
                        color: white; 
                        width: 80%;
                        text-align: justify;
                     }
                     img {
                        width: 12%;
                        margin-left: 20px;
                     }
                    } 
                }
                &:hover .history-txt {
                    display: none;
                    @include responsive(large-screens) {
                    display: flex;
                    transform: translateY(0);
                    }
                }
            }
        
        @include responsive(large-screens) {
            img:nth-child(9) { display: block; grid-area: i; }
            img:nth-child(10) { display: block; grid-area: j; }
        }
        img {
            width: $width-wide;
            height: 100%;
        }
        @include responsive(large-screens) {
            grid-template-columns: repeat(4, 1fr);
            grid-area: 
            "a b b c"
            "d b b e"
            "f g g h"
            "i g g j"
            ;
        }
    }
}

#review {
    background-color: #f8efe0;
    padding: 50px 0;
    h3 {
        font-size: 16px;
        font-family: $font-pre-bold;
        border-bottom: 3px solid #2f2411;
        color: #2f2411;
        width: 19%;
        margin-bottom: 53px;
        width: 22%;
        @include responsive(large-screens) {
            font-size: 24px;
            width: 100px
        }
    }
   
    .review1 {
        display: flex;
        justify-content: space-between;
        align-items: end;
        @include responsive(large-screens) {
            width: 80%;
        }
        .review-txt1 {
            opacity: 0;
            transition: opacity 0.7s ease-in-out;
            background-color: #2f2411;
            width: 90%;
            margin-left: 24px;
            padding: 30px;
            border-radius: 50px 50px 50px 0;
            @include responsive(large-screens) {
                width: 100%;
            }
            .re-txt {
                
                text-align: justify;
                font-size: 18px;
                font-family: $font-regular;
                color: white;
                padding-bottom: 50px;
                @include responsive(large-screens) {
                    font-size: 28px;
                }
            }
            .re-title {
                text-align: justify;
                font-size: 16px;
                font-family: $font-pre-regular;
                color: white;
                @include responsive(large-screens) {
                    font-size: 22px;
                }
            }
            .time-plus {
                text-align: justify;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
            }
            .time {
                margin-right: auto;
                font-size: 12px;
                font-family: $font-pre-light;
                @include responsive(large-screens) {
                    font-size: 20px;
                }
            }
            .hr-more {
                display: flex;
                align-items: center;
                .more {
                    width: 20px;
                    height: 2px;
                    border: 1px solid #b1aa9e;
                    background-color: #b1aa9e;
                }
                a {
                    text-align: justify;
                    margin-left: 10px;
                    font-size: 12px;
                    font-family: $font-medium;
                    color: white;
                    @include responsive(large-screens) {
                        font-size: 20px;
                    }
                }
            }
        } 
    }
    .review2 {
        position: relative;
        margin-top: 114px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        transition: opacity 0.7s ease-in-out;
        @include responsive(large-screens) {
            width: 80%;
            float: right;
            margin-bottom: 114px;
        }
        .review-txt2 {
            opacity: 0;
            transition: opacity 0.7s ease-in-out;
            position: relative;
            background-color: #57482f;
            width: 90%;
            margin-right: 24px;
            padding: 30px;
            border-radius: 50px 50px 0 50px;
            .re-txt {
                text-align: justify;
                font-size: 18px;
                font-family: $font-regular;
                color: white;
                padding-bottom: 50px;
                @include responsive(large-screens) {
                    font-size: 28px;
                }
            }
            .re-title {
                text-align: justify;
                font-size: 16px;
                font-family: $font-pre-regular;
                color: white;
                @include responsive(large-screens) {
                    font-size: 22px;
                }
            }
            .time-plus {
                display: flex;
                align-items: center;
                color: white;
            
            .time {
                margin-right: auto;
                font-size: 12px;
                font-family: $font-pre-light;
                @include responsive(large-screens) {
                    font-size: 20px;
                }
            }
            .hr-more {
                display: flex;
                align-items: center;
                .more {
                    width: 20px;
                    height: 2px;
                    border: 1px solid #b1aa9e;
                    background-color: #b1aa9e;
                }
                a {
                    text-align: justify;
                    margin-left: 10px;
                    font-size: 12px;
                    font-family: $font-medium;
                    color: white;
                    @include responsive(large-screens) {
                        font-size: 20px;
                    }
                }
            }
        }
        } 
    }
    .review3 {
        position: relative;
        margin-top: 114px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        @include responsive(large-screens) {
            width: 80%;
            
        }
        .review-txt3 {
            opacity: 0;
            transition: opacity 0.7s ease-in-out;
            background-color: #2f2411;
            width: 90%;
            margin-left: 24px;
            padding: 30px;
            border-radius: 50px 50px 50px 0;
            .re-txt {
                text-align: justify;
                font-size: 18px;
                font-family: $font-regular;
                color: white;
                padding-bottom: 50px;
                @include responsive(large-screens) {
                    font-size: 28px;
                }
            }
            .re-title {
                font-size: 16px;
                font-family: $font-pre-regular;
                color: white;
                @include responsive(large-screens) {
                    font-size: 22px;
                }
            }
            .time-plus {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
            
            .time {
                margin-right: auto;
                font-size: 12px;
                font-family: $font-pre-light;
                @include responsive(large-screens) {
                    font-size: 20px;
                }
            }
            .hr-more {
                display: flex;
                align-items: center;
                .more {
                    width: 20px;
                    height: 2px;
                    border: 1px solid #b1aa9e;
                    background-color: #b1aa9e;
                }
                a {
                    text-align: justify;
                    margin-left: 10px;
                    font-size: 12px;
                    font-family: $font-medium;
                    color: white;
                    @include responsive(large-screens) {
                        font-size: 20px;
                    }
                }
            }
        }
        
        } 
    }
}

#video {
    h3 {
        font-size: 16px;
        font-family: $font-pre-bold;
        border-bottom: 3px solid #2f2411;
        color: #2f2411;
        width: 20%;
        margin-bottom: 53px;
        @include responsive(large-screens) {
            width: 100px;
            font-size: 24px;
        }
    }
    .main-video {
        border-radius: 10px;
        iframe {
            width: $width-wide;
            border-radius: 20px;
            height: 500px;
        }
        p {
            margin: 17px 0;
            font-size: 16px;
            font-family: $font-gothic-regular;
            @include responsive(large-screens) {
                font-size: 36px;
            }
        }
    }
    .sub-video {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .sub-video1, .sub-video2, .sub-video3 {
            width: 100%;
            margin-right: 12px;
            iframe {
                width: 100%;
                border-radius: 10px;
            }
        }
        .sub-video3 {
            margin-right: 0;
        }
        p {
            margin: 13px 0;
            font-size: 14px;
            font-family: $font-gothic-regular;
            @include responsive(large-screens) {
                font-size: 24px;
                margin-bottom: 80px;
            }
        }
    }
}