@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../header_footer/scss/header_footer.scss";


.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        // -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        // -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}

.press_release_pg {
    h2 {
        font-size: 24px;
        font-family: $font-medium;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 2px;

        @include responsive(large-screens) {
            font-size: 48px;
        }

    }

    .news_pg {
        margin: 30px auto 30px;
        width: 100%;
        height: 100%;
        border: 1px solid black;

        @include responsive(large-screens) {
            margin: 60px auto;

        }

        .top_box {
            width: 100%;
            height: 6px;
            background-color: gray;
        }

        .small_info {
            width: 100%;
            height: 30px;
            border: 1px solid black;
            border-left: none;
            border-right: none;

            display: flex;
            justify-content: space-between;

            margin: 10px 0 0 0;
            padding: 4px 15px;

            p {
                font-size: 12px;
                font-family: $font-pre-regular;
            }
        }

        .sub_title {
            font-size: 20px;
            font-family: $font-semibold;
            padding-left: 28px;
            padding-top: 20px;
            padding-right: 50px;
            letter-spacing: -2px;

            margin-bottom: 5px;

            width: 100%;
            height: 108px;
            border-bottom: 1px solid black;

            @include responsive(large-screens) {
                padding-top: 25px;
                font-size: 40px;
                font-family: $font-medium;
            }
        }

        .gray_box {
            width: 100%;
            height: 6px;
            background-color: gray;
        }

        .news_main {

            h3 {
                font-size: 24px;
                font-family: $font-pre-regular;
                padding-top: 30px;
                padding-left: 25px;
                padding-right: 50px;
                letter-spacing: -2px;

                margin-bottom: 25px;

                @include responsive(large-screens) {
                    padding-top: 60px;
                    font-size: 28px;
                    margin-bottom: 60px;

                }
            }
            .news_img {
                display: flex;
                justify-content: space-around;
                
                img {
                    width: 30%;
                    height: auto;
                }

                @include responsive(large-screens) {

                    justify-content: space-evenly;

                    img {
                        width: 30%;
                        height: auto;
                    }
                }
            }

            .sub_info_box {
                
                .sub_info {
    
                    font-size: 16px;
                    font-family: $font-pre-regular;
                    color: #110f44;
                    margin: 15px 0 15px 28px;
                    padding-right: 50px;
                    letter-spacing: 0px;
                    line-height: 1.3;
                }

                @include responsive(large-screens) {
                    display: flex;

                    justify-content: center;
                    margin: 42px 0;

                    font-size: 28px;
                    font-family: $font-pre-regular; 
                    
                    .sub_info {
                        padding: 0;
                        margin: 0;
                        font-size: 24px;
                        letter-spacing: 0px;
                    }
                }
            }

            .top_line {
                width: 90%;
                height: 1px;
                border: 1px solid black;
                margin: 0 auto 33px;

                @include responsive(large-screens) {
                    width: 94%;
                    margin: 0 auto 72px;
                }
            }


            p {
                font-size: 16px;
                font-family: $font-pre-regular;
                line-height: 1.2;

                padding-left: 15px;
                padding-right: 20px;
                
                margin-bottom: 40px;
                margin-top: 40px;
                
                &:first-of-type {
                    margin-bottom: 10px;
                }

                &:nth-of-type(3) {
                    margin-top: 10px;
                }
                
                &:nth-of-type(5) {
                    margin-top: 10px;
                }

                &:last-of-type {
                    margin: 0px;
                }

                @include responsive(large-screens) {
                    padding-left: 42px;
                    padding-right: 25px;
                    font-size: 22px;
                    &:first-of-type {
                        margin-top: 60px;
                    }
                }
            }
            small {
                padding-left: 0px;
                font-size: 12px;

                @include responsive(large-screens) {
                    font-size: 16px;
                    padding-left: 0px;

                }
            }
            h4 {
                font-size: 18px;
                font-family: $font-pre-regular;
                color: blue;
                padding-left: 15px;
                padding-right: 15px;
                @include responsive(large-screens) {
                    padding-left: 42px;
                    padding-right: 25px;
                    font-size: 22px;
                }
            }

            .bot_line {
                width: 92%;
                margin: 30px auto 33px;

                @include responsive(large-screens) {
                    width: 94%;
                    margin: 70px auto 110px;
                }
            }
        }
    }

    .list_box {
        position: relative;
        display: flex;
        justify-content: space-between;

        width: 50%;
        margin: 0 auto;

        img {
            position: absolute;
            top: 0px; left: -30%;
            width: 36px; height: 36px;

            &:last-of-type {
                position: absolute;
                top: 0; left: 103%;
                rotate: -180deg;
            }
        }

        .list {
            width: 80px;
            height: 35px;

            border: 1px solid;

            background-color: #2f2411;

            line-height: 35px;
            text-align: center;

            border-radius: 15px;
            margin: auto;

            a {
                font-size: 16px;
                font-family: $font-pre-regular;
                color: white;
            }
        }

        @include responsive(large-screens) {
            margin: 140px auto;

            img {
                position: absolute;
                top: 5px; left: 0;
                width: 56px; height: 56px;
    
                &:last-of-type {
                    position: absolute;
                    top: 5px; left: 90%;
                    rotate: -180deg;
                }
            }
            .list {
                width: 218px;
                height: 65px;
                line-height: 65px;

    
                a {
                    font-size: 24px;
                }
            }
        }
    }
}