@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}

// ==== title ====
.title-tag-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .remaining {
        display: flex;
        align-items: center;

        img {
            width: 28px;
            height: 28px;
        }
    }
}  // title-tag-btn

.place-period {
    display: flex;
    p {
        margin-right: 16px;
    }
}

// ==== booking-btn ====
.booking-btn {
    position: absolute;
    bottom: 0; right: 0;
}