@charset "UTF-8";


/*공지사항 상세*/
.board_view{}
.board_view .tbl_tit{
    font-weight: 500;
    font-size: 1.250em;
    text-align: center;
    line-height: 1;
    padding-bottom: 13px;
    border-bottom: 1px solid #b6b6ae;
}
.board_view .tbl_info{
    overflow: hidden;
    padding: 40px 0 20px;
    border-bottom: 2px solid #000000;
}
.board_view .tbl_info .date{
    font-size: 0.875em;
    display: inline-block;
    margin-right: 15px;
    float: left;
}
.board_view .tbl_info .tit{
    font-size: 0.875em;
    display: inline-block;
    margin-right: 15px;
    float: left;
}
.board_view .tbl_info .view{
    float: right; font-size: 0.875em;
}
.view_con{}
.view_con .tit{
    font-size: 1.5em;
    font-weight: 500;
}
.view_con .cont{
    margin-top: 17px;
}
.view_con .cont > p{
    font-size: 1.125em;
    margin-top: 10px;
    font-weight: 300;
}
.view_con .cont > p:first-child{
    margin-top: 0;
}
    

.tbl_file{border-bottom: 1px solid #000;padding: 19px 0px 19px 27px;}
.tbl_file > p > em{
    display: inline-block; vertical-align: middle;
    color: #000;
    padding: 0; margin-right: 5px; font-weight: 400;
}
.tbl_file > p a{
    display: inline-block; vertical-align: middle;
    width: calc(100% - 120px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.tbl_file > p > em:before{
    content: '';
    display: inline-block;
    vertical-align: text-top;
    background: url(/_static/Royal/img/sub/is_ico.png) no-repeat left center;
    width: 22px;
    height: 25px;
    padding-right: 8px;
}


.pagination.paging_mobile{display:none;}
.hide{position: absolute; left: -9999px; overflow: hidden; width: 1px; height: 1px; line-height: 1px; font-size: 1px; text-indent: -9999em;}

/*공지사항*/
.sch_bar_box {padding-bottom: 22px;}
.sch_bar_box .total_txt {position: relative; float:left; font-size:0.875em; color: #000000; margin-top: 22px; padding-left: 0;}
.sch_bar_box .total_txt.only{margin-top: 0; font-weight: 400;}
.sch_bar_box .total_txt > span:nth-child(2) {position: relative;margin-left: 16px;}
.sch_bar_box .total_txt > span:nth-child(2):after{
 content: '/';
 width: 1px;
 height: 16px;
 position: absolute;
 left: -12px;
 top: 50%;
 transform: translate(0,-50%);
 -webkit-transform: translate(0,-50%);
 }
.sch_bar_box .total_txt .total .num {/* color: #000000; *//* position: relative; *//* font-weight: 500; */}
.sch_bar_box .total_txt .count_num em{/* font-weight: 500; *//* color: #000; */} 
.sch_bar_box .total_txt .total_num{font-weight: 500; color: #000;}
.sch_bar_box .sch_bar {float:right;/*margin-top: 7px;*/margin-right: 2px;position: relative;}
.sch_bar_box .sch_bar.left{float:left;}
.sch_bar_box .sch_bar:after {content:""; display:block; width:0; height:0; clear:both;}

.skin2 select {background:#fff url(/_static/Royal/img/sub/select_arrow.png) no-repeat center right 10px; border-radius: 0px;-webkit-appearance: none;-moz-appearance: none; appearance: none; }
.skin2 .sch_label {float:left; height:40px; line-height:38px; margin-right:5px;}
.skin2 .sch_slt {float:left;width: 136px;height: 40px;padding: 0 30px 0 20px;border: 0;border-bottom: 3px solid #000; vertical-align: middle; color: #000; font-size: 0.875em;}
.skin2 .sch_input {float:left;width: 306px;height: 40px;padding: 0 30px 0 12px;border: 0;border-bottom: 3px solid #000;color: #b6b6ae;font-size: 0.875em;}
.skin2 .sch_btn{
    width: 15px;
    height: 15px;
    background: url(/_static/Royal/img/sub/brd_search.png) no-repeat center;
    position: absolute;
    right: 16px;
    top: 11px;
}
.ico{
    display: block;
    position: absolute;
    left: -9999px;
    text-indent: 9999px;
    width: 0;
    height: 0;
    border: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}
.skin2 select.sch_slt::-ms-expand {display:none}
/*공지사항*/
.sch_bar_area{float: right; overflow: hidden;}
.sch_bar_area .sch_bar{float: left;margin-left: 36px; margin-right: 0;}
.frm_area{float: left;}


/*내스케줄*/
.skin2 .mail_btn{
    width: 19px;
    height: 19px;
    background: url(/_static/Royal/img/sub/brd_mail.png) no-repeat center;
    position: absolute;
    right: 15px;
    top: 10px;
}
.schedule_area{
    border: 1px solid #000000;
    border-width: 1px 0;
}
.schedule_area tbody{}
.schedule_area tbody td{
    border: 1px solid #b6b6ae;
    border-width: 1px 1px 0 0;
    height: 125px;
}
.schedule_area tbody td.num{
    text-align: center;
}
.schedule_area tbody td.menu{
    font-weight: 500;
    text-align: center;
}
.schedule_area tbody td.info{
    /* padding: 0 0 0 45px; */
    overflow: hidden;
}
.schedule_area tbody td.info > div{
    float: left;
    width: 25.95%;
    border-right: 1px solid #b6b6ae;
    /* margin-left: 4%; */
    height: 66px;
    padding: 7px 26px;
}
.schedule_area tbody td.info > div:first-child{
    margin-left: 0;
}
.schedule_area tbody td.info > div:nth-child(3){width: 20%;}
.schedule_area tbody td.info > div:last-child{border-right: 0;padding: 18px 0;width: 20%;}
.schedule_area tbody td.info > div .kind{
    color: #888888;
    font-size: 1.125rem;
    /* line-height: 1; */
    margin-bottom: 7px;
}
.schedule_area tbody td.info > div .tit{
    font-size: 1.125rem;
    font-weight: 500;
    /* line-height: 1; */
}
.schedule_area tbody td.info > div .tit a{display: block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    word-break:keep-all;

}
.schedule_area tbody td.info > div .date{
    font-weight: 300;
}
.schedule_area tbody td.info > div > div > span{
    font-weight: 500;
}
.schedule_area tbody td.info > div .address{margin-top: 7px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;word-break:keep-all;}
.schedule_area tbody td.info > div .time{}
.schedule_area tbody td.info > div .num{margin-top: 7px;}
.schedule_area tbody td:last-child{border-right: 0;}

.schedule_area tbody .state{text-align: center;}
.schedule_area tbody .state > .cont{
    width: 92px;
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    border-radius: 3px;
    margin-right: 22%;
}
.schedule_area tbody .state > .cont.ing{
    background: #fcaf17;
}
.schedule_area tbody .state > .cont.expect{
    background: #55be8c;
}
.schedule_area tbody .state > .cont.end{
    background: #b7b6ae;
}


/*공지사항 목록*/
.board_list {width:100%;text-align:center;border-collapse:collapse;table-layout:fixed;border-top: 2px solid #000;}
.board_list thead {border-bottom: 1px solid #000000;}
.board_list thead tr th {font-weight: 500;height: 64px;}
.board_list tbody tr {border-bottom:1px solid #b6b6ae; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s;} 
.board_list td.tit a{text-align: left; display: block;}
.board_list td.tit a > img{margin-right: 3px;
    margin-top: -3px;
}
.board_list tbody tr.on td{color: #fcaf17;}
.board_list tbody tr.on td a{color: #fcaf17;}
.board_list th, .board_list td {padding:5px 9px;height: 60px;color: #000;}
.board_list td.date, .board_list td.read_cnt{color: #b6b6ae;}
/*공지사항 목록*/

/*썸네일 탭*/
.brd_data_cho{position: relative; padding: 28px 45px; background: #efefef; margin-bottom: 37px;}
.brd_data_cho .data_slide{}
.brd_data_cho .data_slide > div a{
    display: block;
    color: #888888;
    font-weight: 300;
    font-size: 1.188em;
    text-align: center;
    position: relative;
}
.brd_data_cho .data_slide > div a:before{
    content:'';
    display: block;
    background: #888888;
    border-radius: 4px;
    width: 4px;
    height: 4px;
    position: absolute; right: -4px; top: 50%;
    transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.brd_data_cho .data_slide > div .owl-item:last-child a:before{display: none;}
.brd_data_cho .data_slide > div a.on{color: #000000; font-weight: 600;}
.brd_data_cho .data_slide .owl-nav{
    position: absolute;
    width: 100%;
    top: -2px;
    left: 0;
}
.brd_data_cho .data_slide .owl-nav .owl-prev{
    position: absolute;
    top: 0;
    left: -16px;
    background: url(/_static/Royal/img/sub/data_prev_arrow.png) no-repeat center;
    width: 16px;
    height: 27px;
}
.brd_data_cho .data_slide .owl-nav .owl-next{
    position: absolute;
    top: 0;
    right: -16px;
    background: url(/_static/Royal/img/sub/data_next_arrow.png) no-repeat center;
    width: 16px;
    height: 27px;
}
.owl-nav span{
    display: block;
    position: absolute;
    left: -9999px;
    text-indent: 9999px;
    width: 0;
    height: 0;
    border: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}

/*썸네일 게시판*/
.board_tab{
    overflow: hidden;
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;
}
.board_tab > div{
    float: left;
    background: #efefef;
}
.board_tab > div > a{
    color: #888888;
    font-weight: 500;
    width: 92px;
    display: block;
    text-align: center;
    height: 52px;
    line-height: 52px;
    position: relative;
}
/* .board_tab > div > a:after{
    content: '';
    display: block;
    height: 26px;
    width: 1px;
    background: #888888;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */
.board_tab > div:last-child > a:after{display: none;}
.board_tab > div.tab_click > a{
    /* color: #000; */
    color: #fff;
    background: #555555;
}

.board_cont{ border-bottom: 1px solid #dedede; padding: 30px 0 0; border-top:2px solid #000;}

.picture_list{overflow: hidden;}
.picture_list li {float:left;width: 31.43%;
    margin-right: 2.85%; -webkit-transition: all 0.3; transition: all 0.3s;}
.picture_list li:nth-child(3n){margin-right:0;}
.picture_list li:nth-child(-n+3){margin-top: 0;}

.picture_list li .img_area > a{width:100%; position:relative; padding-top:66.59%; display: block;}
.picture_list li .img_area img {position:absolute; top:0; left:0; width:100%; height:100%;}
.picture_list li .date{
    margin-top: 9px;
}
.picture_list li .txt_area{padding: 18px 0 65px;}
.picture_list li .txt_area .tit {display:block;font-size: 1.125em;font-weight: 500;}
.picture_list li .txt_area .date > span{font-size: 0.875em;font-weight: 300;}
.picture_list li .txt_area .date > span:first-child{}



/*페이징*/
.pagination {padding-top: 27px; text-align: center;}
.pagination a {display: inline-block;width: 27px;height: 27px;line-height: 25px;margin: 0px 2px;/* color:#343434; */font-size:16px;/* border-radius: 50%; */text-align:center;vertical-align: middle;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;border: 1px solid #d7d7d4;border-radius: 50%;font-size: 0.875em;}
.pagination a.active{color: #fff;}
.pagination .page_arrow {padding:10px;border: 1px solid #d9d9d9;}
.pagination .page_arrow img {display: none; margin: 0 auto; margin-top: 3px;}
.pagination .page_arrow.l1 {margin-right:4px;}
.pagination .page_arrow.r1 {margin-left:4px;}
.pagination span a.active {background: #252525;border: 1px solid #252525;}
.pagination span a:hover, .pagination span a:focus{background: #000000;color: #fff;}
.pagination span a.active:hover, .pagination span a.active:focus{background:#1e1e1e; border:1px solid #1e1e1e; }
.pagination a.l2 {background:url(/_static/Royal/img/sub/nnext_page.png) center center no-repeat;}
.pagination a.l1 {background:url(/_static/Royal/img/sub/next_page.png) center center no-repeat;}
.pagination a.r1 {background:url(/_static/Royal/img/sub/prev_page.png) center center no-repeat;} 
.pagination a.r2 {background:url(/_static/Royal/img/sub/pprev_page.png) center center no-repeat;}
.pagination a.l2:hover {background: #1e1e1e url(/_static/Royal/img/sub/nnext_page_on.png) center center no-repeat;}
.pagination a.l1:hover {background: #1e1e1e url(/_static/Royal/img/sub/next_page_on.png) center center no-repeat;} 
.pagination a.r1:hover {background: #1e1e1e url(/_static/Royal/img/sub/prev_page_on.png) center center no-repeat;} 
.pagination a.r2:hover {background: #1e1e1e url(/_static/Royal/img/sub/pprev_page_on.png) center center no-repeat;}


/*프로그램 안내 상단 검색*/
.tbl_search{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 2px solid #000;
}
.tbl_search + .tbl_search{
    display: none;
    border-top: 0;
}

.tbl_search th, .tbl_search td{
    padding: 5px 9px;
    height: 60px;
    color: #000;
}
.tbl_search td{border-left: 1px solid #000;padding: 5px 44px;}
.tbl_search tbody tr{
    border-bottom: 1px solid #000000;
}
.tbl_detail_search{}
.tbl_detail_search th, .tbl_detail_search td{}

.detail{}
.detail .sch_bar{
    position: relative;
    overflow: hidden;
    /* width: calc(100% - 169px); */
    width: 100%;
    margin-right: 27px;
    float: left;
}
.detail .sch_bar .sch_slt{
    float: left;
    width: 168px;
    height: 35px;
    padding: 0 40px 0 24px;
    border: 0;
    border-bottom: 1px solid #b7b6ae;
    vertical-align: middle;
    color: #000;
    background: #fff url(/_static/Royal/img/sub/select_arrow.png) no-repeat center right 26px;
    /* border-radius: 0px; */
    -webkit-appearance: none;
    appearance: none;
    margin-right: 40px;
}
.detail.slt2 .sch_bar .sch_slt{width: 100%;}

.detail .sch_bar .sch_input{
    float: left;
    width: calc(100% - 208px);
    height: 35px;
    padding: 0 30px 0 12px;
    border: 0;
    border-bottom: 1px solid #b7b6ae;
    color: #b6b6ae;
}
.detail .sch_bar .sch_btn{
    width: 15px;
    height: 15px;
    background: url(/_static/Royal/img/sub/brd_search.png) no-repeat center;
    position: absolute;
    right: 19px;
    top: 8px;
}

.detail_btn{
    float: left;
    width: 142px;
    height: 35px;
    border: 0;
    border: 1px solid #b7b6ae;
    color: #000000;
    text-align: center; /*padding-bottom: 4px;*/
}

/*진행시간*/
.prg_date{}
.prg_date > span{}
.prg_date .sch_bar{}


.detail.slt2 > span{
    float: left;
    width: 40px;
    margin-top: 5px;
}
.detail.slt2 .sch_bar{
    width: 168px;
    margin: 0;
}

.detail.only{}
.detail.only .sch_bar{
    margin: 0;
    float: none;
    width: 375px;
}
.detail.only .sch_bar .sch_input{
    width: 100%;
}




/*일정별 하단 썸네일*/
.thumnail_area{overflow: hidden; margin-top: 46px;}
.thumnail_area:first-child{margin-top: 0;}
.thumnail_area .thumnail_tit{
    border: 1px solid #b7b6ae;
    border-width: 1px 0;
    text-align: center;
    height: 52px;
    line-height: 50px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 23px;
}
/* .thumnail_area > div .thumnail_list{
    float: left;
    width: 440px;
    margin-right: 40px;
    margin-top: 40px;
} */

/* .thumnail_area > div .thumnail_list:nth-child(3n){margin-right: 0;}
.thumnail_area > div .thumnail_list:nth-child(-n+3){margin-top: 0;} */
.thumnail_area .thumnail_slide{margin: 0 -20px;}
.thumnail_area .thumnail_slide .slick-arrow{
    z-index: 1; background-size: 100% !important;
}
.thumnail_area .thumnail_slide .slick-arrow.slick-prev{
    width: 50px; height: 50px;
    background: url(/_static/Royal/img/sub/program_left.png) no-repeat center;
    left:30px;
}
.thumnail_area .thumnail_slide .slick-arrow.slick-prev.slick-disabled{opacity: 0.5; }
.thumnail_area .thumnail_slide .slick-arrow.slick-next{
    width: 50px; height: 50px;
    background: url(/_static/Royal/img/sub/program_right.png) no-repeat center;
    left: auto;
    right: 30px;
}
.thumnail_area .thumnail_slide .slick-arrow.slick-next.slick-disabled{opacity: 0.5; }

.thumnail_area > div .thumnail_list > div > a{display: block; margin: 0 20px;}
.thumnail_area > div .thumnail_list > div > a span{display: block;position: relative; width: 100%; padding-top: 60.45%;}

.thumnail_area > div .thumnail_list > div > a span img{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.thumnail_area > div .thumnail_list > div .cont{
    color: #fff;
    padding: 15px; margin: 0 20px;
}
.thumnail_area > div .thumnail_list > div .cont.ing{background: #fcaf17; }
.thumnail_area > div .thumnail_list > div .cont.expect{background: #55be8c; }
.thumnail_area > div .thumnail_list > div .cont.end{background: #b7b6ae; }

.thumnail_area > div .thumnail_list > div .cont .cont_top{position: relative;}
.thumnail_area > div .thumnail_list > div .cont .cont_top > a{
    color: #fff;
    font-weight: 500;
    /* float: left; */
    font-size: 1.375em;
    display: block;
    padding-right: 78px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    word-break:keep-all;
}
.thumnail_area > div .thumnail_list > div .cont .cont_top > span{
    /* float: right; */
    border: 1px solid #fff;
    border-radius: 30px;
    width: 76px;
    height: 28px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.thumnail_area > div .thumnail_list.type02 > div .cont{
    color: #000;
}
.thumnail_area > div .thumnail_list.type02 > div .cont .cont_top > a{color: #000;}
.thumnail_area > div .thumnail_list.type02 > div .cont .cont_top > span{border-color: #000; color: #000;}

.thumnail_area > div .thumnail_list > div .cont .cont_date{}
.thumnail_area > div .thumnail_list > div .cont .cont_date p{
    margin-top: 9px;
}
.thumnail_area > div .thumnail_list > div .cont .age{
    /* padding-bottom: 35px; */
    /* border-bottom: 1px solid #000000; */
}
.thumnail_area > div .thumnail_list > div .cont .age span{
    margin-top: 9px;
    display: block;
}
.thumnail_area > div .thumnail_list > div .cont .age span:before{
    content:'';
    display: inline-block;
    background: url(/_static/Royal/img/sub/program_icon_withe.png);
    width: 22px;
    height: 20px;
    vertical-align: middle;
    margin-right: 7px;
}

.thumnail_area > div .thumnail_list.type02 > div .cont .age span:before{
    background: url(/_static/Royal/img/sub/program_icon_black.png);
}
.thumnail_area > div .thumnail_list > div .cont strong{
    display: block;
    margin-top: 14px;
    font-weight: 500;
    font-size: 1.250em;
    line-height: 1;
}
.thumnail_area > div .thumnail_list.white > div .cont{color: #000;background: #fff !important;border-bottom: 1px solid #000000;padding: 15px 15px 30px;}
.thumnail_area > div .thumnail_list.white > div .cont .cont_top > a{color: #000;}
.thumnail_area > div .thumnail_list.white > div .cont .cont_top > span{border-color: #000; color: #000;}
.thumnail_area > div .thumnail_list.white > div .cont.end{}
.thumnail_area > div .thumnail_list.white > div .cont .age span:before{
    background: url(/_static/Royal/img/sub/program_icon_black.png);
}

/*input type*/
.tbl_com_wrap{overflow: hidden;}
.tbl_com_wrap .tbl_ipt{
    float: left;
}
.tbl_com_wrap.typeAuto .tbl_ipt{
    margin-right: 5.5%;
}
.tbl_com_wrap.typeAuto .tbl_ipt:last-child{margin-right: 0;}
.tbl_com_wrap.typeAuto .tbl_ipt:nth-child(-n+3){
    width: auto;
}
.tbl_com_wrap .tbl_ipt:nth-child(-n+3){
    margin-top: 0;
    width: 33%;
}
.txt_ipt{ overflow: hidden; margin-top: 17px;}
.tbl_ipt{ position: relative; }
.tbl_ipt.fR{float: right;}
.txt_ipt > p{float: left;}
.txt_ipt > .tbl_p{float: right; width: 220px; text-align: right;}
.txt_ipt > .tbl_p .tbl_ipt{display: inline-block; margin-left: 5%; }
.txt_ipt > .tbl_p .tbl_ipt:first-child{margin-left: 0;}
.tbl_ipt:first-child{margin-top: 0;}
.tbl_ipt input[type=radio] { width: 18px; height: 20px; background: none; -webkit-appearance: none; position: absolute; border: 0; left: 0; top: 1px; }
.tbl_ipt input[type=radio] + label {display: inline-block; cursor: pointer; position: relative; border-radius: 50%; padding-left: 25px; /*font-weight: 300;*/ vertical-align: top; }
.tbl_ipt input[type=radio] + label:before {content: ""; display: inline-block; width: 16px; height: 16px; border-radius: 50%; position: absolute; top: 2px; left: 0; border: 1px solid #777777; background: #ffffff;}
.tbl_ipt input[type=radio]:checked{width: 20px; height: 20px; left: -1px; border: 0 none; z-index: 0;}
.tbl_ipt input[type=radio]:checked + label:before {content: ""; display: inline-block; background: transparent url(/_static/Royal/img/sub/ipt_bg.png) center center no-repeat; } 

/*tbl check*/
.tbl_ipt input[type=checkbox] {width: 19px;height: 19px;background: none;-webkit-appearance: none;position: absolute;border: 0;left: 1px;top: 50%;transform: translate(0, -50%);-webkit-transform: translate(0, -50%);}
.tbl_ipt input[type=checkbox] + label {display: inline-block; cursor: pointer; position: relative; border-radius: 50%; padding-left:25px; /*font-weight: 300;*/ vertical-align: top;} 
.tbl_ipt input[type=checkbox] + label > span{display: block;}
.tbl_ipt input[type=checkbox] + label:before {content: "";display: inline-block;width: 16px;height: 16px;position: absolute;top: 50%;left: 1px;border: 1px solid #b7b6ae; background: #ffffff;transform: translate(0,-50%);-webkit-transform: translate(0,-50%);}
.tbl_ipt input[type=checkbox]:checked{width: 20px; height: 20px; left: 0; border: 0 none; z-index: 0;}
.tbl_ipt input[type=checkbox]:checked + label:before {content: ""; display: inline-block; background: transparent url(/_static/Royal/img/sub/chk_bg.png) center center no-repeat; } 


/*인풋*/
.brd_input{
    border: 1px solid #cccccc;
    height: 32px;
    width: 100%;
    background: #ffffff;
    padding: 0 5px;
}
.required:after{
    content: '*';
    display: inline-block;
    vertical-align: baseline;
    margin-left: 7px;
    color: #c72535;
}

.board_em{
    text-align: right;
    margin-bottom: 15px;
}
.board_em > em{
    font-size: 0.875em;
    color: #c72535;
}

.view_con{
    padding: 15px 25px;
    border-bottom: 1px solid #000;
    overflow: hidden;
    min-height: 270px;
}
.view_con.long{min-height: 425px;}
.view_con textarea{
    border-color: #b7b6ae;
    font-size: 1em;
    text-align: left;
    color: #000;
    font: initial;
    width: 100%;
    padding: 15px;
}

/*프로그램 테이블*/
.brd_fixed_col {width:100%;text-align:center;border-collapse:collapse;table-layout:fixed;margin-top:14px;border-top: 2px solid #000000;text-indent: 0;}
.brd_fixed_col th, .brd_fixed_col td {padding:5px;}
.brd_fixed_col th {border: 1px solid #b7b6ae;border-width: 0 1px 1px 0; }
.brd_fixed_col thead tr:first-child th:last-child{border-right: 0;}
.brd_fixed_col thead th {background: #e8e2d6;font-weight: 500;}
.brd_fixed_col thead th:last-child{border-right: 0;}
.brd_fixed_col tbody td:last-child{border-right: 0;}
.brd_fixed_col tbody td.brd_right{border-right: 1px solid #b7b6ae;}
.brd_fixed_col tbody th {border: 1px solid #b7b6ae;border-width: 0 1px 1px 0;background: #efefef;font-weight: 500;}
.brd_fixed_col tbody th.frt_th{background: #efefef;}
.brd_fixed_col tbody th:last-child{border-right: 0;}
.brd_fixed_col td{border: 1px solid #b7b6ae;border-width: 0 1px 1px 0;word-break: break-all;}

.brd_fixed_col td p > em{display: inline-block; vertical-align: top; padding-left: 0;} 
.brd_fixed_col td p > em a{display: block;}

p.only{font-weight: 300;
    padding-left: 20px;
    text-indent: -20px;
}
p > em{color: #c2182d;font-weight: 300;padding-left: 21px;position: relative;/* text-indent: 21px; */display: block;}
p > em a{color: #c2182d; font-weight: 300; display: block;}
p > em.alert:before{
    content:'';
    display: inline-block;
    background: url(/_static/Royal/img/sub/tip.png) no-repeat center;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 2px;
}


@media all and (max-width:1200px){

    .thumnail_area > div .thumnail_list > div .cont .cont_top > a{font-size: 1.250em;}
    
    .thumnail_area > div .thumnail_list > div .cont strong{font-size: 1.125em;}
}

@media all and (max-width:1024px){
   
    .brd_data_cho{padding: 18px 35px;}
    .thumnail_area > div .thumnail_list > div .cont .cont_top > a{font-size: 1.125em;}
    .thumnail_area > div .thumnail_list > div .cont strong{font-size: 1.063em;}
    .thumnail_area > div .thumnail_list > div .cont .cont_top > span{
        width: 66px;
        height: 24px;
        line-height: 21px;
    }

    /*프로그램*/
    .brd_data_cho .data_slide > div a{font-size: 1.125em; font-weight: 500;}
    .thumnail_area{margin-top: 36px;}
    .thumnail_area .thumnail_slide{margin: 0 -10px;}
    .thumnail_area > div .thumnail_list > div > a{margin: 0 10px;}
    .thumnail_area > div .thumnail_list > div .cont{margin: 0 10px;}
    .thumnail_area .thumnail_slide .slick-arrow.slick-prev{left: 20px;}
    .thumnail_area .thumnail_slide .slick-arrow.slick-next{right: 20px;}


    /*스케쥴*/
    .schedule_area, .schedule_area tbody, .schedule_area tr, .schedule_area tbody td{display: block; text-align: left; height: auto;}
    .schedule_area tbody tr{border-top: 1px solid #b6b6ae;padding: 0 10px;}
    .schedule_area tbody tr:first-child{border-top: 0;}
    .schedule_area tbody td{border-width: 0;padding: 0 0;}
    .schedule_area tbody td.num{text-align: left; height: 50px; line-height: 50px;}
    .schedule_area tbody td.menu{text-align: left; /*height: 40px; line-height: 40px;*/}
    .schedule_area tbody td.info{
        padding: 12px 10px;
        position: relative;
        border-top: 1px solid #ddd;
        margin-top: 10px;
    }
    .schedule_area tbody td.info > div{float: none; width: 100%; height: auto; padding: 0; border-right: 0; margin-top: 7px;}
    .schedule_area tbody td.info > div:first-child{margin-top: 0; padding-right: 40px;}
    .schedule_area tbody td.info > div:nth-child(3){width: 100%; border-right: 0;}
    /* .schedule_area tbody td.info > div:last-child{width: 100%;} */
    .schedule_area tbody td.info > div.state{
        position: absolute;
        top: 13px;
        right: 0;
        padding: 0;
        margin-top: 0;
        width: auto;
        height: 100%;
    }
    .schedule_area tbody .state > .cont{margin-right: 0; width: 50px;}
    .schedule_area tbody td.info > div.state .btn_state{display: block;margin: 5px auto 0;position: absolute;bottom: 24px;right: 11px;}
}

@media all and (max-width:860px){

    /*프로그램*/
    .tbl_search th{height: 40px; line-height: 38px; padding: 0 9px; border-bottom: 1px solid #000;}
    .tbl_search, .tbl_search tbody, .tbl_search tr, .tbl_search th, .tbl_search td{display: block;}
    .tbl_search td{height: auto; padding: 5px 15px; border-left: 0;}

    .tbl_com_wrap{line-height: 38px; max-width: 345px; margin: 0 auto;}    
    
    .detail.slt2 .sch_bar{width: 47.3%; float: left;}
    .detail.slt2 .sch_bar .sch_slt{width: 100%; margin-right: 0;}
    .detail.slt2 .sch_bar .sch_input{width: calc(100% - 32.4%);}
    .detail.slt2 > span{width: 5.3%;}
    .detail.slt2 .sch_bar:last-child .sch_slt{margin-right: 0;}
    .detail.only .sch_bar{width: 100%;}
    /* .detail .sch_bar .sch_slt{margin-right: 30px;}
    .detail .sch_bar .sch_input{width: calc(100% - 168px);} */

    .thumnail_area .thumnail_tit{height: 40px; line-height: 38px; font-size: 1.250em;}

    /*게시판*/
    .sch_bar_box{/*padding-bottom: 11px;*/ padding-bottom: 0;}
    .sch_bar_box .total_txt{float: none; margin-top: 0;}
    .sch_bar_box .sch_bar{
        float: none;
        margin-right: 0;
        margin-top: 10px;
    }
    .board_list{text-align: left; /*border-top: 1px solid #b6b6ae;*/ border-top: 0;}
    .board_list, .board_list tbody, .board_list tr, .board_list td{display: block; width: 100%;}
    .board_list tbody tr{ padding: 10px 5px;}
    .board_list tbody td{height: 100%; padding: 2px 5px;}
    .board_list thead{display: none;}
    .board_list td.view{display: none;}
    .board_list td.read_cnt{display: none;}
    .skin2 .sch_input{width: calc(100% - 136px);}
    .board_list td.tit a{font-weight: 500;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        word-break:keep-all;
    }


    .sch_bar_area{float: none; margin-top: 5px;}
    .sch_bar_area .sch_bar{}
    .skin2 .sch_bar_area .sch_bar{margin: 0;}
    .skin2 .sch_bar_area > .sch_bar{margin-top: 5px;}
    .skin2 .sch_bar_area > .sch_bar .sch_input{width: 100%;}
    .skin2 .frm_area{float: none; overflow: hidden;}
    .skin2 .frm_area > .sch_bar{float: left; width: 63%; margin-left: 2%;}
    .skin2 .frm_area .sch_slt{width: 35%;}
    .skin2 .frm_area > .sch_bar .sch_input{width: 100%;}
    
    
    /*아카이브*/
    .picture_list li{float: left; width: 48.57%;}
    .picture_list li:nth-child(3n){margin-right: 2.85%;}
    .picture_list li:nth-child(2n){margin-right: 0;}

    
    .schedule_area{border-top: 0;}
    .brd_data_cho{margin-bottom: 27px;}
}

@media all and (max-width:767px){
    .pagination.paging_pc{display:none;}
    .pagination.paging_mobile{display:block;}
 

}

@media all and (max-width:640px){
    
    .detail .sch_bar{width: 100%; float: none;}
    .detail_btn{float: none; width: 100%; margin-top: 5px;}
    .detail .sch_bar .sch_slt{width: 138px; }
    .detail .sch_bar .sch_input{width: calc(100% - 178px);}
}

@media all and (max-width:580px){

    .detail .sch_bar .sch_slt{padding: 0 20px 0 14px; 
        background-position: center right 10px; margin-right: 6.3%;
        width: 110px;
    }
    .detail .sch_bar .sch_input{width: calc(100% - 143px);}
    .detail .sch_bar .sch_btn{right: 15px;}

    .brd_fixed_col th, .brd_fixed_col td{font-size: 0.938rem;}

    .tbl_search td{padding: 5px 10px;}

    p.only{font-size: 0.875rem;
        padding-left: 17px;
        text-indent: -17px;
    }
    p.only.hypen{
        padding-left: 7px;
        text-indent: -7px;
    }

    p > em{font-size: 0.875em;}
    p > em.alert:before{top: 1px;}

    .thumnail_area .thumnail_tit{font-size: 1.125em;}
    .thumnail_area .thumnail_slide{margin: 0 -5px;}
    .thumnail_area > div .thumnail_list > div > a{margin: 0 5px;}
    .thumnail_area > div .thumnail_list > div .cont{margin: 0 5px; padding: 10px;}
    .thumnail_area > div .thumnail_list > div .cont .age span{font-size: 0.875em; margin-top: 7px;}
    .thumnail_area .thumnail_slide .slick-arrow.slick-prev{width: 25px; height: 25px; left: 10px;}
    .thumnail_area .thumnail_slide .slick-arrow.slick-next{width: 25px; height: 25px; right: 10px;}
    .thumnail_area > div .thumnail_list > div .cont .age span:before{background-size: 100%; width: 11px; height: 10px;}
    .thumnail_area > div .thumnail_list.type02 > div .cont .age span:before{background-size: 100%; width: 11px; height: 10px;}
    .thumnail_area > div .thumnail_list > div .cont .cont_top > span{font-size: 0.875em; width: 45px;}

    .brd_data_cho{margin-bottom: 27px; padding: 12px 20px;}
    .brd_data_cho .data_slide > div a{font-size: 1em;}
    .brd_data_cho .data_slide .owl-nav .owl-prev{background-size: 100%; width: 8px; left: -10px;}
    .brd_data_cho .data_slide .owl-nav .owl-next{background-size: 100%; width: 8px; right: -10px;}

    .thumnail_area{margin-top: 26px;}
    .thumnail_area .thumnail_tit{margin-bottom: 15px;}

    /*체크박스*/
    .tbl_com_wrap .tbl_ipt{font-size: 0.875em;}


    /*게시판*/
    .board_list tbody td{font-size: 0.938em;}
    .board_cont{padding: 20px 0 0;}
    .board_tab{margin-bottom: 20px;}
    .board_tab > div > a{
        width: 72px;
        height: 32px;
        line-height: 32px;
        font-size: 0.875em;
    }

    .board_view .tbl_tit{font-size: 1.125em;}
    .board_view .tbl_info{padding: 20px 0 10px;}

    /*아카이브*/
    .picture_list li .txt_area{padding: 12px 0 27px;}
    .picture_list li .date{margin-top: 7px;}
    .picture_list li .txt_area .tit{
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        word-break:keep-all;
    }

    .picture_list li .txt_area .date > span{display: block; margin-top: 3px;}
    .picture_list li .txt_area .date > span:first-child{margin-top: 0;}


    /*스케쥴*/
    .schedule_area tbody td.num{height: 40px; line-height: 40px;}
    .schedule_area tbody td.info > div{font-size: 0.938em;}
    .schedule_area tbody td.info > div .tit{font-size: 1rem;}
    .schedule_area tbody td.info > div .kind{font-size: 1rem;}
    .tbl_file{padding: 10px 0 10px 20px;}
    .schedule_area tbody td.info > div .address{margin-top: 5px;}
    .schedule_area tbody td.info > div .num{margin-top: 5px;}
    .schedule_area tbody td.info > div:nth-child(3){display: none;}
    .schedule_area tbody td.info > div.state .btn_state{right: 13px;}
    .schedule_area tbody td.info > div.state .btn_state img{width: 14px;}
    .schedule_area tbody .state > .cont{font-size: 0.875em;height: 24px;line-height: 24px;width: 40px;}
}

@media all and (max-width:479px){
    /*프로그램*/
    .thumnail_area > div .thumnail_list > div .cont .cont_top > a{font-size:1.063em;}
    .thumnail_area > div .thumnail_list > div .cont strong{font-size:1em; margin-top: 7px;}
    .thumnail_area > div .thumnail_list > div .cont .cont_date p{font-size: 0.875em;}

    

}

@media all and (min-width: 320px) and (max-width: 339px){
}
