@charset "UTF-8";

@media print {
	/* @page {size: A4; page-break-after: always;} */
	body {color : #000000; background : #FFFFFF;  font-size : 12pt;} 
	body > a{text-decoration : underline;}
	#hd_wrap {display: none;}
	.footer_wrap {display: none;}
	.visual_wrap {display: none;}
	.quick_wrap {display: none;}
	.sub_wrap {padding-top: 0;}

	.content {padding-bottom: 0 !important;}
	.container {width: 991px !important; margin-bottom:0;}
	}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}