@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
}

form {
    .search-box {
        position: relative;
        display: flex;
        input {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            width: $width-wide;
            color: black;
        }
        .search{
            position: absolute;
            top: -18px;
            left: 0;
            img {
                width: 30px;
            }
        }
    }
}

#palace-txt {
    .palace-box {
        @include responsive(large-screens) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .palace-img {
            @include responsive(large-screens) {
                width: 60%;
                padding-right: 24px;
                height: 100%;
            }
            img {
                width: $width-wide;
            }
        }
        .palace-text {
            @include responsive(large-screens) {
                width: 50%;
            }
            h1 {
                font-size: 48px;
                font-family: $font-medium;
                padding: 24px 0;
                .gyeong {
                    font-family: $font-extra;
                }
            }
            .see {
                width: 93px;
                background-color: #c58b38;
                border-radius: 5px;
                color: white;
                text-align: center;
                padding: 4px;
                font-size: 20px;
                font-family: $font-semibold;
            }
            .time {
                font-size: 24px;
                font-family: $font-extra-bold;
            }
            .end {
                color: #aaaaaa;
                font-family: $font-medium;
                font-size: 24px;
            }
            p {
                font-size: 22px;
                font-family: $font-pre-regular;
                padding: 24px 0;
            }
        }
    }
}

#program {
    padding-top: 33px;
    background-color: #f8efe0;
    .program-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 24px;
            font-family: $font-pre-bold;
            border-bottom: 2px solid black;
            width: 8.2%;
            text-align: center;
            margin-bottom: 32px;
        }
        a {
            img {
                width: 30px;
            }
        }
    }
    .program-box {
        padding-bottom: 56px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 24px;
        justify-content: space-between;
        @include responsive(large-screens) {
            grid-template-columns: repeat(4,1fr);
        }
        .program01, .program02, .program03, .program04 {
            position: relative;
            img {
                width: 100%;
                border-radius: 10px;
            }
            .desc {
                width: $width-wide;
                border-radius: 0 0 10px 10px;
                background-color: #2f2411;
                position: absolute; 
                bottom: 68px;
                opacity: 70%;
                color: white;
                padding: 10px;
                .red-green {
                    .red {
                        background-color: #a5161a;
                    }
                    .green {
                        background-color: #20783c;
                    }
                }
            }
            .gray {
                margin-top: 25px;
                a {
                    margin: 15px;
                    margin: 0 auto;
                    text-align: center;
                    background-color: #d7d2c4;
                    width: 180px;
                    border-radius: 20px;
                    p {
                        padding: 5px;
                        color: #66635d;
                        font-family: $font-regular;
                    }
                }
            }
            .brown {
                margin-top: 25px;
                a {
                    margin: 0 auto;
                    text-align: center;
                    background-color: #2f2411;
                    width: 180px;
                    border-radius: 20px;
                    p {
                        padding: 5px;
                        color: white;
                        font-family: $font-regular;
                        
                    }
                }
            }
        }    
    }
}

#notice {
    width: $width-wide;
    @include responsive(large-screens) {
        margin-top: 103px;
    }
    h2 {
        font-size: 24px;
        font-family: $font-pre-bold;
        border-bottom: 2px solid black;
        width: 8.2%;
        text-align: center;
        margin-bottom: 32px;
    }
    .notice {
        display: flex;
        flex-direction: row;
        position: relative;
        width: $width-wide;
        overflow: hidden; 
        @include responsive(large-screens) {
            flex-direction: column;
        }
        .notice-box1, .notice-box2 {
            flex: 1;
            min-width: 75%;
            height: 256px;
            position: relative;
        }
        .notice-box1 {
            width: 100%;
            height: 100%;
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            display: flex;
            z-index: 2;
            .notice-img {

                img {
                    width: $width-wide;
                    height: auto;
                }
            }
            .notice_txt {
                width: $width-wide;
            }
        }
        .notice-box2 {
            width: $width-wide;
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            display: flex;
            z-index: 1;
            transform: scale(0.9);
            // transform: translateX(50%);
            .notice-img {
                width: 100%;
                img {
                    width: $width-wide;
                }
            }
            .notice_txt {
                width: 60%;
            }
        }
        .notice-box3 {
            display: none;
            @include responsive(large-screens) {
                display: flex;
                width: $width-wide;
                .notice-img {
                    width: $width-wide;
                    img {
                        width: $width-wide;
                    }
                }
                .notice_txt {
                    width: 60%;
                }
            }
        }
        a {
            p {
                text-align: right;
                float: right;
            }
        }   
    }
}

#gallery {
    @include responsive(large-screens) {
        padding-top: 220px;
    }
    h2 {
        font-size: 24px;
        font-family: $font-pre-bold;
        border-bottom: 2px solid black;
        width: 8.2%;
        text-align: center;
        margin-bottom: 32px;
    }
    .gallery-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $width-wide;
        position: relative;
        overflow: hidden;
        
        img {
            position: relative;
            height: 100%;
            min-width: 70%;
            flex: 1;
            @include responsive(large-screens) {
                min-width: 33%;
            }
        }
        
        img:nth-child(1), img:nth-child(3) {
            transform: scale(0.9);
            opacity: 0.5;
            z-index: 1;
        }
        @include responsive(large-screens) {
            img:nth-child(4), img:nth-child(5), img:nth-child(6) {
                transform: scale(0.9);
                opacity: 0.5;
                z-index: 1;
            }
        }
        
        img:nth-child(2) {
            z-index: 2;
        }
        
        img:nth-child(4),
        img:nth-child(5),
        img:nth-child(6) {
            display: none;
            @include responsive(large-screens) {
                display: flex;

            }
        }
    } 
}