@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/mixin.scss";
@import "../../scss/style.scss";
@import "../../header_footer/scss/header_footer.scss";

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 32px auto;
    padding: 0 32px;
}
.modal-overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

    
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background: #251a06;
        padding: 40px;
        width: 300px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(#251a06, 0.3);
        z-index: 101;

        @include responsive(large-screens) {
            width: 600px;
        }
        
        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            
            &::after {
                content: "";
                display: table; 
                clear: both;
            }
        
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(#ffbe0f, 0.25);
            color: white;
            font-size: 20px;
            font-family: $font-pre-regular;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.5s ease;
            
            &:hover {
                background: #f1ebde;
                color: #ffbe0f;
            }
        }
        
        .active a {
            background: #f1ebde;
            color: white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;

        @include responsive(large-screens) {
            font-size: 36px;
        }
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: white;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        
        .req {
            margin: 2px;
            color: #ffbe0f;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: white;
    }
    
    input, textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        background: none;
        background-image: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        
        &:focus {
            outline: 0;
            border-color: #f1ebde;
        }

        @include responsive(large-screens) {
            font-size: 22px;
            padding: 5px 10px;
        }
    }
    
    textarea {
        border: 2px solid #333;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #f1ebde;
        color: white;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        
        &:hover, &:focus {
            background: #f1ebde;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
        
        a {
            color: white;
            font-size: 16px;
        }

        @include responsive(large-screens) {
            
            a {
                font-size: 24px;
            }
        }
    }
}


// ** mobile finish

// ==== title ====
section.title {
    margin-bottom: 32px;

    display: flex;
    justify-content: space-between;
    align-items: end;

    h2 { 
        width: 23%;
        font-size: 22px; 
        // border-bottom: 1px solid $basic-brown;

        @include responsive(large-screens) {
            width: 50%;
            font-size: 36px;
        }
    }

    .lnb {
        display: flex;
        a {
            padding-bottom: 4px;
            font-size: 14px;
            margin-left: 6px;

            @include responsive(large-screens) {
                margin-left: 16px;
                font-size: 16px;
            }
        }
        a:hover {
            color: $basic-yellow;
        }
    }  // lnb
    
    h2 > .english {
        display: none;
        
        @include responsive(large-screens) {
            display: inline;
            color: $background-lightgray;
            font-weight: lighter;
        }
    }
}

// ==== gallery ====
.gallery {
    overflow: hidden;
    width: 100%;
    #slide {
        position: relative; 
        display: flex; 
        width: 500%;
        transition: transform 0.5s ease-in-out;
        margin-bottom: 32px;
        li {
            width: 20%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


// ==== time ====
section.time {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 56px;

    .title {
        position: relative;
        width: 25%;
        font-size: 16px;
        font-weight: bold;
        .underline {
            position: absolute;
            bottom: -4px; left: 0;
            width: 65px; height: 2px;
            background-color: $basic-brown;
        }

        @include responsive(large-screens) {
            width: 13%;
        }
    }

    .conbox {
        width: 70%;

        .select-month {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 24px;

            div {  //오른쪽 정렬
                padding: 4px 12px;
                margin: 0 8px 4px 0;
                border: 1px solid $basic-gray;
                border-radius: 16px;
                font-size: 14px;
                cursor: pointer;

                @include responsive(large-screens) {
                    padding: 4px 24px;
                    margin-right: 12px;
                }
            }

            .selected {
                color: $basic-yellow;
                background-color: $basic-brown;
            }
        } // select-month

        .open-time {
            font-size: 20px;
            font-weight: bold;
        }
        .last-enter {
            font-size: 20px;
        }
        .info {
            font-size: 16px;
            line-height: 1.2;
            .light {
                color: $basic-gray;
                font-size: 14px;
            }
        }  // info

        @include responsive(large-screens) {
            width: 85%;
        }

    }  // conbox
}

// ==== programs ====
section.programs {
    background-color: #f8efe0;
    padding: 16px 0;
    // margin-bottom: 56px;
}

section.programs > .container {
    @include responsive(large-screens) {
        display: flex;
        justify-content: space-between;

        .title-icon {
            width: 13%;
        }

        .program-list {
            width: 85%;
        }
    }
}

.title-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    
    .title {
        position: relative;
        // width: 25%;
        font-size: 16px;
        font-weight: bold;
        .underline {
            // position: absolute;
            // bottom: -4px; left: 0;
            width: 65px; height: 2.5px;
            background-color: $basic-brown;
        }
    }

    .icon {
        display: flex;
        // margin-left: 8px;
        
        img {
            width: 24px;
            margin-left: 16px;
        }
    }
}
.program-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .program01 {
        position: relative;
        width: 48%;
        // background-color: aqua;
        margin-bottom: 56px;
        
        .conbox {
            position: relative;
            margin-bottom: 24px;
            border-radius: 8px;

            img {
                width: 100%;
                border-radius: 8px;
            }
    
            .desc {
                position: absolute;
                bottom: 0;
                width: 100%; height: 45%;
                overflow: hidden;  // 애니메이션
                border-radius: 0 0 8px 8px;
                color: #fff;
                background-color: #00000090;
    
                .title {
                    margin-top: 8px;
                    font-size: 14px;
                    letter-spacing: -1px;
                    text-align: center;

                    @include responsive(large-screens) {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .period {
                    display: inline-block;
                    // letter-spacing: -1px;
                    font-size: 11px;
                    margin-left: 8px;

                    @include responsive(large-screens) {
                        display: block;
                        text-align: center;
                        font-size: 14px;
                    }
                }
                .time {
                    display: none;
                }
                .hashtag {
                    display: none;
                    margin-left: 12px;
                    padding: 8px 0;

                    @include responsive(large-screens) {
                        // display: inline-block;
                        font-size: 12px;
                        span {
                        margin-right: 8px;
                        padding: 4px 6px;
                        border-radius: 8px;
                        color: $basic-darkgray;
                        background-color: $basic-yellow;
                        }
                    }
                }
            }  // desc

            .desc:hover {
                height: 80%;
                padding-top: 24px;
                cursor: pointer;
                // border-radius: 8px;

                .title {
                    color: $basic-yellow;
                    margin-top: 0;
                }

                .time {
                    display: inline-block;
                    // letter-spacing: -1px;
                    text-align: center;
                    font-size: 11px;
                    // margin-left: 8px;

                    @include responsive(large-screens) {
                        display: block;
                        font-size: 14px;
                    }
                }
            }
        }  // conbox

        button.disable {
            position: absolute;
            left: 50%; bottom: -24px;
            transform: translateX(-50%);
            // margin: 0 auto;
            width: 50%;
            max-width: 208px;
            padding: 8px 0;
            border: 0;
            border-radius: 24px;
            font-size: 12px;
            background-color: $background-lightgray;
        }
        button.able {
            position: absolute;
            left: 50%; bottom: -24px;
            transform: translateX(-50%);
            // margin: 0 auto;
            width: 50%;
            max-width: 208px;
            padding: 8px 0;
            border: 0;
            border-radius: 24px;
            font-size: 12px;
            cursor: pointer;
            color: $basic-brown;
            background-color: $basic-yellow;
        }
    }  // program 01

    @include responsive(large-screens) {
        justify-content: start;
        flex-wrap: nowrap;
        
        .program01 {
            margin-right: 24px;
            width: 24%;
        }
    }

    // .program01:hover {
    //     .hashtag {
    //         display: inline-block;
    //     }
    // }
}  // program list

// ==== detail ====
section.detail {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;

    .title {
        position: relative;
        // width: 25%;
        font-size: 16px;
        font-weight: bold;
        .underline {
            position: absolute;
            bottom: -4px; left: 0;
            width: 65px; height: 2px;
            background-color: $basic-brown;
        }

        @include responsive(large-screens) {
            width: 13%;
        }
    }

    p.detail {
        width: 70%;
        font-size: 14px;

        @include responsive(large-screens) {
            width: 85%;
            font-size: 16px;
        }
    }
}

// ==== address ====
section.address {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 56px;

    .title {
        position: relative;
        // width: 25%;
        font-size: 16px;
        font-weight: bold;
        span {
            letter-spacing: 30px;
        }
        .underline {
            position: absolute;
            bottom: -4px; left: 0;
            width: 65px; height: 2px;
            background-color: $basic-brown;
        }
    }

    p.address {
        width: 70%;

        font-size: 20px;
        font-weight: bold;

        @include responsive(large-screens) {
            width: 85%;
        }
    }
}

// ==== additional ====
section.additional {
    display: flex;
    justify-content: space-between;

    div.first {
        color: #fff;
        background-color: $basic-brown;
    }

    div.transp {
        width: 100%;
        padding: 24px;
        .add-menu {
            display: flex;
            margin-bottom: 40px;

            div {
                margin: 13px 16px 0 0;
                padding-top: 8px;
            }
            .selected {
                font-weight: bold;
                border-top: 2px solid $basic-yellow;
                color: $basic-yellow;
                margin-bottom: 12px;
            }
            // .title-price, .title-parking {
            //     border-top: 2px solid $basic-brown;
            // }
            div:hover {
                cursor: pointer;
                color: $basic-yellow;
            }
        }  // add menu

        .addition-conbox {
            .text-yellow {
                display: flex;
                // justify-content: space-between;
                margin-bottom: 12px;

                .title {
                    width: 20%;
                    // margin-right: 16px;
                    font-size: 14px;
                    font-weight: bold;

                    @include responsive(large-screens) {
                        width: 7%;
                    }
                }
                .details {
                    width: 80%;
                    p {
                        font-size: 14px;
                        line-height: 1.3;
                    }
                    @include responsive(large-screens) {
                        width: 93%;
                    }
                }
                .station {
                    margin-right: 24px;
                    color: $basic-yellow;
                }
            }

            .additional-info {
                margin-top: 8px;
                font-size: 14px;
                color: white;
                opacity: 0.8;
            }
        }

        // @include responsive(large-screens) {
        //     width: 49%;
        //     .title-price, .title-parking {
        //         display: none;
        //     }
        //     p { font-size: 16px; }
        // }
    }  // div.transp

    div.price, div.parking {
        display: none;
       
        // @include responsive(large-screens) {
        //     display: block;
        //     width: 23%;
        //     border: 1px solid $background-lightgray;

        //     .title {
        //         margin: 13px 0 0 16px;
        //         padding-top: 8px;
        //     }
        // }
    }
}
