@charset "UTF-8";
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  z-index: 100; /* 모달이 다른 요소들 위에 나타나도록 함 */
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: #251a06;
  padding: 40px;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(37, 26, 6, 0.3);
  z-index: 101;
}
@media (min-width: 1024px) {
  .form {
    width: 600px;
  }
}
.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.form .tab-group::after {
  content: "";
  display: table;
  clear: both;
}
.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(255, 190, 15, 0.25);
  color: white;
  font-size: 20px;
  font-family: "Pretendard-Regular";
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.form .tab-group li a:hover {
  background: #f1ebde;
  color: #ffbe0f;
}
.form .tab-group .active a {
  background: #f1ebde;
  color: white;
}
.form .tab-content > div:last-child {
  display: none;
}
.form h1 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 40px;
}
@media (min-width: 1024px) {
  .form h1 {
    font-size: 36px;
  }
}
.form label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: white;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.form label .req {
  margin: 2px;
  color: #ffbe0f;
}
.form label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}
.form label.highlight {
  color: white;
}
.form input, .form textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #333;
  color: white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.form input:focus, .form textarea:focus {
  outline: 0;
  border-color: #f1ebde;
}
@media (min-width: 1024px) {
  .form input, .form textarea {
    font-size: 22px;
    padding: 5px 10px;
  }
}
.form textarea {
  border: 2px solid #333;
  resize: vertical;
}
.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.form .top-row::after {
  content: "";
  display: table;
  clear: both;
}
.form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.form .top-row > div:last-child {
  margin: 0;
}
.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #f1ebde;
  color: white;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.form .button:hover, .form .button:focus {
  background: #f1ebde;
}
.form .button-block {
  display: block;
  width: 100%;
}
.form .forgot {
  margin-top: -20px;
  text-align: right;
}
.form .forgot a {
  color: white;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .form .forgot a {
    font-size: 24px;
  }
}

hr {
  display: none;
}
@media (min-width: 1024px) {
  hr {
    display: block;
    margin: 135px 0;
    width: 100%;
  }
}

.fi-intro h2 {
  display: none;
}
.fi-intro h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  margin-top: 32px;
}
.fi-intro .subinfo {
  font-size: 28px;
  font-family: "KimjungchulMyungjo-Regular";
  margin: 40px 0;
  text-align: center;
}
.fi-intro img {
  width: 100%;
  margin: 45px auto;
}
.fi-intro .info1 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
  margin-bottom: 55px;
}
@media (min-width: 1024px) {
  .fi-intro h2 {
    display: block;
    text-align: left;
    font-size: 48px;
    font-family: "Pretendard-Bold";
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
  }
  .fi-intro h3 {
    text-align: left;
    font-size: 24px;
    font-family: "Pretendard-Bold";
    text-decoration-thickness: 3px;
    margin-top: 130px;
    margin-bottom: 45px;
  }
  .fi-intro img {
    width: 610px;
    display: block;
    margin: 40px auto;
  }
  .fi-intro .info1 {
    line-height: 2;
  }
}

.rogo-type {
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;
}
.rogo-type h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.rogo-type img {
  width: 100%;
  margin: 45px auto;
}
.rogo-type .info2 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .rogo-type {
    background-color: white;
    padding: 0;
  }
  .rogo-type h3 {
    font: 24px;
    font-family: "Pretendard-Bold";
    text-decoration-thickness: 3px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .rogo-type img {
    width: 360px;
    float: left;
    margin: 130px 0 0;
  }
  .rogo-type .info2 {
    text-align: right;
    line-height: 2;
  }
}

.main-symbolmark {
  margin-top: 45px;
}
.main-symbolmark h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.main-symbolmark img {
  width: 100%;
  margin: 45px auto;
}
.main-symbolmark .info3 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .main-symbolmark h3 {
    text-align: right;
    font: 24px "Pretendard" "bold";
    text-decoration-thickness: 3px;
    margin-top: 130px;
  }
  .main-symbolmark img {
    display: block;
    width: 240px;
    float: right;
    margin: 66px 0 0;
  }
  .main-symbolmark .info3 {
    text-align: left;
    line-height: 2;
  }
}

.main-signature {
  background-color: #f1f1f1;
  padding-top: 45px;
  padding-bottom: 40px;
}
.main-signature h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.main-signature img {
  width: 100%;
  margin: 45px auto;
}
.main-signature .info4 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .main-signature {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-signature h3 {
    text-align: left;
    font: 30px "Pretendard" "bold";
    text-decoration-thickness: 3px;
  }
  .main-signature img {
    width: 404px;
    float: left;
    margin: 45px 0 0;
  }
  .main-signature .info4 {
    text-align: right;
    line-height: 2;
  }
}

.useno-box {
  display: none;
}
@media (min-width: 1024px) {
  .useno-box {
    display: block;
  }
  .useno-box .useno {
    margin: 130px auto 100px;
  }
  .useno-box .useno h2 {
    font-size: 48px;
    font-family: "Pretendard-Medium";
    text-align: center;
  }
  .useno-box .useno-ex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .useno-box .useno-ex .grid-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .useno-box .useno-ex div:nth-child(4) {
    width: 358px;
    height: 269px;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.center-container .buttons {
  display: flex;
}
.center-container .buttons .download {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #ffbe0f;
  color: white;
  border: none;
  font-size: 21px;
  font-family: "Pretendard-Medium";
  cursor: pointer;
}
@media (min-width: 1024px) {
  .center-container {
    height: 30vh;
  }
  .center-container .buttons {
    display: flex;
  }
  .center-container .buttons .download {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #ffbe0f;
    color: white;
    border: none;
    font-size: 28px;
    font-family: "Pretendard-Medium";
    cursor: pointer;
  }
}/*# sourceMappingURL=fi-intro.css.map */