hr {
  display: none;
}
@media (min-width: 1024px) {
  hr {
    display: block;
    margin: 135px 0;
    width: 100%;
  }
}

.fi-intro h2 {
  display: none;
}
.fi-intro h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  margin-top: 32px;
}
.fi-intro .subinfo {
  font-size: 28px;
  font-family: "KimjungchulMyungjo-Regular";
  margin: 40px 0;
  text-align: center;
}
.fi-intro img {
  width: 100%;
  margin: 45px auto;
}
.fi-intro .info1 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
  margin-bottom: 55px;
}
@media (min-width: 1024px) {
  .fi-intro h2 {
    display: block;
    text-align: left;
    font-size: 48px;
    font-family: "Pretendard-Bold";
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
  }
  .fi-intro h3 {
    text-align: left;
    font-size: 24px;
    font-family: "Pretendard-Bold";
    text-decoration-thickness: 3px;
    margin-top: 130px;
    margin-bottom: 45px;
  }
  .fi-intro img {
    width: 610px;
    display: block;
    margin: 40px auto;
  }
  .fi-intro .info1 {
    line-height: 2;
  }
}

.rogo-type {
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;
}
.rogo-type h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.rogo-type img {
  width: 100%;
  margin: 45px auto;
}
.rogo-type .info2 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .rogo-type {
    background-color: white;
    padding: 0;
  }
  .rogo-type h3 {
    font: 24px;
    font-family: "Pretendard-Bold";
    text-decoration-thickness: 3px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .rogo-type img {
    width: 360px;
    float: left;
    margin: 130px 0 0;
  }
  .rogo-type .info2 {
    text-align: right;
    line-height: 2;
  }
}

.main-symbolmark {
  margin-top: 45px;
}
.main-symbolmark h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.main-symbolmark img {
  width: 100%;
  margin: 45px auto;
}
.main-symbolmark .info3 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .main-symbolmark h3 {
    text-align: right;
    font: 24px "Pretendard" "bold";
    text-decoration-thickness: 3px;
    margin-top: 130px;
  }
  .main-symbolmark img {
    display: block;
    width: 240px;
    float: right;
    margin: 66px 0 0;
  }
  .main-symbolmark .info3 {
    text-align: left;
    line-height: 2;
  }
}

.main-signature {
  background-color: #f1f1f1;
  padding-top: 45px;
  padding-bottom: 40px;
}
.main-signature h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Pretendard-Bold";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.main-signature img {
  width: 100%;
  margin: 45px auto;
}
.main-signature .info4 {
  text-align: center;
  font-size: 24px;
  font-family: "KimjungchulMyungjo-Regular";
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .main-signature {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-signature h3 {
    text-align: left;
    font: 30px "Pretendard" "bold";
    text-decoration-thickness: 3px;
  }
  .main-signature img {
    width: 404px;
    float: left;
    margin: 45px 0 0;
  }
  .main-signature .info4 {
    text-align: right;
    line-height: 2;
  }
}

.useno-box {
  display: none;
}
@media (min-width: 1024px) {
  .useno-box {
    display: block;
  }
  .useno-box .useno {
    margin: 130px auto 100px;
  }
  .useno-box .useno h2 {
    font-size: 48px;
    font-family: "Pretendard-Medium";
    text-align: center;
  }
  .useno-box .useno-ex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .useno-box .useno-ex .grid-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .useno-box .useno-ex div:nth-child(4) {
    width: 358px;
    height: 269px;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.center-container .buttons {
  display: flex;
}
.center-container .buttons .download {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #ffbe0f;
  color: white;
  border: none;
  font-size: 21px;
  font-family: "Pretendard-Medium";
  cursor: pointer;
}
@media (min-width: 1024px) {
  .center-container {
    height: 30vh;
  }
  .center-container .buttons {
    display: flex;
  }
  .center-container .buttons .download {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #ffbe0f;
    color: white;
    border: none;
    font-size: 28px;
    font-family: "Pretendard-Medium";
    cursor: pointer;
  }
}/*# sourceMappingURL=fi-intro.css.map */