@charset "UTF-8";
.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
}

form .search-box {
  position: relative;
  display: flex;
}
form .search-box input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  color: black;
}
form .search-box .search {
  position: absolute;
  top: -18px;
  left: 0;
}
form .search-box .search img {
  width: 30px;
}

@media (min-width: 1024px) {
  #palace-txt .palace-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  #palace-txt .palace-box .palace-img {
    width: 60%;
    padding-right: 24px;
    height: 100%;
  }
}
#palace-txt .palace-box .palace-img img {
  width: 100%;
}
@media (min-width: 1024px) {
  #palace-txt .palace-box .palace-text {
    width: 50%;
  }
}
#palace-txt .palace-box .palace-text h1 {
  font-size: 48px;
  font-family: "Pretendard-Medium";
  padding: 24px 0;
}
#palace-txt .palace-box .palace-text h1 .gyeong {
  font-family: "Pretendard-ExtraLight";
}
#palace-txt .palace-box .palace-text .see {
  width: 93px;
  background-color: #c58b38;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 4px;
  font-size: 20px;
  font-family: "Pretendard-SemiBold";
}
#palace-txt .palace-box .palace-text .time {
  font-size: 24px;
  font-family: "Pretendard-ExtraBold";
}
#palace-txt .palace-box .palace-text .end {
  color: #aaaaaa;
  font-family: "Pretendard-Medium";
  font-size: 24px;
}
#palace-txt .palace-box .palace-text p {
  font-size: 22px;
  font-family: "Pretendard-Regular";
  padding: 24px 0;
}

#program {
  padding-top: 33px;
  background-color: #f8efe0;
}
#program .program-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#program .program-title h2 {
  font-size: 24px;
  font-family: "Pretendard-Bold";
  border-bottom: 2px solid black;
  width: 8.2%;
  text-align: center;
  margin-bottom: 32px;
}
#program .program-title a img {
  width: 30px;
}
#program .program-box {
  padding-bottom: 56px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 24px;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  #program .program-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
#program .program-box .program01, #program .program-box .program02, #program .program-box .program03, #program .program-box .program04 {
  position: relative;
}
#program .program-box .program01 img, #program .program-box .program02 img, #program .program-box .program03 img, #program .program-box .program04 img {
  width: 100%;
  border-radius: 10px;
}
#program .program-box .program01 .desc, #program .program-box .program02 .desc, #program .program-box .program03 .desc, #program .program-box .program04 .desc {
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: #2f2411;
  position: absolute;
  bottom: 68px;
  opacity: 70%;
  color: white;
  padding: 10px;
  transform: translateY(0); /* 초기 위치 */
  transition: transform 0.3s ease;
}
#program .program-box .program01 .desc .period-time, #program .program-box .program02 .desc .period-time, #program .program-box .program03 .desc .period-time, #program .program-box .program04 .desc .period-time {
  display: flex;
}
#program .program-box .program01 .desc .red-green, #program .program-box .program02 .desc .red-green, #program .program-box .program03 .desc .red-green, #program .program-box .program04 .desc .red-green {
  display: none;
}
#program .program-box .program01 .desc .red-green .red, #program .program-box .program02 .desc .red-green .red, #program .program-box .program03 .desc .red-green .red, #program .program-box .program04 .desc .red-green .red {
  background-color: #a5161a;
  font-size: 15px;
  font-family: "Pretendard-Regular";
  border-radius: 5px;
  padding: 1px 7px;
}
#program .program-box .program01 .desc .red-green .green, #program .program-box .program02 .desc .red-green .green, #program .program-box .program03 .desc .red-green .green, #program .program-box .program04 .desc .red-green .green {
  background-color: #20783c;
  font-size: 15px;
  font-family: "Pretendard-Regular";
  border-radius: 5px;
  padding: 1px 7px;
}
#program .program-box .program01:hover .desc, #program .program-box .program02:hover .desc, #program .program-box .program03:hover .desc, #program .program-box .program04:hover .desc { /* 부모 요소에 호버 효과 적용 */
  transform: translateY(0); /* 호버 시 위로 이동하도록 설정 */
}
#program .program-box .program01:hover .desc .red-green, #program .program-box .program02:hover .desc .red-green, #program .program-box .program03:hover .desc .red-green, #program .program-box .program04:hover .desc .red-green {
  display: block;
}
#program .program-box .program01 .gray, #program .program-box .program02 .gray, #program .program-box .program03 .gray, #program .program-box .program04 .gray {
  margin-top: 25px;
}
#program .program-box .program01 .gray a, #program .program-box .program02 .gray a, #program .program-box .program03 .gray a, #program .program-box .program04 .gray a {
  margin: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: #d7d2c4;
  width: 180px;
  border-radius: 20px;
}
#program .program-box .program01 .gray a p, #program .program-box .program02 .gray a p, #program .program-box .program03 .gray a p, #program .program-box .program04 .gray a p {
  padding: 5px;
  color: #66635d;
  font-family: "KimjungchulMyungjo-Regular";
}
#program .program-box .program01 .brown, #program .program-box .program02 .brown, #program .program-box .program03 .brown, #program .program-box .program04 .brown {
  margin-top: 25px;
}
#program .program-box .program01 .brown a, #program .program-box .program02 .brown a, #program .program-box .program03 .brown a, #program .program-box .program04 .brown a {
  margin: 0 auto;
  text-align: center;
  background-color: #2f2411;
  width: 180px;
  border-radius: 20px;
}
#program .program-box .program01 .brown a p, #program .program-box .program02 .brown a p, #program .program-box .program03 .brown a p, #program .program-box .program04 .brown a p {
  padding: 5px;
  color: white;
  font-family: "KimjungchulMyungjo-Regular";
}

#notice {
  width: 100%;
}
@media (min-width: 1024px) {
  #notice {
    margin-top: 103px;
  }
}
#notice h2 {
  font-size: 24px;
  font-family: "Pretendard-Bold";
  border-bottom: 2px solid black;
  width: 8.2%;
  text-align: center;
  margin-bottom: 32px;
}
#notice .notice {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1024px) {
  #notice .notice {
    flex-direction: column;
  }
}
#notice .notice .notice-box1, #notice .notice .notice-box2 {
  flex: 1;
  min-width: 75%;
  position: relative;
}
#notice .notice .notice-box1 {
  width: 100%;
  padding: 38px 0;
  border-top: 3px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  display: flex;
  align-items: center;
  z-index: 2;
}
#notice .notice .notice-box1 .notice-img {
  width: 50%;
}
#notice .notice .notice-box1 .notice-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#notice .notice .notice-box1 .notice_txt {
  width: 50%;
  padding-left: 24px;
}
#notice .notice .notice-box1 .notice_txt h3 {
  font-size: 20px;
  font-family: "Pretendard-Medium";
  padding-bottom: 15px;
}
#notice .notice .notice-box1 .notice_txt h4 {
  display: none;
}
#notice .notice .notice-box1 .notice_txt .notice-txt1, #notice .notice .notice-box1 .notice_txt .notice-txt2 {
  font-size: 12px;
  font-family: "Pretendard-Light";
  color: #aaaaaa;
}
#notice .notice .notice-box1 .notice_txt .date {
  font-size: 12px;
  font-family: "Pretendard-Light";
  float: right;
}
#notice .notice .notice-box2 {
  margin-left: 24px;
  width: 100%;
  height: 100%;
  padding: 38px 0;
  border-top: 3px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  display: flex;
  align-items: center;
  z-index: 1;
}
#notice .notice .notice-box2 .notice-img {
  width: 50%;
}
#notice .notice .notice-box2 .notice-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#notice .notice .notice-box2 .notice_txt {
  width: 50%;
  padding-left: 24px;
}
#notice .notice .notice-box2 .notice_txt h3 {
  font-size: 20px;
  font-family: "Pretendard-Medium";
  padding-bottom: 15px;
}
#notice .notice .notice-box2 .notice_txt h4 {
  display: none;
}
#notice .notice .notice-box2 .notice_txt .notice-txt1, #notice .notice .notice-box2 .notice_txt .notice-txt2 {
  font-size: 12px;
  font-family: "Pretendard-Light";
  color: #aaaaaa;
}
#notice .notice .notice-box2 .notice_txt .date {
  font-size: 12px;
  font-family: "Pretendard-Light";
  float: right;
}
#notice .notice .notice-box3 {
  display: none;
}
@media (min-width: 1024px) {
  #notice .notice .notice-box3 {
    width: 100%;
    padding: 38px 0;
    border-top: 3px solid #eeeeee;
    border-bottom: 3px solid #eeeeee;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  #notice .notice .notice-box3 .notice-img {
    width: 50%;
  }
  #notice .notice .notice-box3 .notice-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #notice .notice .notice-box3 .notice_txt {
    width: 50%;
    padding-left: 24px;
  }
  #notice .notice .notice-box3 .notice_txt h3 {
    font-size: 20px;
    font-family: "Pretendard-Medium";
    padding-bottom: 15px;
  }
  #notice .notice .notice-box3 .notice_txt h4 {
    display: none;
  }
  #notice .notice .notice-box3 .notice_txt .notice-txt1, #notice .notice .notice-box3 .notice_txt .notice-txt2 {
    font-size: 12px;
    font-family: "Pretendard-Light";
    color: #aaaaaa;
  }
  #notice .notice .notice-box3 .notice_txt .date {
    font-size: 12px;
    font-family: "Pretendard-Light";
    float: right;
  }
}
#notice .notice .notice-plus {
  display: none;
}
#notice .notice .notice-plus a {
  font-size: 0;
}

@media (min-width: 1024px) {
  #gallery {
    padding-top: 220px;
  }
}
#gallery h2 {
  font-size: 24px;
  font-family: "Pretendard-Bold";
  border-bottom: 2px solid black;
  width: 8.2%;
  text-align: center;
  margin-bottom: 32px;
}
#gallery .gallery-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#gallery .gallery-box img {
  position: relative;
  height: 100%;
  min-width: 70%;
  flex: 1;
}
@media (min-width: 1024px) {
  #gallery .gallery-box img {
    min-width: 33%;
  }
}
#gallery .gallery-box img:nth-child(1), #gallery .gallery-box img:nth-child(3) {
  transform: scale(0.9);
  opacity: 0.5;
  z-index: 1;
}
@media (min-width: 1024px) {
  #gallery .gallery-box img:nth-child(4), #gallery .gallery-box img:nth-child(5), #gallery .gallery-box img:nth-child(6) {
    transform: scale(0.9);
    opacity: 0.5;
    z-index: 1;
  }
}
#gallery .gallery-box img:nth-child(2) {
  z-index: 2;
}
#gallery .gallery-box img:nth-child(4),
#gallery .gallery-box img:nth-child(5),
#gallery .gallery-box img:nth-child(6) {
  display: none;
}
@media (min-width: 1024px) {
  #gallery .gallery-box img:nth-child(4),
  #gallery .gallery-box img:nth-child(5),
  #gallery .gallery-box img:nth-child(6) {
    display: flex;
  }
}/*# sourceMappingURL=메인 검색.css.map */