@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic-regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* *:before, * *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1416px;
  margin: 32px auto;
  padding: 0 32px;
}

ul, ol, li {
  list-style: none;
}

section.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
section.title h2 {
  font-size: 20px;
}
@media (min-width: 1024px) {
  section.title h2 {
    font-size: 48px;
  }
}
section.title .filter {
  display: flex;
}
section.title .filter img {
  width: 20px;
  height: 20px;
  margin-left: 12px;
}
@media (min-width: 1024px) {
  section.title .filter img {
    width: 32px;
    height: 32px;
  }
}

section.popular {
  margin-bottom: 72px;
}
section.popular .section-name {
  display: none;
  font-size: 16px;
  margin-bottom: 40px;
}
section.popular .poster {
  position: relative;
  overflow: hidden;
}
section.popular .poster .selected {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
section.popular .poster img {
  width: 100%;
  margin: 0 auto 16px;
}
section.popular .poster .program1 {
  position: absolute;
  left: -260px;
  top: 50%;
  transform: translateY(-50%);
}
section.popular .poster .program1 img {
  width: 280px;
  opacity: 0.5;
}
section.popular .poster .program1 .program-desc {
  display: none;
}
section.popular .poster .program3 {
  position: absolute;
  right: -260px;
  top: 50%;
  transform: translateY(-50%);
}
section.popular .poster .program3 img {
  width: 280px;
  opacity: 0.5;
}
section.popular .poster .program3 .program-desc {
  display: none;
}
section.popular .poster .program4, section.popular .poster .program5 {
  display: none;
}
@media (min-width: 1024px) {
  section.popular .poster {
    width: 100%;
    display: none;
  }
}
section.popular .poster-web {
  display: none;
}
@media (min-width: 1024px) {
  section.popular .poster-web {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  section.popular .poster-web li {
    width: 19%;
  }
  section.popular .poster-web li img {
    width: 100%;
  }
}
section.popular .slide-box {
  margin: 0 35% 16px;
  justify-content: space-between;
  display: flex;
}
section.popular .slide-box div {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #eaeaea;
}
section.popular .slide-box .selected {
  width: 32px;
}
@media (min-width: 1024px) {
  section.popular .slide-box {
    display: none;
  }
}
section.popular .program-desc {
  margin: 0 16px;
  border-radius: 8px;
  background-color: #eaeaea;
}
section.popular .program-desc .title {
  margin: 0 auto;
  padding: 24px 24px 8px;
  display: flex;
  justify-content: space-between;
}
section.popular .program-desc .title .name {
  font-size: 16px;
  font-weight: bold;
}
section.popular .program-desc .title .tag {
  margin-top: -6px;
}
section.popular .program-desc .title .tag span {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  background-color: #ffbe0f;
}
section.popular .program-desc .place-period {
  padding: 0 0 24px 24px;
  display: flex;
  color: #333333;
}
section.popular .program-desc .place-period p {
  margin-right: 16px;
  font-size: 13px;
  color: #cccccc;
}
section.popular .program-desc .detail {
  padding: 0 24px 40px;
}
section.popular .program-desc .detail p {
  font-size: 14px;
}
section.popular .program-desc .button {
  padding-bottom: 40px;
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}
section.popular .program-desc .button button {
  display: inline-block;
  width: 48%;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  font-size: 12px;
  color: white;
  background-color: #2f2411;
}
@media (min-width: 1024px) {
  section.popular .program-desc {
    display: none;
  }
}

section.keyword > .hashtag {
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  width: 100%;
}
@media (min-width: 1024px) {
  section.keyword > .hashtag {
    padding: 0 0 0 20%;
    display: flex;
    justify-content: space-between;
  }
}
section.keyword > .hashtag div {
  padding: 8px;
  font-size: 12px;
  letter-spacing: -1px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 24px;
  background-color: #fff;
}
@media (min-width: 1024px) {
  section.keyword > .hashtag div {
    padding: 8px 24px;
    font-size: 16px;
  }
}
section.keyword > .hashtag .selected {
  font-weight: bold;
  color: #ffbe0f;
  background-color: #2f2411;
}

section.keyword > .program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 72px;
}
section.keyword > .program div {
  position: relative;
  width: 48%;
  margin-bottom: 16px;
  border-radius: 8px;
}
section.keyword > .program div img {
  width: 100%;
  border-radius: 8px;
}
section.keyword > .program div .desc {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  border-radius: 0 0 8px 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
@media (min-width: 1024px) {
  section.keyword > .program div .desc {
    background-color: rgba(0, 0, 0, 0.5960784314);
    height: 35%;
  }
}
section.keyword > .program div .desc .title {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  letter-spacing: -1px;
}
@media (min-width: 1024px) {
  section.keyword > .program div .desc .title {
    font-size: 18px;
  }
}
section.keyword > .program div .desc .booking {
  display: none;
}
section.keyword > .program div .desc .period {
  font-size: 12px;
  text-align: center;
}
@media (min-width: 1024px) {
  section.keyword > .program div .desc .period {
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin-top: -4px;
    font-size: 16px;
  }
}
section.keyword > .program div .desc .place {
  display: none;
}
@media (min-width: 1024px) {
  section.keyword > .program div .desc .place {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  section.keyword > .program div {
    width: 24%;
  }
}

section.place > .place-button {
  margin: 24px auto 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  width: 100%;
}
section.place > .place-button .btn-big {
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  line-height: 80px;
  background-color: #eaeaea;
}
@media (min-width: 1024px) {
  section.place > .place-button .btn-big {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  section.place > .place-button {
    grid-gap: 24px;
  }
  section.place > .place-button .btn-big:hover {
    font-weight: bold;
    color: #2f2411;
    background-color: #ffbe0f;
  }
}/*# sourceMappingURL=booking.css.map */