@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulMyungjo-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

.press_release {
  position: relative;
}
.press_release h2 {
  font: 29px "Pretendard";
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}
.press_release .s_filter {
  width: 27px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 32px;
}
@media (min-width: 1024px) {
  .press_release h2 {
    font: 48px;
  }
  .press_release .s_filter {
    right: 200px;
  }
}
.press_release .news_box1 {
  position: relative;
}
.press_release .news_box1 .press_release_box .press_release_1 {
  width: 100%;
  height: 416px;
  margin: 60px auto 200px;
}
.press_release .news_box1 .press_release_box .press_info_box {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box1 .press_release_box .press_info_box h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box1 .press_release_box .press_info_box p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box1 .press_release_box .press_info_box strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box1 .press_release_box .press_info_box .more_arrow {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
.press_release .news_box1 .press_release_box2 .press_release_2 {
  width: 100%;
  height: 416px;
  margin: 60px auto 200px;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box1 .press_release_box2 .press_info_box2 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box1 .press_release_box2 .press_info_box2 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box1 .press_release_box2 .press_info_box2 .more_arrow2 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
@media (min-width: 1024px) {
  .press_release .news_box1 {
    display: flex;
    margin-top: 120px;
  }
  .press_release .news_box1 .press_release_box {
    width: 696px;
    height: 661px;
    margin-right: 66px;
  }
  .press_release .news_box1 .press_release_box .press_release_1 {
    width: 658px;
    height: 479px;
    margin-left: 36px;
    margin-bottom: 178px;
  }
  .press_release .news_box1 .press_release_box .press_info_box {
    width: 545px;
    height: 246px;
    top: 420px;
    left: 0;
  }
  .press_release .news_box1 .press_release_box .press_info_box h3 {
    font: 24px "Kim jung chul M...";
  }
  .press_release .news_box1 .press_release_box .press_info_box p {
    font: 18px "Kim jung chul Go...";
    margin-top: 40px;
  }
  .press_release .news_box1 .press_release_box .press_info_box .more_arrow {
    top: 66.5%;
    right: 15%;
  }
  .press_release .news_box1 .press_release_box2 {
    width: 696px;
    height: 661px;
  }
  .press_release .news_box1 .press_release_box2 .press_release_2 {
    width: 658px;
    height: 479px;
    margin-left: 36px;
    margin-bottom: 178px;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 {
    width: 545px;
    height: 246px;
    top: 420px;
    right: 50px;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 h3 {
    font: 24px "Kim jung chul M...";
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 p {
    font: 18px "Kim jung chul Go...";
    margin-top: 40px;
  }
  .press_release .news_box1 .press_release_box2 .press_info_box2 .more_arrow2 {
    top: 66.5%;
    right: 15%;
  }
}
.press_release .news_box2 {
  position: relative;
}
.press_release .news_box2 .press_release_box3 .press_release_3 {
  width: 100%;
  height: 580px;
  margin: 60px auto 200px;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 {
  position: absolute;
  top: 27%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box2 .press_release_box3 .press_info_box3 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box2 .press_release_box3 .press_info_box3 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box2 .press_release_box3 .press_info_box3 .more_arrow3 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
.press_release .news_box2 .press_release_box4 .press_release_4 {
  width: 100%;
  height: 580px;
  margin: 60px auto 200px;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 {
  position: absolute;
  top: 63.5%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box2 .press_release_box4 .press_info_box4 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box2 .press_release_box4 .press_info_box4 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box2 .press_release_box4 .press_info_box4 .more_arrow4 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
.press_release .news_box2 .press_release_box5 .press_release_5 {
  width: 100%;
  height: 580px;
  margin: 60px auto 200px;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box2 .press_release_box5 .press_info_box5 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box2 .press_release_box5 .press_info_box5 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box2 .press_release_box5 .press_info_box5 .more_arrow5 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
@media (min-width: 1024px) {
  .press_release .news_box2 {
    display: flex;
  }
  .press_release .news_box2 .press_release_box3 .press_release_3 {
    width: 435px;
    height: 612px;
    margin-right: 50px;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 {
    width: 402px;
    height: 211px;
    top: 568px;
    left: 59px;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 h3 {
    font: 20px "Kim jung chul Myungjo";
    padding-top: 30px;
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 p {
    font: 24px "Kim jung chul Myungjo";
  }
  .press_release .news_box2 .press_release_box3 .press_info_box3 .more_arrow3 {
    position: absolute;
    top: 68%;
    right: 20%;
    width: 32px;
    height: 1px;
    background: #cc980f;
  }
  .press_release .news_box2 .press_release_box4 .press_release_4 {
    width: 435px;
    height: 612px;
    margin-right: 50px;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 {
    width: 402px;
    height: 211px;
    top: 568px;
    left: 40%;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 h3 {
    font: 20px "Kim jung chul Myungjo";
    padding-top: 30px;
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 p {
    font: 24px "Kim jung chul Myungjo";
  }
  .press_release .news_box2 .press_release_box4 .press_info_box4 .more_arrow4 {
    position: absolute;
    top: 68%;
    right: 20%;
    width: 32px;
    height: 1px;
    background: #cc980f;
  }
  .press_release .news_box2 .press_release_box5 .press_release_5 {
    width: 435px;
    height: 612px;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 {
    width: 402px;
    height: 211px;
    top: 568px;
    left: 76%;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 h3 {
    font: 20px "Kim jung chul Myungjo";
    padding-top: 30px;
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 p {
    font: 24px "Kim jung chul Myungjo";
  }
  .press_release .news_box2 .press_release_box5 .press_info_box5 .more_arrow5 {
    position: absolute;
    top: 68%;
    right: 20%;
    width: 32px;
    height: 1px;
    background: #cc980f;
  }
}
.press_release .news_box3 {
  position: relative;
}
.press_release .news_box3 .press_release_box6 .press_release_6 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 {
  position: absolute;
  top: 360px;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box3 .press_release_box6 .press_info_box6 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box6 .press_info_box6 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box6 .press_info_box6 .more_arrow6 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
.press_release .news_box3 .press_release_box7 .press_release_7 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box3 .press_release_box7 .press_info_box7 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box7 .press_info_box7 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box7 .press_info_box7 .more_arrow7 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
.press_release .news_box3 .press_release_box8 .press_release_8 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 {
  position: absolute;
  top: 72.5%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box3 .press_release_box8 .press_info_box8 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box8 .press_info_box8 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box8 .press_info_box8 .more_arrow8 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
.press_release .news_box3 .press_release_box9 .press_release_9 {
  width: 100%;
  height: 360px;
  margin: 60px auto 200px;
}
.press_release .news_box3 .press_release_box9 .press_info_box9 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 144px;
  background-color: #2f2411;
  padding: 20px;
}
.press_release .news_box3 .press_release_box9 .press_info_box9 h3 {
  font: 20px "Kim jung chul Myungjo";
  color: white;
}
.press_release .news_box3 .press_release_box9 .press_info_box9 p {
  margin-top: 15px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box9 .press_info_box9 strong {
  position: absolute;
  top: 62%;
  right: 20px;
  color: white;
  font: 18px "Kim jung chul Myungjo";
}
.press_release .news_box3 .press_release_box9 .press_info_box9 .more_arrow9 {
  position: absolute;
  top: 68%;
  right: 20%;
  width: 32px;
  height: 1px;
  border: 1px solid #cc980f;
}
@media (min-width: 1024px) {
  .press_release .news_box3 {
    display: flex;
  }
  .press_release .news_box3 .press_release_box6 {
    width: 336px;
    height: 401px;
  }
  .press_release .news_box3 .press_release_box6 .press_release_6 {
    width: 313px;
    height: 256px;
    margin-right: 50px;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: -1%;
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 h3 {
    font: 24px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 p {
    margin-top: 15px;
    color: white;
    font: 18px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box6 .press_info_box6 .more_arrow6 {
    top: 68%;
    right: 25%;
  }
  .press_release .news_box3 .press_release_box7 {
    width: 336px;
    height: 401px;
  }
  .press_release .news_box3 .press_release_box7 .press_release_7 {
    width: 313px;
    height: 256px;
    margin-right: 50px;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: 23.5%;
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 h3 {
    font: 24px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 p {
    margin-top: 15px;
    color: white;
    font: 18px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box7 .press_info_box7 .more_arrow7 {
    top: 68%;
    right: 25%;
  }
  .press_release .news_box3 .press_release_box8 {
    width: 336px;
    height: 401px;
  }
  .press_release .news_box3 .press_release_box8 .press_release_8 {
    width: 313px;
    height: 256px;
    margin-right: 50px;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: 48.5%;
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 h3 {
    font: 24px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 p {
    margin-top: 15px;
    color: white;
    font: 18px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box8 .press_info_box8 .more_arrow8 {
    top: 68%;
    right: 25%;
  }
  .press_release .news_box3 .press_release_box9 {
    width: 336px;
    height: 401px;
  }
  .press_release .news_box3 .press_release_box9 .press_release_9 {
    width: 313px;
    height: 256px;
    margin-right: 50px;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 {
    width: 297px;
    height: 194px;
    top: 280px;
    left: 73.5%;
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 h3 {
    font: 24px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 p {
    margin-top: 15px;
    color: white;
    font: 18px "Kim jung chul Myungjo";
  }
  .press_release .news_box3 .press_release_box9 .press_info_box9 .more_arrow9 {
    top: 68%;
    right: 25%;
  }
}
.press_release .num_arr {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 90px;
}
@media (min-width: 1024px) {
  .press_release .num_arr {
    margin: 260px auto 140px;
    font-weight: bold;
  }
}/*# sourceMappingURL=press_release.css.map */